<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<!-- Login and Regsiter new user -->
<script src="js/app.user.auth.js" charset="utf-8"></script>
<!-- Api Key Creation -->
<script src="js/app.api.key.js" charset="utf-8"></script>

</body>
</html>
