<!-- live Preview for Questions -->
<div class="question-preview qsdragged-list">
    <!-- Screen Options -->
    <!-- <span class="screen-option">
      <i class="fa fa-code"></i> <!-- fa-compress -->
    <!-- </span> -->



    <!-- Questions -->
    <div class="question-options">
<!-- ************************************************** -->
<!-- =================== Timeframe ==================== -->
<!-- ************************************************** -->

<!-- Layout A --> <!-- ==> Default -->
<!--
<div class="container-fluid quiz-status-block text-center">
    <div class="timeframe-container time-x-part">15:00 <span class="time-type">mins</span></div>
</div>
-->

<!-- Layout B -->
<!--
<div class="container-fluid quiz-status-block">
   <div class="timeframe-container">
      <div id="time-frame-pie">
         <div class="outer-shadow"></div>
         <div class="inner-shadow">
            <span>
            <span>15</span><span class="sec-min">:00</span>
            </span>
            <span>hrs</span>
         </div>
         <div class="timer">
            <div class="dot">
               <span></span>
            </div>
            <div class="hold" id="left">
               <div class="pie"></div>
            </div>
            <div class="hold" id="right">
               <div class="pie"></div>
            </div>
         </div>
      </div>
   </div>
</div>
-->

<!-- ************************************************** -->
<!-- =================== Progression bar ============== -->
<!-- ************************************************** -->

<!-- >>>>>> {A}==> Progression bars -->
<!-- Layout A --> <!-- ==> Default -->
<!--
<div class="progress up-progress-bar">
  <div class="progress-bar upprogress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    60%
  </div>
</div>
-->

<!-- Layout B -->
<!--
<div id="progress" class="graph">
  <div id="bar" style="width:34%">
    <p>34% complete</p>
  </div>
</div>
-->


<!-- >>>>>> {B} ==> Steps -->
<!-- Layout A -->
<!--
<div id="progress_survey_steps" class="progress step-default">
    <b>5/8</b>
</div>
-->

<!-- Layout B -->
<!--
  <div id="progress_survey_steps" class="progress">
      <div class="circle done">
        <span class="label">✓</span>
        <span class="title">33%</span>
      </div>
      <span class="bar done"></span>
      <div class="circle done">
        <span class="label">✓</span>
        <span class="title">66%</span>
      </div>
      <span class="bar"></span>
      <div class="circle active">
        <span class="label">3</span>
        <span class="title">100%</span>
      </div>
  </div>
-->
<div class="progress_survey_steps">
  <!-- for Append attributes -->
</div>



<div class="quiz-qs-preview ">
    <p>
        Which Binary search algorithm can not be applied to ?
    </p>



    <!-- Set up your HTML -->

    <span class="qs-description">
        This is a description of question !
    </span>
    <div class="clearFix"></div>
    <ul>
       <li class=""> <!-- default-success -->
          <span class="">
            <i class="labels">A</i>
            <span>sorted linked list</span>
            <!-- <i class="false fa fa-check"></i> -->
          </span>
       </li>
       <li>
          <span>
          <i class="labels">B</i>
          <span>sorted binary trees</span>
          </span>
       </li>
       <li class=""> <!-- default-wrong -->
          <span class="">
          <i class="labels">C</i>
          <span>sorted linear array</span>
          <!-- <i class="false fa fa-close"></i> -->
          </span>
       </li>
       <li>
          <span>
           <i class="labels">D</i>
           <span>pointer array</span>
          </span>
       </li>
    </ul>
</div>




    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- -++++++++++++++++++++++- Buttons -++++++++++++++++++++++ -->
    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <div class="controller-btns">
    <button class="btn btn-danger-outline" type="button" name="button">
      Back
    </button>
    <button class="btn btn-primary-outline" type="button" name="button">
      Continue
    </button>
    </div>



  </div>
</div>




<link ng:if="page_name == 'quiz_page'" rel="stylesheet" href="libs/owl/assets/owl.carousel.min.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script ng:if="page_name == 'quiz_page'" src="libs/owl/owl.carousel.min.js" charset="utf-8"></script>
<script type="text/javascript">
    $(document).ready(function(){
      $(".owl-carousel").owlCarousel();
    });
</script>
