html , body {
   background: #e6f5f0;
}
.form-horizontal {
  background: #fff;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 22%;
  width: 45%;
  margin: 0px auto;
  padding: 35px 35px 20px 35px;
  border: 1px solid #ddd;
  border-radius: 20px;
}
@media (max-width:600px){
  .form-horizontal {
    background: #fff;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 15%;
  width: 95%;
  margin: 0px auto;
  padding: 35px 35px 20px 35px;
  border: 1px solid #ddd;
  border-radius: 20px;
  }
}

.btn-signup{
  display: inline-block;
  position: relative;
  padding: 5px 30px !important;
}
.signInV {
  margin-right: 15px;
  display: inline-block;
}

.form-group {
  position: relative;
}
 .error_mesage {
   display: none;
   position: relative;
   overflow: hidden;
   width: 100%;
   border-radius: 20px 20px 0px 0px;
   background: tomato;
   position: relative;
   color: #fff;
   padding: 0px;
   margin: 0px;
   padding: 0px;
 }
  .error_mesage > ul {
    display: block;
    margin: 0px ;
    padding: 0px;
    list-style: none;
  }
  .error_mesage > ul > li {
    padding: 8px 0px 8px 0px;
    width: 90%;
    margin: 0px auto;
    display: block;
    font-family: arial , sans-serif;
  }
  .error_mesage > ul > li:last-child{
    padding-bottom: 8px;
  }  
 .container-form {
   position: relative;
 }
.horizontal {
    padding: 0px !important;
    border:0px !important;
}
.block-fields{
    padding: 20px 35px 20px 35px !important;
}
#circularG{
 position:relative;
 width:16px;
 height:16px;
 margin: auto;
}

.circularG{
 position:absolute;
 background-color:#999;
 width:4px;
 height:4px;
 border-radius:2px;
   -o-border-radius:2px;
   -ms-border-radius:2px;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
 animation-name:bounce_circularG;
   -o-animation-name:bounce_circularG;
   -ms-animation-name:bounce_circularG;
   -webkit-animation-name:bounce_circularG;
   -moz-animation-name:bounce_circularG;
 animation-duration:0.478s;
   -o-animation-duration:0.478s;
   -ms-animation-duration:0.478s;
   -webkit-animation-duration:0.478s;
   -moz-animation-duration:0.478s;
 animation-iteration-count:infinite;
   -o-animation-iteration-count:infinite;
   -ms-animation-iteration-count:infinite;
   -webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
 animation-direction:normal;
   -o-animation-direction:normal;
   -ms-animation-direction:normal;
   -webkit-animation-direction:normal;
   -moz-animation-direction:normal;
}

#circularG_1{
 left:0;
 top:7px;
 animation-delay:0.178s;
   -o-animation-delay:0.178s;
   -ms-animation-delay:0.178s;
   -webkit-animation-delay:0.178s;
   -moz-animation-delay:0.178s;
}

#circularG_2{
 left:2px;
 top:2px;
 animation-delay:0.244s;
   -o-animation-delay:0.244s;
   -ms-animation-delay:0.244s;
   -webkit-animation-delay:0.244s;
   -moz-animation-delay:0.244s;
}

#circularG_3{
 top:0;
 left:7px;
 animation-delay:0.3s;
   -o-animation-delay:0.3s;
   -ms-animation-delay:0.3s;
   -webkit-animation-delay:0.3s;
   -moz-animation-delay:0.3s;
}

#circularG_4{
 right:2px;
 top:2px;
 animation-delay:0.356s;
   -o-animation-delay:0.356s;
   -ms-animation-delay:0.356s;
   -webkit-animation-delay:0.356s;
   -moz-animation-delay:0.356s;
}

#circularG_5{
 right:0;
 top:7px;
 animation-delay:0.422s;
   -o-animation-delay:0.422s;
   -ms-animation-delay:0.422s;
   -webkit-animation-delay:0.422s;
   -moz-animation-delay:0.422s;
}

#circularG_6{
 right:2px;
 bottom:2px;
 animation-delay:0.478s;
   -o-animation-delay:0.478s;
   -ms-animation-delay:0.478s;
   -webkit-animation-delay:0.478s;
   -moz-animation-delay:0.478s;
}

#circularG_7{
 left:7px;
 bottom:0;
 animation-delay:0.544s;
   -o-animation-delay:0.544s;
   -ms-animation-delay:0.544s;
   -webkit-animation-delay:0.544s;
   -moz-animation-delay:0.544s;
}

#circularG_8{
 left:2px;
 bottom:2px;
 animation-delay:0.6s;
   -o-animation-delay:0.6s;
   -ms-animation-delay:0.6s;
   -webkit-animation-delay:0.6s;
   -moz-animation-delay:0.6s;
}



@keyframes bounce_circularG{
 0%{
   transform:scale(1);
 }

 100%{
   transform:scale(.3);
 }
}

@-o-keyframes bounce_circularG{
 0%{
   -o-transform:scale(1);
 }

 100%{
   -o-transform:scale(.3);
 }
}

@-ms-keyframes bounce_circularG{
 0%{
   -ms-transform:scale(1);
 }

 100%{
   -ms-transform:scale(.3);
 }
}

@-webkit-keyframes bounce_circularG{
 0%{
   -webkit-transform:scale(1);
 }

 100%{
   -webkit-transform:scale(.3);
 }
}

@-moz-keyframes bounce_circularG{
 0%{
   -moz-transform:scale(1);
 }

 100%{
   -moz-transform:scale(.3);
 }
}

#circularG {
    display: inherit;
    position: relative;
    float: right;
    margin-right: -9px;
    margin-left: 10px;
      margin-top: 3px;
}
.error-message {
  display: inline;
  color: tomato ;
}
