.player-body-screen { background:#d9d9d9; }
.question-screen-box { background:#ffffff; border-color:#000000; }
.question-box-text { border-left-style:dotted; border-left-width:0px; border-bottom-width:1px; border-right-width:0px; font-family:coolvetica; }
