.box-welcome-screen { background-color:rgb(207, 226, 243); }
.resume-screen-button { background-color:rgb(255, 153, 0); border-left-width:0px; border-right-width:0px; border-top-width:0px; border-bottom-width:0px; border-color:rgb(255, 0, 0); font-size:15px; color:rgb(238, 238, 238); font-family:RobotoRegular; }
.box-resume-screen { background-color:rgb(255, 242, 204); }
