ul.question-list > li > div .text-values , ul.question-list > li > div > .no-media-here { font-size:18px; }
ul.question-list > li > div > .labels { font-size:50px; }
.box-result-screen { background:#6d9eeb; }
