.answer-alarm-text-box { font-size:18px !important; color:#1c4587 !important; background:#ffe599 !important; }
.warning-message-answer { font-size:25px !important; color:#ffff00 !important; background:#f6b26b !important; }
.back-answer-question-button-block, .continue-answer-question-button { color:#ffffff; background:#cd5f5f; }
.back-answer-question-button-block { color:#ffffff; background:#f6b26b; }
.continue-answer-question-button { background:#4a86e8; color:#f1c232; }
