.player-body-screen { background-color:rgb(217, 234, 211); }
.box-welcome-screen { background-color:rgb(255, 255, 255); border-style:solid; border-left-width:5px; border-color:rgb(182, 215, 168); }
.w-screen-text { color:rgb(204, 0, 0); }
.welcome-screen-button { color:rgb(255, 255, 255); background-color:rgb(0, 0, 255); border-color:rgb(255, 0, 0); border-left-width:5px; border-style:none; }
.question-screen-box { background-color:rgb(244, 204, 204); border-color:rgb(255, 0, 0); border-style:dashed; }
.question-box-text { border-color:rgb(61, 133, 198); }
.question-label-box-brd { border-left-color:rgb(255, 153, 0); }
.question-label-box { background-color:rgb(255, 153, 0); border-style:solid; }
.question-data-text-bdy { color:rgb(12, 52, 61); }
.answer-container ul li { background-color:rgb(255, 0, 0); }
.not-solved_questions { background-color:rgb(0, 255, 0); border-color:rgb(204, 0, 0); }
.not-solved_questions > span { color:rgb(153, 0, 0); }
