.box-result-screen { background:#fff2cc; border-color:#ff0000; border-left-width:5px; border-left-style:solid; border-right-width:1px; border-right-style:dashed; border-top-width:1px; border-top-style:dashed; border-bottom-width:1px; border-bottom-style:dashed; }
.result-screen-text { font-size:22px; color:#000000; font-weight:100; font-family:Roboto Regular; }
.result-screen-score-text { color:#00ffff; font-size:26px; font-family:arcon; }
.result-screen-grade-text { font-size:27px; color:#4c1130; font-weight:100; font-family:arctik; }
