.player-body-screen { background:#ffe599; }
.welcome-screen-button { background:#ffe599; color:#888888; font-size:16px; }
.welcome-screen-text { color:#ff9900; font-size:20px; font-weight:100; font-family:sans-serif; }
.box-welcome-screen { border-left-width:5px; border-left-style:solid; border-color:#ff9900; background:#fff2cc; }
