.question-label-box { background:#9fc5e8; color:#ffffff; }
.question-label-box-brd { border-left-color:#9fc5e8; }
.back-answer-question-button-block, .continue-answer-question-button { background:#00ff00; }
