
/*Roboto Family*/
@font-face {
  font-family: 'RobotoBold';
  src:url('../fonts/roboto/Roboto-Bold.ttf') ;
}

@font-face {
  font-family: 'RobotoMedium';
  src:url('../fonts/roboto/Roboto-Medium.ttf') ;
}

@font-face {
  font-family: 'RobotoRegular';
  src:url('../fonts/roboto/Roboto-Regular.ttf') ;
}

/*Open Sans*/
@font-face {
  font-family: 'OpenSansBold';
  src:url('../fonts/Open_Sans/OpenSans-Bold.ttf') ;
}
@font-face {
  font-family: 'OpenSansSemiBold';
  src:url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') ;
}
@font-face {
  font-family: 'OpenSansRegular';
  src:url('../fonts/Open_Sans/OpenSans-Regular.ttf') ;
}

/*Numans*/
@font-face {
  font-family: 'NumbansRegular';
  src:url('../fonts/Numans/Numans-Regular.ttf') ;
}
/** Petit_Formal_Script */
@font-face {
  font-family: 'PetitFormalScript';
  src:url('../fonts/Petit_Formal_Script/PetitFormalScript-Regular.ttf') ;
}
.menu-navbar > li
  {
    position: relative;
    display: block;
    font-family: OpenSansBold;
    font-size: 13px;
    text-transform: CAPITALIZE;
    color: blue !important;
    padding: 10px 0px;
  }

.navbar-brand {
   padding: 25px;
}
.navbar-toggle{
  position: relative;
    float: right;
    padding: 12px 10px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.menu-navbar-user-name
{
  padding: 25px 25px !important;
  font-weight: bold !important;
}
.navbar-nav>li>.dropdown-menu{
      margin-top: -10px;
}
.navbar-nav>li>a {
  cursor: pointer;
}
