 .element-selectors {
   border: 2px dashed blue;
   box-shadow: 0px 0px 5px 0px blue;

   -webkit-transition: all 0.2s linear;
   transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
 }

 .outlined_block_body {
   outline: 3px solid blue;
   margin: 5px;
   border: 5px solid transparent;
 }

   .outlined_blocks {
     outline: 3px solid #474787;
     /*box-shadow: 0px 0px 15px 0px blue;*/
     margin: 5px;
     /*border: 5px solid transparent;*/
     -webkit-transition: outline 0.3s linear;
     transition: outline 0.2s linear;
     -moz-transition: outline 0.2s linear;

    -webkit-animation: bounce .9s infinite;
    -moz-animation: bounce .9s infinite;
    -o-animation: bounce .9s infinite;
   }
   @-webkit-keyframes bounce {
     0%, 20%, 50%, 80%, 100% { outline-width: 0px; }
     40% { outline-width: 0px; }
     80%{ outline-width: 3px; }
   }

   @-moz-keyframes bounce {
     0%, 20%, 50%, 80%, 100% { outline-width: 0px; }
     40% { outline-width: 0px; }
     80%{ outline-width: 3px; }
   }

   @-o-keyframes bounce {
     0%, 20%, 50%, 80%, 100% { outline-width: 0px; }
     40% { outline-width: 0px; }
     80%{ outline-width: 3px; }
   }
   @keyframes bounce {
     0%, 20%, 50%, 80%, 100% { outline-width: 0px; }
     40% { outline-width: 0px; }
     80%{ outline-width: 3px; }
   }
 .shape-1 {
   width: 30px;
   height: 20px;
   background: #999;
 }
 .style-data li span
 {
  padding-left: 13px;
  padding-bottom: 5px;
  padding-right: 11px;
  line-height: 1.5;
 }
ul li.background-property-block,
ul li.color-property-block,
ul li.numbering-property-block,
ul li.font-family-property-block,
ul li.font-size-property-block,
ul li.font-type-property-block ,
ul li.border-property-block {
  display: none;
 }
.border-actx {
  display: inline-block;
  position: relative;
  width: 100%;
}
