/* This file  will be default css color fo quiz */

/* Start description of application
  =================================================
*/
html , body {
  background: #f4f5f9;
}
.about-quiz {
  border-top: 5px solid tomato;
}

.button-take-this {
  color: #fff;
}
.about-quiz , .screen-container {
  background: #f9f9f9;
  box-shadow: 0px 0px 5px 0px #dfdfdf;
}
/*
.about-quiz h1 , .about-quiz p {
    color: #999;
}
.about-quiz h1{
  color: #444;
}
.about-quiz p {
  color: #999;
}*/


/*  Start texts for application
  =================================================
*/
