@import "fonts.css";

/* Start description of application
  =================================================
*/
.players-container{
    width: 100%;
    min-height: 120px;
    margin: 0px auto;
}
.bottom-bordered {
  border-bottom: 1px solid #dfdfdf;
}
.players-container::after{
  clear: both;
}
.about-quiz , .screen-container {
  display: block;
  position: relative;
  margin-top: 10%;
  width:55%;
  min-height: 120;
  padding: 35px;
  margin: 0px auto;
}
.buttons-container {
  width:55%;
  padding: 35px;
  margin: 0px auto;
}
.screen-container {
  margin-top: 0px;
  /*margin-bottom: 10%;*/
}
@media only screen and (max-width:750px){
  .about-quiz , .screen-container , .buttons-container{
      width: 95%;
  }
}
.about-quiz h1 , .about-quiz p {
  /*padding: 10px 0px 0px 0px;*/
  margin: 0px;
}
.about-quiz h1 {
  font-family: arial ;
}
.about-quiz p {
  /*padding: 20px 0px 0px 0px;*/
  /*font-size: 18px;*/
  margin-bottom: 20px;
}
.qusu-details {
  width: 100%;
  display: block;
  position: relative;
}
.qusu-details > button {
  margin-top: 0px;
  border-radius: unset;
}


.button-take-this {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.button-take-this:hover , .button-take-this:link , .button-take-this:focus {
  outline: 0px;
}

 .button-take-this i {
       margin-right: 5px;
 }

/*  Start Quiz app
  =================================================
*/
.quiz-tools {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  min-height: 100px;
}
.swiper-container {
      width: 100%;
      height: 100%;
    }
.swiper-slide {
      text-align: inherit;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.container-fluid-x , .quizapp-tools {
  display: block;
  position: relative;
  width: 100%;
}
.quizapp-tools {
  min-height: 120px;
}
.swiper-slide {
  background: transparent;
}
.question-container {
  width: 100%;
  display: block;
  position: relative;
  /*border-bottom: 1px dashed #ddd;*/
}
.question-body {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.question-media {
  width: 60%;
  display: block;
  position: relative;
  margin: 15px 0px;
}
.super-size {
  width: 85%;
}
.image-media-case , .video-media-case {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0px;
  margin: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 200px;
}
.answer-container {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
/* .survey_questions */
.answer-container ul {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0px;
  margin: 15px auto 0px auto;
  text-align: left;

}
.answer-container ul li {
  padding: 10px 15px;
  border: 1px solid #ececec;
  margin: 3px;
  text-align: left;
  box-shadow: 0px 0px 1px 0px #eee;
  cursor: pointer;
}
.answer-container ul li.ng_block {
  width: 98%;
  display: block;
  position: relative;
}

.answer-container ul li:hover {
    border: 1px solid #81c784;
    box-shadow: 0px 0px 1px 0px #81c784;
    background: #fdfdfd;
}

.success_answer {
  border: 1px solid #81c784 !important;
  background: rgba(129,199,132,0.2) !important;
}

.success_answer > .labels {
  border: 1px solid #81c784 !important;
  background: rgba(129,199,132,0.2) !important;
}


.answer-container ul li.ng_inline_block{
  width: 48%;
  display: inline-block;
  position: relative;
}

.answer-contents{
  display: block;
  position: relative;
  width: 100%;
}
.text-values {
  width: auto;
  display: inline;
  position: relative;
  overflow: hidden;
}
.labels {
  display: inline-block;
  padding: 2px 8px;
  background: bisque;
  margin: 0px 5px 0px 0px;
  border: 1px solid #ef9122;
  border-radius: 3px;
}
.media-cases {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%
}
.media-options{
  display: block;
  position: relative;
}
.image_case , .video_case {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;

  background-position: center center;
  background-size: cover;
  margin-bottom: 11px;
}
.image_case {
  min-height: 115px;
}
.video_case{
  height: auto;
}
.buttonController {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 20px 0px 0px 0px;
  text-align: right;
}
.slick-slide {
  outline: none;
}

.nextSlide , .prevSlide {
  display: none !important;
}

.ques-questions {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 25px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: inherit;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.label-question {
    display: inline;
    float: left;
    margin-right: 10px;
    padding: 0px 10px;
    background: bisque;
    border: 1px solid #ef9122;
    color: #222;
    border-radius: 13px;
}
.selected_answers {
  border: 1px solid #0743ea ;
  background: #acc2ff3d;
}
