
html , body {
  background: #f4f5f9;
}
.about-quiz {
  border-top: 5px solid tomato;
}

.button-take-this {
  color: #fff;
}

.back-button-goodbye-screen-block ,
.submit-button-goodbye-screen-block {
    margin-top: 5px !important;
    margin-left: 0px !important;
    margin-right: 5px !important;
}
.border_line {
  border-left-width: 2px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width:0px;
  border-style: dashed;
  border-color: #c17c7e;
}
/*
=============================================
  Keyframes +++
=============================================
*/

.outlined_object {
  outline-style: solid;
  outline-width: 0px;
  /*outline-color: #025bff;*/
  outline-color: #20fdb9;
  /*background: rgba( 32, 253  ,185  ,0.1) !important;*/
  /*outline-color:#025bff;*/
  margin: 5px 0px;
  animation: outlined_object  1s infinite alternate;
}
/*@-ms-keyframes outlined_object {
  20% { outline-color:#20fdb924 ;}
  40% { outline-color:#20fdb95e ;}
  60% { outline-color:#20fdb9c9 ;}
  80% { outline-color: #20fdb9 ;}
}
@-o-keyframes outlined_object {
  20% { outline-color:#20fdb924 ;}
  40% { outline-color:#20fdb95e ;}
  60% { outline-color:#20fdb9c9 ;}
  80% { outline-color: #20fdb9 ;}
}

@-webkit-keyframes outlined_object{
  20% { outline-color:#20fdb924 ;}
  40% { outline-color:#20fdb95e ;}
  60% { outline-color:#20fdb9c9 ;}
  80% { outline-color: #20fdb9 ;} }
@-moz-keyframes outlined_object{
  20% { outline-color:#20fdb924 ;}
  40% { outline-color:#20fdb95e ;}
  60% { outline-color:#20fdb9c9 ;}
  80% { outline-color: #20fdb9 ;}}*/
  @keyframes outlined_object  {
    0%,50% { outline-width: 0px;}
    0% {outline-width: 0px;}
    100% {outline-width: 5px; }
  }

  #time-frame-pie {   width: 100px;   height: 100px;  position: relative; margin: 0px auto; }
  .outer-shadow, .inner-shadow, #timer {   z-index: 6; position: absolute; width: 100%; height: 100%; border-radius: 100%; box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);  }
  .inner-shadow {
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -40px;
    border-radius: 100%;
    background-color: #eee;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 13px;
  }
  #timer {
    z-index: 1;
    box-shadow: none;
  }
  .hold {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0px, 100px, 100px, 50px);
    -webkit-border-radius: 100%;
    /*background-color: #ee4360;*/
    background: #fff;
  }
  .pie, .dot span {
    background-color: tomato ;
  }
  .pie {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    }
   #left .pie {
    z-index: 1;
    -webkit-animation: left 4s linear both;
    }
    @-webkit-keyframes left {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180deg);
    }
    }
    #right {
    z-index: 3;
    -webkit-transform: rotate(180deg);
    }
    #right .pie {
    -webkit-animation: right 4s linear both;
    -webkit-animation-delay: 4s;
    }
    @-webkit-keyframes right {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180deg);
    }
    }
    .dot {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 10px;
    margin-top: -5px;
    -webkit-animation: dot 8s linear both;
    -webkit-transform-origin: 0% 50%;
    }
   .dot span {
    position: absolute;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }
  @-webkit-keyframes dot {
      0% {
      -webkit-transform: rotate(-90deg);
      }
      50% {
      -webkit-transform: rotate(90deg);
      z-index: 4;
      }
     100% {
      -webkit-transform: rotate(270deg);
      z-index: 4;
    }
 }



/* ========================================================== */
/* ===>> Theme selectors */
/* ========================================================== */
/* Player background */
.player-body-screen { background: #f4f5f9; }
/*=====================================================================================*/
/* Welcome Screen  */
/* A => Box Stylesheet */
.box-welcome-screen { background: #f9f9f9; }  /* Background */
.box-welcome-screen { border-color: #999 ; }  /* Border Color */
.box-welcome-screen { border-left-width: 0px ; } /* Border left width */
.box-welcome-screen { border-left-style: solid ;} /* Border left style */
.box-welcome-screen { border-top-width: 0px ; } /* Border top width */
.box-welcome-screen { border-top-style: solid ; } /* Border top style */
.box-welcome-screen { border-right-width: 0px ; } /* Border right width */
.box-welcome-screen { border-right-style: solid ; } /* Border right style */
.box-welcome-screen { border-bottom-width: 0px ; } /* Border bottom width */
.box-welcome-screen { border-bottom-style: solid ; } /* Border bottom style */
/* B => Text Stylesheets */
.welcome-screen-text { color : #999; } /* Font Color */
.welcome-screen-text { font-size: 18px; } /* Font size */
.welcome-screen-text { font-weight: normal;  } /* Font weight */
.welcome-screen-text { font-family: arial ;  } /* Font family */
/* C => Button Stylesheets */
.welcome-screen-button { background: #c17c7e; }
.welcome-screen-button { color: #fff ; }
.welcome-screen-button { font-size: 15px ;}
/*=====================================================================================*/
/* Goodbye Screen  */
/* A => Box Stylesheet */
.box-goodbye-screen { background: #f9f9f9; }  /* Background */
.box-goodbye-screen { border-color: #999 ; }  /* Border Color */
.box-goodbye-screen { border-left-width: 0px ; } /* Border left width */
.box-goodbye-screen { border-left-style: solid ;} /* Border left style */
.box-goodbye-screen { border-top-width: 0px ; } /* Border top width */
.box-goodbye-screen { border-top-style: solid ; } /* Border top style */
.box-goodbye-screen { border-right-width: 0px ; } /* Border right width */
.box-goodbye-screen { border-right-style: solid ; } /* Border right style */
.box-goodbye-screen { border-bottom-width: 0px ; } /* Border bottom width */
.box-goodbye-screen { border-bottom-style: solid ; } /* Border bottom style */
/* B => Text Stylesheets */
.goodbye-screen-text { color : #999; } /* Font Color */
.goodbye-screen-text { font-size: 18px; } /* Font size */
.goodbye-screen-text { font-weight: normal;  } /* Font weight */
.goodbye-screen-text { font-family: arial ;  } /* Font family */
/* C => Button Stylesheets */
/* ( 1 ) => Back button */
.back-button-goodbye-screen { background: #c17c7e ;}
.back-button-goodbye-screen { color: #fff ; }
.back-button-goodbye-screen { font-size: 15px;}
/* ( 2 ) => Submit button */
.submit-button-goodbye-screen { background: #c17c7e ;}
.submit-button-goodbye-screen { color: #fff ; }
.submit-button-goodbye-screen { font-size: 13px ;}
/* D => Warning Stylesheets */
.goodbye-screen-warning-text{ font-size: 15px; }
.goodbye-screen-warning-text{ color: #fff ; }
.goodbye-screen-warning-text{ background: #c17c7e; }
/*=====================================================================================*/
/* Result Screen  */
/* A => Box Stylesheet */
.box-result-screen { background: #f9f9f9; }  /* Background */
.box-result-screen { border-color: #999 ; }  /* Border Color */
.box-result-screen { border-left-width: 0px ; } /* Border left width */
.box-result-screen { border-left-style: solid ;} /* Border left style */
.box-result-screen { border-top-width: 0px ; } /* Border top width */
.box-result-screen { border-top-style: solid ; } /* Border top style */
.box-result-screen { border-right-width: 0px ; } /* Border right width */
.box-result-screen { border-right-style: solid ; } /* Border right style */
.box-result-screen { border-bottom-width: 0px ; } /* Border bottom width */
.box-result-screen { border-bottom-style: solid ; } /* Border bottom style */
/* B => Text Stylesheets */
.result-screen-text { color : #999; } /* Font Color */
.result-screen-text { font-size: 18px; } /* Font size */
.result-screen-text { font-weight: normal;  } /* Font weight */
.result-screen-text { font-family: arial ;  } /* Font family */
/* C => Button Stylesheets */
  /* ( 1 ) => Back button */
.review-result-box { background: tomato ;}
.review-result-box { color: #fff ; }
.review-result-box { font-size: 15px;}
  /* ( 2 ) => Submit button */
.retake-result-box { background: tomato ;}
.retake-result-box { color: #fff ; }
.retake-result-box { font-size: 15px ;}
/* D => Score Stylesheets */
.result-screen-score-text { color: #555; }
.result-screen-score-text { font-size: 24px ; }
.result-screen-score-text { font-family: arial ; }
.result-screen-score-text { font-weight: normal; }
/* E => Score Stylesheets */
.result-screen-grade-text { color: #999; }
.result-screen-grade-text { font-size: 14px; }
.result-screen-grade-text { font-family: arial ; }
.result-screen-grade-text { font-weight: normal; }
/*=====================================================================================*/
/* Question Screens  */
.question-screen-box { background: #fbfafa; }  /* Background */
.question-screen-box { border-color: #c17c7e; }  /* Border Color */
.question-screen-box { border-left-width: 5px ; } /* Border left width */
.question-screen-box { border-left-style: solid ;} /* Border left style */
.question-screen-box { border-top-width: 0px ; } /* Border top width */
.question-screen-box { border-top-style: solid ; } /* Border top style */
.question-screen-box { border-right-width: 0px ; } /* Border right width */
.question-screen-box { border-right-style: solid ; } /* Border right style */
.question-screen-box { border-bottom-width: 0px ; } /* Border bottom width */
.question-screen-box { border-bottom-style: solid ; } /* Border bottom style */
/* Question Text */
.question-box-text { color: #888; }
.question-box-text { font-size : 16px; }
.question-box-text { font-weight: normal; }
.question-box-text { font-family: "OpenSansRegular"; }
/*question border*/
.question-box-text { border-color: #c17c7e; }  /* Border Color */
.question-box-text { border-left-width: 1px; ; } /* Border left width */
.question-box-text { border-left-style: dashed ;} /* Border left style */
.question-box-text { border-top-width: 1px ; } /* Border top width */
.question-box-text { border-top-style: dashed ; } /* Border top style */
.question-box-text { border-right-width: 1px ; } /* Border right width */
.question-box-text { border-right-style: dashed ; } /* Border right style */
.question-box-text { border-bottom-width: 1px ; } /* Border bottom width */
.question-box-text { border-bottom-style: dashed ; } /* Border bottom style */
/*=====================================================================================*/
/*Buttons*/
.back-answer-question-button { color: #fff;}
.back-answer-question-button { background: #c17c7e }
.back-answer-question-button { font-size: 13px; }

.continue-answer-question-button-block { color: #fff;}
.continue-answer-question-button-block { background: #c17c7e }
.continue-answer-question-button-block { font-size: 13px; }

/*=====================================================================================*/

/* Numbering */
.question-label-box { background: #c17c7e;}
.question-label-box-brd { border-left-color: #c17c7e; }
.question-label-box { color: #fff; }
.question-label-box { font-size: 15px; }
/* Required Text */
.question-text-required-text { font-size: 10px; }
.question-text-required-text { color: #c17c7e; }
/*Warning Message ( there are many choices ) */
.question-warnning-box { background: transparent;}
.question-warnning-box { color: #fff; }
.question-warnning-box { font-size: 15px; }
.question_type_texts_qs_brd { border-color: #c17c7e;  }
/*=====================================================================================*/
/*Answer*/

.answer-text-box-area { font-size: 14px; } /* answer text size */
.answer-text-box-area { color: #999 ; } /* answer text color */
.answer-text-box-area { font-weight: normal; } /* answer text style */
/* Answer Note ( Settings )  */
.answer-alarm-text-box { color:#c17c7e; text-align: left; }

/* Numbering*/
/* .answer-container ul li > .answer-contents > label.labels { background: #fff;}
.answer-container ul li > .answer-contents > label.labels { color: #999;}
.answer-container ul li > .answer-contents > label.labels { font-size:14px;} */



/*.answer-container ul li > .text-values {color: green; }*/

/*=====================================================================================*/
/*Selected answer*/
ul li.selected_answer , .selected_answer:hover { background: #c17c7e; }
ul li.selected_answer , .selected_answer:hover { color: #fff; }
ul li.selected_answer , ul li.selected_answer:hover { border-color:#ececec; }
ul li.selected_answer > div > .no-media-here { color: #999;}
/*=====================================================================================*/
/*Right answer */
ul li.right_answer , ul li.right_answer:hover { background: aliceblue; }
ul li.right_answer { border-color: #1E824C ; }
ul li.right_answer { color: #38824c; }
ul li.right_answer > .answer-contents > label.labels { color: #fff; } /* => number color */
ul li.right_answer > .answer-contents > label.labels { background: #1E824C; } /* => number color */
ul li.right_answer > .answer-contents > label.labels { font-size: 14px;} /* => font size */
ul li.right_answer > .answer-contents > .text-values {  color: #1E824C; }
ul li.right_answer > .answer-contents > .answer-results-right { color: #1E824C; }
ul li.right_answer > div > .no-media-here { color: #1E824C;}
/*=====================================================================================*/
/*Wrong answer */
ul li.wrong_answer { background: #d91e1805; }
ul li.wrong_answer { border-color:#D91E18 ; }
ul li.wrong_answer { color: #ea8888; }
ul li.wrong_answer > .answer-contents > label.labels { color: #fff;  } /* => number color */
ul li.wrong_answer > .answer-contents > label.labels { background: #D91E18; } /* => number color */
ul li.wrong_answer > .answer-contents > label.labels { font-size: 14px;} /* => font size */
ul li.wrong_answer > .answer-contents > .text-values {  color: #D91E18; }
ul li.wrong_answer > .answer-contents > .answer-results-wrong { color: #D91E18; }
ul li.wrong_answer > div > .no-media-here { color: #D91E18;}
/*=====================================================================================*/
.scalet-o li span {     color: #c17c7e;   }
.scalet-o li span {     background: #fbfafa   }
.scalet-o li span { border-color: #c17c7e  }
.scalet-o-selected { color: #fff;  background: #c17c7e }
.timeobjx > ul li.hrs > span { color: #fff;}
.no-media-here {
  font-size: 12px;
}
.brogress_bar_model_1
 {
   background: #fff;
   border: 3px solid #fff;
 }
 .text_question_counts {
   color: #c17c7e;
 }
 .timeobjx > ul li.hrs span:last-child {
   color: #efe3e4;
}
.timeobjx > ul li.hrs {
  background: #c17c7e;
}
.timeobjx > ul li.hrs {
  border-width: 5px;
  border-style: solid ;
  border-color: #fff;
}
.active-bar {
  background: #c17c7e;
}
.timeobjx > ul li.dotted {
  color: #c17c7e;
}
.time-data {
    fill: #c17c7e;
  }
  .text-question-number {
    color: #c17c7e;
  }
  .time-data-type {
    fill: #c17c7e;
  }
  .current-progress {
    /*fill: none;*/
    stroke: #c17c7e;
  }
  .base-circle {
    /*fill: none;*/
    stroke: #eee;
    /*stroke-width: 5px;*/
   }
   .answer_txt_val{
     display: inline-block;
   }
   .answer_txt_val > .answer_text {
     display: inline-block;
   }


.iconxs-correct-answers {
  float: right;
  margin-top: 4px;
  margin-right: 6px;
  display: none;
}


ul li.wrong_answer > .wrong-ico {
  display: inline-block;
}
ul li.right_answer > .correct-ico {
  display: inline-block;
}
.answer_label {
  display: inline-block;
}
.answer_label{
  vertical-align: middle;
  border: 1px dashed #f1f1f1;
  padding: 3px 12px;
  font-size: 13px;
  margin: 0px 0px 0px 0px;
  /* background: #337ab7; */
  text-align: center;
  vertical-align: baseline;
}


.progress-model-1 , .time-model-1{
  color: #999;
  font-family: RobotoRegular;
}
.main-models-css {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 12px;
}
.option-container{
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}
.progress-bx {
  display:inline;
  overflow: hidden;
}
.progress-ctmain {
  width: 170px;
  background: #c17c7e36;
  height: 10px;
  display: inline-flex;
  vertical-align: baseline;
  margin-top: -2px;
  margin-left: 10px;
  position: relative;
  overflow: hidden;
}
.highlighted-progress {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 50%;
  background: #c17c7e;
}
.progress-bar-txt {
  color: #999 ;
  font-family: 'Bitter';
  color: #c17c7e;
}
.time-models-act{
    display: inline-block;
    background: #c17c7e;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-size: 17px;
}

.progress-container{
  float: left;
}

.time-container  {
  float: right;
  line-height: 1.5;
}

.progress-container{
  float: left;
  line-height:2;
}

.progress-text2 {
  margin-left: 5px;
  margin-top: 3px;
  display: inline-block;
  color: #c17c7e;
  font-family: 'Unica One', monospace;
  font-weight: bold;
}
.marsds{
      margin-left: 5px;
}







.object-layouts-container-layout-2 {
    width: 63%;
    height: auto;
    font-size: 15px;
    position: relative;
    /* overflow: hidden; */
    /*background: #f9f9f9;*/
    margin: 15px auto 0px auto;
    line-height: 2;
    /*box-shadow: 0px 0px 2px 0px #e9e9e9;
    border-bottom: 1px dashed #999;
    border: 1px solid #ddd;
    border-radius: 15px;*/
 }
 .base-circle {
   fill: none;
   /*stroke: #eee;*/
   stroke-width: 5px;
  }
  .current-progress {
    fill: none;
    /*stroke: #c17c7e;*/
    stroke-width: 15px;
    transition: stroke-dashoffset 0.7s;
    stroke-dasharray: 628 ;
    stroke-dashoffset: 0 ; /* 800 */
    animation: dash 5s linear forwards;
  }
  /*@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }*/
  .time-data-hrs {
    font-size: 60px;
    font-family: sans-serif;
  }

  .time-data {
      /*fill: #c17c7e;*/
    font-size: 35px;
    font-family: "diogene_carre";

  }
  .time-data-type {
    /*fill: #c17c7e;*/
    font-size: 25px;
    font-family: sans-serif;

  }
  .select_texts {
    margin-top: 5px;
    display: block;
  }
 .text-question-number {

   width: 100%;
    display: block;
    position: relative;
    text-align: center;
    margin-top: -1px;

    font-family: roboto;
 }
 /*  Progress Track */
 .track-all-1 {
     	fill : #c17c7e36 ;
     	stroke : transparent ;
     	stroke-width:5
 }
 .track-progress-1 {
     	fill : #c17c7e ;
     	stroke : transparent ;
     	stroke-width:5
 }
 .track-text-1 {
 	    fill :#c17c7e ;
      font-family: RobotoRegular;
      font-size: 15px;
 }

 .quiz-option-container {
   display: inline-block;
   position: relative;
   overflow: hidden;
   width: 95%;
   margin: 0px auto;
   overflow: hidden;
   margin-top: 25px;
   padding: 20px;
   margin-left: auto;
   margin-right: auto;
   line-height: 3;
   background: #fbfafa;
 }

.time-container > span{
  font-family: aspergit;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;

}
.time-container > span > span.timer
{
    color: #c17c7e;
     padding: 2px;
     border: 1px dashed #efdfe0;
     vertical-align: baseline;
     padding-top: 10px;
     padding-bottom: 5px;
     vertical-align: middle;
     padding-right: 5px;
     padding-left: 5px;
     border-radius: 5px;
     background: white;
}
.selected_scale_number {
  background : '#c17c7e' ,
  color :'#fff'
}

.tick-group{
  display: inline;
      font-family: 'Unica One', monospace;
}

.tick-group > span {
    display: inline-block;
    font-size: 25px;
    color: #c17c7e;
    font-weight: bold;
}
.question-warnning-box{
  color: #c17c7e ;
  margin-top: 30px;
}

.box-resume-screen {
  background: #f9f9f9;
}
.notexpired{
  border: 1px solid #af1d00;
  color: #fff;
  background: #f78973;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  position: relative;
}
.start-o li span.selected_rating_number {
  color: #c17c7e;
}
.scalet-o li span.selected-scale-number {
  background: rgb(193, 124, 126);
    color: rgb(255, 255, 255);
}
