<!-- Progress -2 -->
    <div class="progress-container option-container text-left">
      <span box-target-type="box-texts" box-target-class="progress-text2" class="progress-text2">
        <i class="fa fa-sliders"></i>
        <span class="marsds">{> (curren_question_slide + 1) + " / "+ __player_object.questions.length <}</span>
      </span>

      <!-- <div class="progress-bx">
        <div box-target-number="1" box-target-type="box-svg-container" box-target-class="radialprogress" class="selector radial-progress-bar" id="radialprogress"></div>
      </div> -->
    </div>
