<!-- Progress -2 -->
    <div class="progress-container option-container text-left">
      inProgress
      <!-- <div class="progress-bx">
        <div box-target-number="1" box-target-type="box-svg-container" box-target-class="radialprogress" class="selector radial-progress-bar" id="radialprogress"></div>
      </div> -->
    </div>
