<!-- Time 2 -->
    <div class="time-container option-container text-right">
      <div ng:cloak ng:if="_settings_.time_settings.timer_type == true" class="time-models-act selector" box-target-class="time-models-act" box-target-type="box-labels">
          {>_settings_.time_settings.hours <}
          <sub class="timer-type">hr</sub>
      </div>

      <span ng:if="_settings_.time_settings.timer_type == true" box-target-class="dotted-hrs" box-target-type="box-texts" class="dotted-hrs selector">:</span>
      <div ng:cloak class="time-models-act selector" box-target-class="time-models-act" box-target-type="box-labels">
          {>_settings_.time_settings.minutes <}
          <sub class="timer-type">min</sub>
      </div>

      <span box-target-class="dotted-hrs" box-target-type="box-texts" class="dotted-hrs selector">:</span>
      <div ng:cloak class="time-models-act selector" box-target-class="time-models-act" box-target-type="box-labels">
          {>_settings_.time_settings.seconds <}
          <sub class="timer-type">sec</sub>
      </div>

</div>
