<!-- Time 2 -->
    <div class="time-container option-container text-right">
      <div  ng:if="__player_object.settings.time_settings.timer_type == true" class="time-models-act hr">
        {>__player_object.settings.time_settings.hours <}
      </div>
      <span ng:if="__player_object.settings.time_settings.timer_type == true" class=" dotted-hrs">:</span>
      <div class="time-models-act min" >
          {>__player_object.settings.time_settings.minutes <}
      </div>
      <span class="dotted-hrs">:</span>
      <div class="time-models-act sec">
        {>__player_object.settings.time_settings.seconds <}
      </div>
</div>
