{{>head}}

  <h1>
    List Of Apis
   </h1>
   <p>
     <ul>
       <li>
         <a href="/api/create">/api/create</a>
       </li>
     </ul>
   </p>

  <h1>
    {{user.name}}
   
    <br />
    {{user.email}}
    <br />
    {{user.id}}
  </h1>

{{>footer}}
