{{> head }}
  <script type="text/javascript">
    var servername = "{{helpers.server_ip}}";
  </script>

  <div class="container">
      <div class="appContainer">
          <h3>
            <span>Get your Api Keys </span>
            <p>Use your application from your server</p>
          </h3>
          <div class="body-forms">
              <div class="keys">
                <div class="rows">
                  <code class="titles-x key-att key-settings">
                    <textarea disabled></textarea>
                  </code>
                  <div class="titles-x text-right error_value">
                    <!-- For Error Value related files -->
                  </div>
                  <div class="titles-x text-right">
                      <!-- <a id="copy_keys" href="#">Copy</a> -->
                      <a id="download_keys" href="#">Download</a>
                  </div>

                </div>
              </div>
              <!-- ~~ Login register ~~ -->
              <div class="login-register-keys">
                <div class="create-keys">
                      <div class="rows">
                          <span class="titles-x title-data">
                            Full Name *
                          </span>
                          <input placeholder="Write your full Name here" class="form-input user-name" type="text" name="fullname" value="">
                      </div>

                      <div class="rows">
                          <span class="titles-x title-data">
                            Application Name *
                          </span>
                          <input placeholder="Write your Application Name without spaces" class="form-input application-name" type="text" name="fullname" value="">
                      </div>

                      <div class="rows">
                          <span class="titles-x title-data">
                            Email *
                          </span>
                          <input placeholder="Write Invlaid Email" class="form-input email" type="text" name="fullname" value="">
                      </div>

                      <div class="rows">
                          <span class="titles-x title-data">
                            Password *
                          </span>
                          <input placeholder="Write a password" class="form-input password" type="text" name="fullname" value="">
                      </div>
                      <div class="rows">
                          <div class="titles-x errors-found">
                             <!-- Error related register here -->
                          </div>
                      </div>
                      <div class="rows text-right">
                        <div class="titles-x" style="margin-top:25px;">
                          <a class="have--keys have-keys" href="#">Do you have a keys ?</a>
                          <span class="btn btn-primary create-keys-btn" type="button" name="button">
                              Create Private keys
                          </span>
                        </div>
                      </div>
                </div>
                <div class="get-keys">
                  <div class="rows">
                      <span class="titles-x title-data">
                        Email *
                      </span>
                      <input placeholder="Write your email" class="form-input emailx" type="text" name="email" value="">
                  </div>

                  <div class="rows">
                      <span class="titles-x">
                        Password *
                      </span>
                      <input placeholder="Write your Password here" class="form-input passwordx" type="text" name="password" value="">
                  </div>
                  <div class="rows">
                    <div class="error_value err-user-login titles-x">
                      <!-- Login Errors -->
                    </div>
                  </div>
                  <div class="rows text-right">
                    <div class="titles-x" style="margin-top:25px;">
                      <a class="havent-keys have--keys" href="#"> Create Keys </a>
                      <button class="btn btn-primary getprivatekeys" type="button" name="button">
                          Download Keys File
                      </button>
                    </div>
                  </div>

                </div>
              </div>

              <!-- <div class="slideInfo-typed element">
                <div id="typed-strings">
                  <p>Typed.js is a <strong>JavaScript</strong> library.</p>
                  <p>It <em>types</em> out sentences.</p>
                </div>
                <span id="typed"></span>
              </div> -->
          </div>
      </div>
  </div>


{{> footer }}
