{{> top }}
	<style media="screen">
		.x-x {
			display: block;
			margin-top: 20%;
		}
	</style>
	{{> navbar }}

	<div class="container x-x text-center">
		<h1>Welcome to my app</h1>
	</div>

{{> bottom }}
