<!DOCTYPE html>
<html ng:app="application">
	<head>
			<title>{{title}}</title>
      <!-- ng:if="page_name == 'quiz_page'" -->
			<script type="text/javascript" src="js/angular.min.js"></script>
			<script type="text/javascript" src="js/angular-route.js"></script>
			<link ng:href="css/bootstrap.min.css" rel="stylesheet">
			<link ng:href="css/font-awesome.css" rel="stylesheet">
	</head>
	<body>

      <!-- Angular Views -->
		  <ng-view></ng-view>
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
			<script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/app.templates.js"></script>
  </body>
</html>
