<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Questionnaire api's</title>
<link rel="alternate" type="application/rss+xml" title="Quiz App" href="#">
<link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet"
        type="text/css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/prettify.css">

</head>
<body>
<div class="wrapper">
<nav>

  	<div class="pull-left">
    	<h1><a href="javascript:"><img src="img/icon.png" alt="Api Documentation" /> <span>Api Docs</span></a></h1>
    </div>

    <div class="pull-right">
    	<a href="http://34.215.133.182" target="_blank" class="btn btn-download"><img src="img/download.png" width="25" alt="Questionnaire Applications" /> Download Now</a>
    </div>

</nav>
<header>
  <div class="container">
    <h2 class="lone-header">Questionnaire api's</h2>
  </div>
</header>
<section>
  <div class="container">
    <ul class="docs-nav">
      <li><strong>Getting Started</strong></li>
      <li><a href="#welcome" class="cc-active">Welcome</a></li>
      <li><a href="#benefits" class="cc-active">Dependencies</a></li>
      <li><a href="#features" class="cc-active">Features</a></li>
      <li><a href="#license" class="cc-active">License</a></li>
      <li class="separator"></li>
      <li><strong>Collections</strong></li>
      <li><a href="#view_type" class="cc-active">Api Keys</a></li>
      <li><a href="#users" class="cc-active">Users</a></li>
      <li><a href="#bars_text" class="cc-active">Questionnaires</a></li>
      <li><a href="#vote_counter" class="cc-active">Reports</a></li>
      <li><a href="#rating_icons" class="cc-active"></a></li>
      <li><a href="#rating_titles" class="cc-active"></a></li>
      <li><a href="#bar_colors" class="cc-active"></a></li>
    </ul>
    <div class="docs-content">
      <h2> Getting Started</h2>
      <h3 id="welcome"> Welcome</h3>
      <p>In this documentation I'll show you how to use apis from {A} to {Z}</p>

      <p>
        Application Programming Interfaces (apis) are made to be a flexibility with any platform , We will use postman as a client side part in this section
        <!-- before start you need to go to my server , <a href="http://targettheme.com/questionnaire-apis/index.html">Questionnaire Client Server</a> -->


      </p>
        Frameworks :
      <ul>
        <li>NodeJs</li>
        <li>Mongo Database</li>
        <li>Front End with : Angularjs</li>
      </ul>

      <h3 id="benefits"> Dependencies : </h3>
      <ul>
        <li>bcryptjs</li>
        <li>body-parser</li>
        <li>express</li>
        <li>express-fileupload</li>
        <li>express-hbs</li>
        <li>express-router</li>
        <li>express-session</li>
        <li>formidable</li>
        <li>hbs</li>
        <li>jsonwebtoken</li>
        <li>lodash</li>
        <li>mongodb</li>
        <li>mongoose</li>
        <li>multer</li>
        <li>node-zip</li>
        <li>validator</li>
      </ul>
      <h3 id="features"> Features</h3>
      <ul>
        <li>You can get and serve your data with any client server , api's accept that by access controller !</li>
        <li>You can use it with any programming language just use json files as a data provider in request or response </li>
      </ul>
      <h3 id="license"> License</h3>
      <p>
        Only permission to use this app for Rackal Vallil to do what he needs
      </p>
      <hr>
      <h2> Technical Requirements</h2>
      <p>
        To use those apis you need to consider some requirements in passing
      </p>
      <ul>
        <li>Data Type : formData case it using file uploader or Json/Application case it pass text data</li>
        <li>http Request : only use POST , GET , PATCH or DELETE </li>
        <li>API url with this server ip : http://34.215.133.182 </li>
        <li>Headers and some required fields in calling  </li>
      </ul>
      <p> Let's get started !</p>
      <h3 id="view_type"> API KEYS </h3>
      <p>
        Before start using any api you should create <a href="http://34.215.133.182/create_app">api keys</a> when you open this url you should create and get keys via json file
      </p>
      Create Api key url
      <pre class="prettyprint" style="padding: 6px 11px;">http://34.215.133.182/create_app</pre>
      This url only open from any browser
      <p>
        After create app keys we should create 2 headers before any request to verify keys of your application
        <div class="clearFix"></div>
        <span class="highlighted-tomato">X-api-keys</span> Header : with field name <span class="highlighetd-black">API_KEY</span> in json file

        <div class="clearFix"></div>
        <span class="highlighted-tomato">X-api-app-name</span> Header : with field name <span class="highlighetd-black">APP_NAME</span> in json file

      </p>

      <b>Example</b>
      <pre class="prettyprint code_json" style="padding: 6px 11px;">
        $.ajax({
            headers : {
                "X-api-app-name" :'Your Application Name',
                "X-api-keys":'You Api Keys (Long generated code)'
            } ,
            ......
        });
      </pre>
      <p>
        In case you lost your api keys you have to login with your email and password then copy values of this json file into your application files
      </p>
      <p>
        If you used any api without keys you will get this message
      </p>

      <pre class="prettyprint code_json" style="padding: 6px 11px;">
        {
          "Authentication_Failed": "Your Application keys not verified ! to use our API please create 'api keys'"
        }
      </pre>
      <p>
        so you have to verify your application keys before use any api
      </p>





      <hr />

      <div id="Users">
        <h3> USERS</h3>
        <ul>
          <li><b class="api-title">User Creation api</b></li>
        </ul>

          <pre class="prettyprint" style="padding: 6px 11px;">http://34.215.133.182/api/users/create</pre>
          To create new user , we have to send a <span class="highlighetd-black">POST</span> in http request with <span class="highlighetd-black">JSON data</span> format in our request with these fields
          <pre class="prettyprint code_json" style="padding: 6px 11px;">
            {
              "name":"user name",
              "email":"user email",
              "password":"user Password",
              "is_creator" : 1 // 0 => for 'Attendee' user type and 1 => for 'Admin' user type
            }
          </pre>

        <ul>
          <li> <b class="api-title"> Edit User api</b></li>
        </ul>
        <pre class="prettyprint" style="padding: 6px 11px;">http://34.215.133.182/api/users/<span class="pass-highlighted">{:uid}</span>/edit</pre>
        <p>
          We need to pass user id instead of <span class="pass-highlighted-shortcut"> {:uid} </span> with existing user id and send request with <span class="highlighetd-black">PATCH</span> and this <span class="highlighetd-black">JSON data</span>
        </p>

        <pre class="prettyprint code_json" style="padding: 6px 11px;">
          {
            "name":"user name",
            "email":"user email",
            "password":"user Password",
            "is_creator" : 1 // 0 => for 'Attendee' user type and 1 => for 'Admin' user type
          }
        </pre>

        <ul>
          <li> <b class="api-title"> Delete User api</b></li>
        </ul>
        <pre class="prettyprint" style="padding: 6px 11px;">http://34.215.133.182/api/users/<span class="pass-highlighted">{:uid}</span>/delete</pre>
        <p>
          We need to pass user id instead of <span class="pass-highlighted-shortcut"> {:uid} </span> with existing user id and send request with <span class="highlighetd-black">DELETE</span>
        </p>

        <ul>
          <li> <b class="api-title"> Login and store user info with sessions api</b></li>
        </ul>
        <pre class="prettyprint" style="padding: 6px 11px;">http://34.215.133.182/api/users/login</pre>
        <p>
          We need to use http request : <span class="highlighetd-black">POST</span> and send a request with existing email and password via <span class="highlighetd-black">JSON data</span>
          <pre class="prettyprint code_json" style="padding: 6px 11px;">
             {
                  "email":"existing email value",
                  "password":"Password Value",
             }
          </pre>
        </p>

        <ul>
          <li> <b class="api-title">Generate Token - (Auth) api</b></li>
        </ul>
        we're using this api to generate new token case old token is expired , without generate this token you couldn't able to edit questionnaire app
        the default time for token expiration is 5 hours after that you need to generate new one
        <pre class="prettyprint" style="padding: 6px 11px;">http://34.215.133.182/api/auth/<span class="pass-highlighted">{:uid}</span></pre>
        <p>
          We need to pass user id instead of <span class="pass-highlighted-shortcut"> {:uid} </span> with existing user id and send request with <span class="highlighetd-black">POST</span> http request
        </p>
        it will generate new token for this user id
        <pre class="prettyprint code_json" style="padding: 6px 11px;">
            {
               "user_id": "5a5845df5ddebb0785087cd8",
               "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI1YTU4NDVkZjVkZGViYjA3ODUwODdjZDgiLCJkYXRlX21hZGUiOiIyMDE4LTAxLTEyVDA5OjM1OjIwLjgyMVoiLCJpYXQiOjE1MTU3NDk3MjB9.J633IVBGhaIe4purYxKf0KNQTp1Nj7j4q7tbrn7Oc_g"
            }
        </pre>
        <p>
          You need to pass this token case edit questionnaire
        </p>
        <span class="highlighted-tomato">X-app-token</span> : this header to verify user token with expiration date
        <p>
          Case this token is expired you'll get this Warning
        </p>
        <pre class="prettyprint code_json" style="padding: 6px 11px;">
            {
                "Warning": "Token is expired !!"
            }
        </pre>
      </div>



      <hr />
      <div id="Users">
        <h3> Questionnaires</h3>
        <p>
          Questionnaire is our main application ! , we have two types for questionnaire Survey or Quiz
        </p>
          We've two differences api to create questionnaire
          <div class="clearFix"></div>
          <i class="highlighetd-black">init</i>   :- for init new Application with default settings
          <div class="clearFix"></div>
          <i class="highlighetd-black">create</i> :- to create an application with reqired fields
        <ul>
          <li><b class="api-title">Questionnaire Creation api</b></li>
        </ul>
        <pre class="prettyprint" style="padding: 6px 11px;">http://34.215.133.182/api/create</pre>
        <p>
          This api will create new application with required fields in json , we need to use <span class="highlighetd-black">POST</span> http with these fields in <span class="highlighetd-black">JSON</span> format
        </p>
        1- Required Headers
        <pre class="prettyprint code_json" style="padding: 6px 11px;">
          $.ajax({
              headers : { // headers
                  "X-api-app-name" :'Your Application Name', // app name
                  "X-api-keys":'You Api Keys (Long generated code)' , // keys
                  "Content-Type": "application/json"  // json format
              } ,
              .....
          });
        </pre>
        <div class="clearFix"></div>
        2- Rquired Json data type
        <pre class="prettyprint code_json" style="padding: 6px 11px;">
            {
            	"creator_id":"creator ID", // refer to user id
            	"app_type":1, // refer to app type , 0 => for survey type and 1 => for quiz type
            	"questionnaire_title":"Quiz 1", // refer to appliction name
            	"description":"Lorem Ipsume .... " // refer to description of this app
            }
        </pre>

        <pre class="prettyprint" style="padding: 6px 11px;">http://34.215.133.182/api/init</pre>


        <p>
          This api will init and create new application with Default settings , name , description , we need to pass only two fields with <span class="highlighetd-black">POST</span> http and <span class="highlighetd-black">JSON</span> format
        </p>
        1- Required Headers
        <pre class="prettyprint code_json" style="padding: 6px 11px;">
          $.ajax({
              headers : { // headers
                  "X-api-app-name" :'Your Application Name', // app name
                  "X-api-keys":'You Api Keys (Long generated code)' , // keys
                  "Content-Type": "application/json"  // json format
              } ,
              .....
          });
        </pre>
        <div class="clearFix"></div>
        2- Rquired Json data type
        <pre class="prettyprint code_json" style="padding: 6px 11px;">
            {
            	"creator_id":"creator ID", // refer to user id
            	"app_type":1  // refer to app type , 0 => for survey type and 1 => for quiz type
            }
        </pre>




        <ul>
          <li><b class="api-title">Questionnaire Edit api</b></li>
        </ul>
        <pre class="prettyprint" style="padding: 6px 11px;">http://34.215.133.182/api/<span class="pass-highlighted">{:app_id}</span>/app/edit</pre>
        <p>
          In totaly this api used to build new settings for application or editing main applicatin information
          -- <span class="pass-highlighted-shortcut"> {:app_id} </span>  refer to questionnaire ( application ) id , but before doing that you have to set 4 headers to success in this calling
        </p>
        1- Required Headers
        <pre class="prettyprint code_json" style="padding: 6px 11px;">
          $.ajax({
              headers : { // headers
                  "X-api-app-name" :'Your Application Name', // app name
                  "X-api-keys":'You Api Keys (Long generated code)' , // keys
                  "X-app-token":'your valid token', // token
                  "Content-Type": "application/json"  // json format
              } ,
              .....
          });
        </pre>
        <div class="clearFix"></div>
        2- Rquired Json data type
        <pre class="prettyprint code_json" style="padding: 6px 11px;">
            {
            	"creator_id":"creator ID", // refer to user id
            	"app_type":1  // refer to app type , 0 => for survey type and 1 => for quiz type
            }
        </pre>



      </div>






    </div>
  </div>
</section>
<section class="vibrant centered">
  <div class="">
    <h4> This documentation template is provided by <a href="http://www.frittt.com" target="_blank">Frittt Templates</a>. You can download and use this template for free. If you have used this template, please pay the developer's effort by Tweeting, sharing on Facebook, social mention or with a linkback. Enjoy! :)</h4>
  </div>
</section>
<footer>
  <div class="">
    <p> &copy; Copyright Frittt Templates. All Rights Reserved.</p>
  </div>
</footer>
</div>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/prettify/prettify.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&skin=sunburst"></script>
<script src="js/layout.js"></script>
</body>
</html>
