


{{>top}}
{{> navbar }}

<style>
  .error-page {
    margin-top: 12%;
  }
  .status-number {
    font-size: 150px !important;
    font-weight: bold;
    color: teal;
  }
  .status-details {
    font-size: 20px !important;
   margin-top: -15px;
   color: teal;
   font-weight: bold;
  }
</style>
<div class="container error-page text-center">
  <h1 class="status-number">400</h1>
  <div class="clearFix"></div>
  <h4 class="status-details">
    {{data_400}}
  </h4>
</div>


{{> bottom}}
