{{> attendee_preview_head }}
<!-- <<<<<<< HEAD -->
<style media="screen">
  html , body {
    overflow: hidden;
  }
</style>
<<<<<<< HEAD
 <div id="preview_player_container" class="container-fluid-x preview_player_container" ng:controller="preview_players">
=======
 <div class="container-fluid-x preview_player_container" ng:controller="preview_players">
>>>>>>> 96e6285c4fa86c40fb4c169b1f8b2973e2645dd4
<!-- ======= -->

 <div class="container-fluid-x" ng:controller="preview_players">
<!-- >>>>>>> 50e731f911414c734724c59498f171a582fc5bd3 -->
    <!-- Quiz tool  -->
      <div class="quizapp-tools" ng:if="__player_object.settings.time_settings.is_with_time == true || __player_object.settings.progression_bar.is_available == true">
        <!-- ++++++++++++ +++++++++++++ -->
        <!-- Tool_options -->
        <!-- ++++++++++++ +++++++++++++ -->
        <div class="tool-obj">
           <div class="object-layouts">
             <div class="object-layouts-container">
               <!-- Time tracker -->
               <div class="tracker" ng:include="time_tracker_layout()" ng:if="__player_object.settings.time_settings.is_with_time == true"></div>
               <!-- progress_bar -->
               <div class="progression_bar" ng:include="progression_layout()" ng:if="__player_object.settings.progression_bar.is_available == true"></div>
             </div>
           </div>
        </div>
      </div>
      <div class="clearFix"></div>
      <!-- ++++++++++++++++++++++++++ -->
      <!-- ---- Slide containers ---- -->
      <!-- ++++++++++++++++++++++++++ -->
      <div class="swiper-container">
        <div class="swiper-wrapper quiz-contents">
            <!-- Screen Slider -->
            <div class="swiper-slide welcoming-screen-x">
                <div ng:class="load_quiz_status_theme()" class="container screen-container">
                  <div>
                      <div class="description-body redactor-styles" ng:bind:html="__player_object.settings.titles.title_start_with | trust_this_html_values"></div>
                      <div class="qusu-details text-right">
                          <!-- <button ng:click="back_to_quizzes()" class="button-take-this" type="button" name="button">
                              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                              Back
                          </button> -->
                          <button ng:click="start_this_quiz()" class="button-take-this" type="button" name="button">
                              <i class="fa fa-sign-in" aria-hidden="true"></i>
                              Take this Quiz
                          </button>
                      </div>
                  </div>
                </div>
            </div>
            <!-- End Screen Slider -->
            <!-- Start Questions -->
            <div class="swiper-slide" data:ng:repeat="(obj_key , obj_val) in __player_object.questions">
               <div class="container screen-container" data:ng:class="get_slide_styles(obj_val.question_type)">

                 <!-- Question Container -->
                 <div class="question-container">
                   <div ng:class="load_qs_theme(obj_val.question_type)" class="question-body">
                      <span ng:class="load_slide_theme(obj_val.question_type)" class="label-question">
                        <span class="qs-icons">
                                <i ng:if="obj_val.question_type == 0" class="icon-insert-template iconx-x"></i>
                                <i ng:if="obj_val.question_type == 1" class="icon-image iconx-x"></i>
                                <i ng:if="obj_val.question_type == 2" class="icon-check-circle iconx-x"></i>
                        </span>
                        <span class="qs-numericals">{> $index + 1 <}</span>
                        <div class="arrow-right" ng:class="load_border_styles(obj_val.question_type)"></div>
                      </span>
                      <span data:ng:bind:html="obj_val.question_body | trust_this_html_values" class="question-body-text"></span>
                      <span class="required_option" ng:class="load_qs_note_theme(obj_val.question_type)" ng:if="obj_val.answer_settings.is_required == true"> Required </span>
                   </div>
                   <div ng:if="(obj_val.question_type == 0 || obj_val.question_type == 1 ) && obj_val.answer_settings.single_choice == false" class="notes">
                       <span ng:class="load_qs_note_theme(obj_val.question_type)"> There're many correct choices , You've to select them  to pass this question </span>
                   </div>
                   <div data:ng:if="obj_val.media_question != null" class="question-media" ng:class="(obj_val.answer_settings.super_size)? 'super-size':''">
                      <!-- Case : image type  -->
                      <div data:ng:if="obj_val.media_question.media_type == 0" class="image-media-case img-cases" ng:style="set_image_background(obj_val.media_question.media_field)"></div>
                      <!-- <div data:ng:if="obj_val.media_question.media_type == 0" class="image-media-case img-cases" style="background-image:url('{> server_ip + obj_val.media_question.media_field <}');"></div> -->
                      <!-- Case : Video type -->
                      <div data:ng:if="obj_val.media_question.media_type == 1" class="video-media-case" data:ng:bind:html="obj_val.media_question | set_iframe"></div>
                   </div>
                 </div>
                 <!-- End Question Container -->

                 <!-- Answer container -->
                  <div class="answer-container">
                        <!-- data:ng:class="(obj_val.answer_settings.choice_style)?'ng_inline_block':'ng_block'" -->
                            <!-- Quiz Questions -->
                            <ul id="question_{>obj_val._id<}" ng:class="load_case_many_answer_option(obj_val.question_type , obj_val.answer_settings.single_choice)" class="question-list" ng:if="obj_val.question_type <= 2"> <!-- Question id , answer id  -->
                              <li
                                class="answer_{>ansvalue._id<}"
                                data:ng:class="classes_for_this_answer(obj_val.answer_settings , obj_val._id , ansvalue._id)"
                                data:ng:click="select_this_answer(obj_val._id , ansvalue._id , obj_val , ansvalue , __player_object._id , '{{user.id}}' , ansvalue.is_correct , $index)"
                                data:ng:repeat="(anskey , ansvalue) in obj_val.answers_format">

                                 <!-- Cases with question type-->
                                   <!-- Case it 0 => Text choices -->
                                   <div ng:if="obj_val.question_type == 0" class="answer-contents">
                                      <div ng:if="ansvalue.media_optional != null" class="media-options">
                                         <!--  image case  -->
                                         <div ng:if="ansvalue.media_optional.media_type == 0" ng:style="set_image_background(ansvalue.media_optional.media_src)"  class="image_case"></div>
                                         <!-- <div ng:if="ansvalue.media_optional.media_type == 0" style="background-image:url('{>server_ip+ansvalue.media_optional.media_src<}')"  class="image_case"></div> -->
                                         <!-- Video Cases -->
                                         <div ng-bind-html="ansvalue.media_optional | set_iframe" ng:if="ansvalue.media_optional.media_type == 1"  class="video_case">
                                            <!-- Append answer media here -->
                                            Loading Media
                                        </div>
                                      </div>
                                      <!-- Text values -->
                                      <label class="labels">{> labels[$index] | uppercase <}</label>
                                      <div class="text-values" data:ng:bind:html="ansvalue.value | trust_this_html_values"></div>
                                      <!-- Case it wrong answer -->
                                      <span class="answer-results-wrong">
                                        <i class="fa fa-close"></i>
                                      </span>
                                      <!-- Case it right answer -->
                                      <span class="answer-results-right">
                                        <i class="fa fa-check"></i>
                                      </span>
                                   </div>
                                   <!-- Case it 1 => Media choices -->
                                   <div ng:if="obj_val.question_type == 1" class="answer-contents">
                                     <label class="labels">{> labels[$index] | uppercase <}</label>
                                     <!-- Case it wrong answer -->
                                     <span class="answer-results-wrong">
                                       <i class="fa fa-close"></i>
                                     </span>
                                     <!-- Case it right answer -->
                                     <span class="answer-results-right">
                                       <i class="fa fa-check"></i>
                                     </span>
                                     <!--  Image Case  -->
                                     <div ng:if="ansvalue.Media_directory == null || ansvalue.Media_directory == undefined" class="image_case no-media-here">
                                       No Media here !
                                     </div>
                                     <div ng:if="ansvalue.media_type == 0 && ansvalue.Media_directory != null" ng:style="set_image_background(ansvalue.media_src )"  class="image_case"></div>
                                     <!-- <div ng:if="ansvalue.media_type == null" style="background-image:url('{>ansvalue.media_src<}')"  class="image_case"></div> -->
                                     <!--  Video Case  -->
                                     <div ng-bind-html="ansvalue | set_iframe" ng:if="ansvalue.media_type == 1"  class="video_case">
                                       <!-- Append answer media here -->
                                       Loading Media
                                     </div>
                                   </div>
                                   <!-- Case it 2 => True/false choices -->
                                   <div ng:if="obj_val.question_type == 2" class="answer-contents">
                                     <label class="labels">{> labels[$index] | uppercase <}</label>
                                     <!-- Case it wrong answer -->
                                     <span class="answer-results-wrong">
                                       <i class="fa fa-close"></i>
                                     </span>
                                     <!-- Case it right answer -->
                                     <span class="answer-results-right">
                                       <i class="fa fa-check"></i>
                                     </span>
                                     <div class="text-values">
                                       {> ansvalue.boolean_value <}
                                     </div>
                                   </div>
                                </li>
                            </ul>

                            <!-- New Questions for survey -->
                            <!-- question_type > 2 -->
                            <!-- Case it 3 => scale rating -->
                            <!-- Case it 4 => Free texts -->
                  </div>
                  <!-- End Answer container -->
                  <div ng:if="__player_object.settings.auto_slide == true && obj_val.question_type <= 2 && obj_val.answer_settings.single_choice == true" class="question_notes" ng:class="load_qs_note_theme(obj_val.question_type)">
                        <span class="fa fa-info-circle"></span>
                        <span>Note : When you solve  this question the next one will come directly after few moments </span>
                  </div>
                  <div class="warning_case" ng:class="load_slide_theme(obj_val.question_type)" ng:click="go_to_not_attended_question()"></div>
                  <div ng:if ="__player_object.settings.navigation_btns == true" class="qusu-details ques-questions text-right">
                      <button ng:click="back_to_prev_slider()" class="button-take-this" ng:class="load_slide_theme(obj_val.question_type)" type="button" name="button">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                            Back
                      </button>
                      <button ng:click="go_to_next_slider($index , true)" ng:class="load_slide_theme(obj_val.question_type)" class="button-take-this" type="button" name="button">
                          <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                          <span ng:if="$index != (__player_object.questions.length - 1)">Continue</span>
                          <span ng:if="$index == (__player_object.questions.length - 1)">Finish</span>
                      </button>
                  </div>
               </di>
            </div>
            <!-- End Questions -->
        </div>
      </div>
      </div>


      <script type="text/javascript">
        setTimeout(function(){
          if(window.location != window.parent.location){
            // ==> check if this window in iframe !
              var op = window.parent;
              var offsetH = document.getElementById('preview_player_container').offsetHeight;
                //alert(offsetH);

                var frameObject = $(op.frames.window.document).find('iframe#prev-ifram-contaier')  ;
                frameObject.css({'height' : offsetH + 20 + 'px' , width:'100%' , margin:'8px auto'});

            }
        } , 2800 )
      </script>
{{> attendee_preview_footer }}
