{{> top }}
 {{> navbar }}

 <div class="loader_block">
   <div class="quiver"><span class="arrows st"></span><span class="arrows nd"></span><span class="arrows rd"></span><span class="arrows th"></span><span class="arrows fth"></span><span class="loading">Loading</span></div>
 </div>


<div style="position:relative; z-index:100;" ng:controller="apps-controller">

<div class="side-left-bar">
  <div class="question-data">
     <ul id="qs-sortable" class="question-x">


       <!-- <li data-type="text" class="wc-screens">
           <span class="titles">Welcome screen</span>
       </li> -->

       <li data-type="qst" data-question-type="0" question-data="partials/multi-choices.hbs">
           <span class="qs-type" title="Multiple Choices">
              <i class="icon-insert-template"></i>
           </span>
           <span class="titles">Choices</span>
       </li>

       <li data-type="qst" data-question-type="1" question-data="partials/media-choices.hbs">
        <span class="qs-type" title="Media Choices">
           <i class="icon-image"></i>
        </span>
        <span class="titles">Media</span>
      </li>

      <li data-type="qst" data-question-type="2" question-data="partials/true-false.hbs">
              <span class="qs-type" title="Ture/False">
                 <i class="icon-check-circle"></i>
               </span>
              <span class="titles">Boolean</span>
      </li>
      <!-- <li data-type="text" class="wc-screens">
          <span class="titles">Thank you screen</span>
      </li> -->
     </ul>
  </div>
</div>
<div class="Quizontainer-fluid update-rows">
  <!-- Title of application -->
  <div class="container-fluid">
			<div class="row">
					<div class="col-md-12">
						 <div class="area-qs-ch quiz-titles">
							  <span class="questionnaire-title">
                  <!-- Quiz Name -->
                   <span>{{ app.questionnaire_title }}</span>
                </span>
 							  <a class="choices-right-add btn-primary btn rm-margin" href="#">Preview Quiz</a>
  					 </div>
					</div>
	    </div>
	</div>
  <div class="container-fluid row-x-body">

    <div class="row">
       <!-- Question (Editor) menu -->
      <div class="left_part col-md-5 col-sm-6 col-xs-12">
          <div class="question-data qsdragged-list qs-dropped">
						<div class="widContainer">
								Questions
						</div>
            <!-- list of question type -->
						<ul id="docQuestions" class="dropped-qs dropped-qs-2">
                <li data-question-id="~>>qs_value._id<<~" ng:class="'question-li-x qs-'+qs_value._id" ng:repeat="(qs_key , qs_value) in questions_list">
                     <div class="question-part">
                       <div class="qs-type quesiontlist_iconx">
                         <span class="qs-type" title="Multiple Choices">
                       	   <i ng:if="qs_value.question_type == 0" class="icon-insert-template"></i>
                           <i ng:if="qs_value.question_type == 1" class="icon-image"></i>
                           <i ng:if="qs_value.question_type == 2" class="icon-check-circle"></i>
                         </span>
                         <span class="qs-body">
                           ~>>qs_value.question_body<<~
                         </span>
                         <ul class="question-option">
                           <li class="right">
                              <i ng:click="delete_this_question(qs_value._id)" style="cursor:pointer;" ng:class="'fa fa-trash iconx-trashable question-deletion qs-delete-'+qs_value._id"></i>
                           </li>
                           <li class="right">
                              <i ng:click="edit_this_question(qs_value._id)" style="cursor:pointer;" ng:class="'fa fa-pencil iconex-movable qs-edit-'+qs_value._id"></i>
                           </li>
                         </ul>
                       </div>
                     </div>
                </li>
						</ul>
				</div>
      </div>
       <!-- List of questions -->
      <div class="right_part col-md-7 col-sm-6 col-xs-12">
        <!-- Switch to view or editor [Handler]-->
        <div class="switched-button switch-mode">
           <span class="swMode">
             <!-- Handel this by js -->
             On <span class="action-case"> ~>> editor_mode <<~ </span>
           </span>
           <div class="mode-chs-x">
               <input type="checkbox" class="slide-mode" ng:model="create_quiz.template_mode" id="mode-chox-option" name="check" /> <!--  checked -->
               <label  ng:click="change_mode()" for="mode-chox-option"></label>
               <span class="image-on mode-option-x"></span>
           </div>
        </div>


        <!-- Edit Template && Preview Template  -->
        <div class="question-editor swiper-container">
            <div  ng:hide="true" style="position:relative;">
              {{> preview app = app }}
            </div>
            <div ng:show="true"><!-- template_mode -->
               {{> editor app = app }}
            </div>
            <!-- Setttings -->
           <div class="setting-part col-md-5 col-sm-6 col-xs-12">
             Settings !
           </div>

        </div>

      </div>

    </div>
  </div>


</div>
</div>





{{> bottom }}
