
{{> top }}
  <div class="container" ng:controller="register-app">

    <div class="form-horizontal horizontal">
          <div class="error_mesage">
            <ul>
              <li></li>
            <ul>
          </div>

      <div class="block-fields">
            <div class="form-group">
              <label for="signAs" class="col-sm-3 control-label">Register As</label>
              <div class="col-sm-9">
                 <select ng:model="access.is_creator" name="access_type.is_creator" id="signAs" class="form-control signup">
                    <option value="0" ng:selected="access.is_creator">Attendee</option>
                    <option value="1" >Author</option>
                </select>
              </div>
            </div>

            <div class="form-group">

              <label for="inputName3" class="col-sm-3 control-label">
                Name
              </label>
              <div class="col-sm-9">
                  <b class="error-message"></b>
                  <input ng:model="access.name" name="name" type="text" class="form-control signup" id="inputName3" placeholder="Name">
              </div>
            </div>

          <div class="form-group">

            <label for="inputEmail3" class="col-sm-3 control-label">
                Email

            </label>
            <div class="col-sm-9">
              <b class="error-message"></b>
              <input ng:model ="access.email" name="email" type="text" class="form-control signup" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group">

            <label for="inputPassword3" class="col-sm-3 control-label">
              Password
             </label>
            <div class="col-sm-9">
              <b class="error-message"></b>
              <input ng:model="access.password" name="password" type="password" class="form-control signup" id="inputPassword3" placeholder="Password">
            </div>
          </div>



          <div class="form-group">
            <div class="col-sm-12 text-right">

              <a class="signInV" href="/login">Do you've an account ? </a>
              <button id="signup_user" type="button" class="btn btn-primary btn-signup">Sign up</button>
            </div>
          </div>
      </div>



  </div>
  </div>

{{> bottom }}
