{{> attendee_head }}
<div class="loading-player text-center">
    <div class="cssload-square">
       <div class="cssload-square-part cssload-square-green"></div>
       <div class="cssload-square-part cssload-square-pink"></div>
       <div class="cssload-square-blend"></div>
    </div>
 </div>

 <div class="container-fluid-x" data:ng:controller="survey">
    <!-- Survey App tools  -->
    <div class="quizapp-tools">
       <div class="object-layouts" ng:if="__player_object.settings.time_settings.is_with_time == true || __player_object.settings.progression_bar.is_available == true">
          <div class="object-layouts-container">
            <!-- Time tracker -->
            <!-- <div class="tracker" ng:include="time_tracker_layout()" ng:if="__player_object.settings.time_settings.is_with_time == true"></div> -->
            <!-- progress_bar -->
            <div class="progression_bar" ng:include="progression_layout()" ng:if="__player_object.settings.progression_bar.is_available == true"></div>
          </div>
       </div>
    </div>
    <div class="clearFix"></div>
    <!-- Slider system   -->
    <div class="swiper-container">
      <div class="swiper-wrapper quiz-contents">
         <div class="swiper-slide welcoming-screen-x">
           <div class="container screen-container survey-player-questions">
              <!-- Welcoming message ( Welcoming ) -->
              <div ng:show="(quiz_status == 0)? true : false">
                  <div class="description-body redactor-styles" ng:bind:html="__player_object.settings.titles.title_start_with | trust_this_html_values"></div>
                  <div class="qusu-details text-right">
                        <button ng:click="back_to_quizzes()" class="button-take-this" type="button" name="button">
                          <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                          Back
                        </button>
                        <button ng:click="start_this_quiz()" class="button-take-this" type="button" name="button">
                          <i class="fa fa-sign-in" aria-hidden="true"></i>
                          Take this Survey
                        </button>
                  </div>
              </div>
           </div>
         </div>




         <!--  Questions  -->
         <div class="swiper-slide" data:ng:repeat="(obj_key , obj_val) in __player_object.questions">
           <div class="container screen-container survey-player-questions">
            <!-- Question Container  -->
              <div class="question-container">
                 <div  class="question-body load_qs_theme">
                     <span class="label-question default_theme_texts_bg">
                        <span class="qs-icons">
                          <i ng:if="obj_val.question_type == 0" class="icon-insert-template iconx-x-survey iconx-x"></i>
                          <i ng:if="obj_val.question_type == 1" class="icon-image iconx-x-survey iconx-x"></i>
                          <i ng:if="obj_val.question_type == 2" class="icon-check-circle iconx-x-survey iconx-x"></i>
                          <i ng:if="obj_val.question_type == 3" class="fa iconx-x-survey iconx-x" ng:class=" (obj_val.answers_format[0].ratscal_type == 0) ? 'fa-signal' :'fa-star-o' " ></i>
                          <i ng:if="obj_val.question_type == 4" class="fa fa-text-width iconx-x-survey iconx-x"></i>
                        </span>
                        <span class="qs-numericals">{> $index + 1 <}</span>
                        <div class="arrow-right default_theme_brd"></div>
                     </span>
                     <span data:ng:bind:html="obj_val.question_body | trust_this_html_values" class="question-body-text"></span>
                     <span class="required_option question_type__colr" ng:if="obj_val.answer_settings.is_required == true"> Required </span>
                 </div>
              </div>
              <!-- Answer container -->
              <div class="answer-container">
                <ul id="question_{>obj_val._id<}" ng:class="load_case_many_answer_option(obj_val.question_type , obj_val.answer_settings.single_choice)" class="question-list" ng:if="obj_val.question_type <= 2">
                  <li
                    class="answer_{>ansvalue._id<}"
                    data:ng:class="classes_for_this_answer(obj_val.answer_settings , obj_val._id , ansvalue._id)"
                    data:ng:click="select_this_answer(obj_val._id , ansvalue._id , obj_val , ansvalue , __player_object._id , '{{user.id}}' , ansvalue.is_correct , $index)"
                    data:ng:repeat="(anskey , ansvalue) in obj_val.answers_format">
                        <!-- Case it 0 => Text choices -->
                        <div ng:if="obj_val.question_type == 0" class="answer-contents">
                             <div ng:if="ansvalue.media_optional != null" class="media-options">
                             <!--  image case  -->
                             <div ng:if="ansvalue.media_optional.media_type == 0" ng:style="set_image_background(ansvalue.media_optional.media_src)"  class="image_case"></div>
                             <!-- <div ng:if="ansvalue.media_optional.media_type == 0" style="background-image:url('{>server_ip+ansvalue.media_optional.media_src<}')"  class="image_case"></div> -->
                             <!-- Video Cases -->
                             <div ng-bind-html="ansvalue.media_optional | set_iframe" ng:if="ansvalue.media_optional.media_type == 1"  class="video_case">
                                <!-- Append answer media here -->
                                Loading Media
                              </div>
                          </div>
                          <!-- Text values -->
                          <label class="labels">{> labels[$index] | uppercase <}</label>
                          <div class="text-values" data:ng:bind:html="ansvalue.value | trust_this_html_values"></div>
                          <!-- Case it wrong answer -->
                          <span class="answer-results-wrong">
                              <i class="fa fa-close"></i>
                          </span>
                          <!-- Case it right answer -->
                          <span class="answer-results-right">
                              <i class="fa fa-check"></i>
                          </span>
                        </div>
                        <!-- Case it 1 => Media choices -->
                        <div ng:if="obj_val.question_type == 1" class="answer-contents">
                             <label class="labels">{> labels[$index] | uppercase <}</label>
                             <!-- Case it wrong answer -->
                             <span class="answer-results-wrong">
                               <i class="fa fa-close"></i>
                             </span>
                             <!-- Case it right answer -->
                             <span class="answer-results-right">
                                 <i class="fa fa-check"></i>
                             </span>
                             <!--  Image Case  -->
                             <div ng:if="ansvalue.Media_directory == null || ansvalue.Media_directory == undefined" class="image_case no-media-here">
                               No Media here !
                             </div>
                             <div ng:if="ansvalue.media_type == 0 && ansvalue.Media_directory != null" ng:style="set_image_background(ansvalue.media_src )"  class="image_case"></div>
                             <!-- <div ng:if="ansvalue.media_type == null" style="background-image:url('{>ansvalue.media_src<}')"  class="image_case"></div> -->
                             <!--  Video Case  -->
                             <div ng-bind-html="ansvalue | set_iframe" ng:if="ansvalue.media_type == 1"  class="video_case">
                             <!-- Append answer media here -->
                               Loading Media
                             </div>
                        </div>
                        <!-- Case it 2 => True/false choices -->
                        <div ng:if="obj_val.question_type == 2" class="answer-contents">
                           <label class="labels">{> labels[$index] | uppercase <}</label>
                           <!-- Case it wrong answer -->
                           <span class="answer-results-wrong">
                               <i class="fa fa-close"></i>
                           </span>
                           <!-- Case it right answer -->
                           <span class="answer-results-right">
                             <i class="fa fa-check"></i>
                           </span>
                           <div class="text-values">
                               {> ansvalue.boolean_value <}
                           </div>
                        </div>
                  </li>
                </ul>

                <div class="answer-container survey-block" ng:if="obj_val.question_type >= 3">

                  <div ng:if="(obj_val.question_type == 3) && (obj_val.answers_format[0].ratscal_type == 0)" class="block-of-scale">
                      <!-- Case it 3 => Scale -->
                      <div class="survey-answer">
                          <!-- Rating Case -->
                          <div class=""> <!--  -->

                            <!-- Scale -->
                            <center>
                              <div class="scale-optn" ng:if="obj_val.answers_format[0].ratscal_type == 0 ">
                                <ul ng:init="rating_scale_elements" class="scalet-o" >
                                  <li data-index='0' ng:repeat="(key_ , val_) in rating_scale_elements">
                                    <span ng:click="select_rating_scale__($index , 0 , obj_val._id , obj_val.answers_format[0]._id , obj_val.question_type )">
                                        {> $index + 1 <}
                                    </span>
                                  </li>
                                </ul>
                                <div class="clearFix"></div>

                                <div class="block-labels text-center"  ng:show="obj_val.answers_format[0].show_labels == true">
                                  <span class="first-lbl">
                                    {>obj_val.answers_format[0].started_at | show_chars<}
                                  </span>
                                  <span class="second-lbl">
                                    {>obj_val.answers_format[0].centered_at | show_chars <}
                                  </span>
                                  <span class="third-lbl">
                                    {>obj_val.answers_format[0].ended_at | show_chars <}
                                  </span>
                                </div>
                              </div>
                            </center>
                          </div>
                        </div>
                  </div>
                  <div ng:if="(obj_val.question_type == 3) && (obj_val.answers_format[0].ratscal_type == 1)" class="block-of-ratings">
                    <!-- Ratings  -->
                    <ul class="start-o rating_scale_block">
                      <!--  Ratings  -->
                      <li data-index='0' ng:repeat="(ratingscale_keys , ratingscale_vale) in rating_scale_elements track by $index">
                        <span ng:click="select_rating_scale__($index , 1 , obj_val._id , obj_val.answers_format[0]._id , obj_val.question_type )" href="#">
                            <i class="fa fa-star-o"></i>
                        </span>
                      </li>
                    </ul>
                  </div>
                  <div ng:if="obj_val.question_type == 4" class="block-of-fre-txts">
                    <!-- Case it 4 => Free texts -->
                    <textarea ng:change="free_texts_question_type_changes(obj_val._id)" ng:model="obj_val.answers_format[0].free_text_value" class="free-text-values" placeholder="Write your answer here !"></textarea>
                  </div>

                  <!-- obj_val.answers_format[0].ratscal_type  -->
                </div>
              </div>

              <!-- ng:if="__player_object.settings.auto_slide == true"  -->
              <div ng:if="__player_object.settings.auto_slide == true && obj_val.question_type <= 2 && obj_val.answer_settings.single_choice == true" class="question_notes question_type__colr">
                  <span class="fa fa-info-circle"></span>
                  <span>Note : When you solve this question the next one will come directly after few moments </span>
              </div>
              <!--  Warning Case-->
              <div class="warning_case" ng:class="load_slide_theme(obj_val.question_type)" ng:click="go_to_not_attended_question()"></div>
              <!-- Question buttons  -->
              <div ng:if ="__player_object.settings.navigation_btns == true" class="qusu-details ques-questions text-right">
                <button ng:click="back_to_prev_slider()" class="button-take-this" ng:class="load_slide_theme(obj_val.question_type)" type="button" name="button">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    Back
                </button>
                <button ng:click="go_to_next_slider($index , true)" ng:class="load_slide_theme(obj_val.question_type)" class="button-take-this" type="button" name="button">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    <span ng:if="$index != (__player_object.questions.length - 1)">Continue</span>
                    <span ng:if="$index == (__player_object.questions.length - 1)">Finish</span>
                </button>
              </div>
           </div>
         </div>

         <!--  Submit Question into report   -->
         <div class="swiper-slide">
             <!-- Ending screen contents  -->
             <div class="container screen-container about-quiz">
                   <div class="description-body redactor-styles" ng:bind:html="__player_object.settings.titles.title_end_with | trust_this_html_values"></div>
                   <!--  Warning Case-->
                   <div class="warning_case" style="background: tomato;" ng:class="load_slide_theme(obj_val.question_type)" ng:click="go_to_not_attended_question()"></div>
                   <!-- Question buttons  -->
                   <div class="qusu-details ques-questions text-right">
                       <button ng:click="back_to_prev_slider()" class="button-take-this" type="button" name="button">
                         <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                         Back
                       </button>
                       <button data:ng:click="submit_quiz_into_report()" class="button-take-this submi_the_quiz_handler" type="button" name="button">
                         <i class="fa fa-arrow-right fac-icon-submit" aria-hidden="true"></i>
                         <span>Submit Survey</span>
                       </button>
                  </div>
             </div>
             <!-- End Ending screen contents  -->
         </div>

      </div>
    </div>
 </div>


{{> attendee_footer }}
