{{> head }}
<!-- ******************** -->
<!-- Header && Navigation -->
<!-- ******************** -->
{{> nav-bar }}

<!-- ******************** -->
<!-- +++++ App body +++++ -->
<!-- ******************** -->
<h1>
  Survey Creation ...
</h1>

{{> footer }}
