{{> top }}

{{#if header_status }}
 {{> navbar }}
{{/if }}

<style media="screen">
  .editor-block {
    width: 95% !important;
    margin: 0px auto;
  }
  .buttons-container{
    width: 100% !important;
    padding: 0px !important;
    display: block !important;
    margin-top: 15px !important;
    margin-bottom: 10px !important;
  }
</style>

<style media="screen" ng:if="{{ header_status }} == false" >
  .update-rows { margin-top: 16px !important; }
  .question-data { margin-top: 10px !important; }
  .question-x { margin-top:0px !important; }
  .settings_menu {  top: -4px !important; }
</style>

<div class="loader_block">
   <div class="quiver">
     <span class="arrows st"></span>
     <span class="arrows nd"></span>
     <span class="arrows rd"></span>
     <span class="arrows th"></span>
     <span class="arrows fth"></span>
     <span class="loading">Loading</span>
   </div>
 </div>


<div style="position:relative; z-index:100;" ng:controller="apps-controller">
  <div class="side-left-bar">
     <div class="question-data" style="overflow:hidden; height:auto; max-height:3300px;">
       <!-- Question Types -->
        <ul id="qs-sortable" class="question-x">
          <li id="question-muliple-choices" ng:click="onclick_items('question-muliple-choices')" data-type="qst" data-question-type="0" question-data="partials/multi-choices.hbs">
              <span class="qs-type" title="Multiple Choices">
                 <i class="icon-insert-template"></i>
              </span>
              <span class="titles">Choices</span>
          </li>

          <li id="question-media-choices" ng:click="onclick_items('question-media-choices')" data-type="qst" data-question-type="1" question-data="partials/media-choices.hbs">
           <span class="qs-type" title="Media Choices">
              <i class="icon-image"></i>
           </span>
           <span class="titles">Media</span>
          </li>

          <li id="question-boolean-choices" ng:click="onclick_items('question-boolean-choices')" data-type="qst" data-question-type="2" question-data="partials/true-false.hbs">
           <span class="qs-type" title="Boolean">
              <i class="icon-check-circle"></i>
           </span>
           <span class="titles">Boolean</span>
          </li>

          <li id="question-ratingscal-choices1" ng:click="onclick_items('question-ratingscal-choices1')" data-type="qst" data-question-type="3" data-asnwer-type="1" question-data="partials/rating-scale.hbs">
           <span class="qs-type" title="Ratings">
              <i class="fa fa-star-o"></i>
           </span>
           <span class="titles">Rating</span>
          </li>

          <li id="question-ratingscal-choices2" ng:click="onclick_items('question-ratingscal-choices2')" data-type="qst" data-question-type="3" data-asnwer-type="0" question-data="partials/rating-scale.hbs">
           <span class="qs-type" title="Scale">
              <i class="fa fa-signal"></i>
           </span>
           <span class="titles">Scale</span>
          </li>

          <li id="question-freetexts-choices" ng:click="onclick_items('question-freetexts-choices')" data-type="qst" data-question-type="4" question-data="partials/free-texts.hbs">
           <span class="qs-type" title="Free Texts">
              <i class="fa fa-text-width"></i>
           </span>
           <span class="titles">Free Texts</span>
          </li>
        </ul>
     </div>
  </div>


  <div class="Quizontainer-fluid update-rows">
    <!-- Title of application -->
    <div class="container-fluid">
  			<div class="row">
  					<div class="col-md-12">
  						 <div class="area-qs-ch quiz-titles">
                 <!-- Start Text Loader -->
                 <div class="text-loader">
                     <span></span>
                     <span></span>
                 </div>
                 <!-- End Text Loader -->
  							  <span class="questionnaire-title">
                    <!-- Quiz Name -->
                     <span>
                       {> application_settings.questionnaire_title <}
                     </span>
                  </span>
                  <!-- <a class="choices-right-add btn-danger btn setting-menu-handler" href="#">
                    <i class="fa fa-cog"></i>
                  </a> -->
   							  <a class="choices-right-add btn-primary preview-button btn rm-margin" href="{{server_ip}}{{app._id}}/live_preview/{{user.id}}">Preview Survey</a>
    					 </div>
  					</div>
  	    </div>
  	</div>
    <div class="container-fluid row-x-body">
      <div class="row">
        <div class="left_part col-md-5 col-sm-6 col-xs-12">

              <div class="question-data qsdragged-list qs-dropped background_drag_drop">
                <div class="loading-data">
                    <div class="data-loader">Loading...</div>
                </div>
                <!-- End Text Loader -->
    						<ul id="docQuestions" class="dropped-qs dropped-qs-2">

                   <li class="question-li-x qs-{>qs_value._id<}" id="questoin_tag_{>qs_value._id<}" data-index="{>$index<}" data-question-id="{>qs_value._id<}" ng:class="(deleted_question_id == qs_value._id) ? 'animated zoomOut':'' " ng:repeat="(qs_key , qs_value) in questions_list track by $index">
                         <div class="question-part">
                             <div class="qs-type quesiontlist_iconx">
                               <div class="drag-handler">
                                 <i>...</i>
                               </div>
                               <div ng:click="edit_this_question(qs_value._id , $index )"  class="single-question-container">
                                 <span class="qs-type" title="Multiple Choices">
                                   <i ng:if="qs_value.question_type == 0" class="icon-insert-template iconn-x"></i>
                                   <i ng:if="qs_value.question_type == 1" class="icon-image iconn-x"></i>
                                   <i ng:if="qs_value.question_type == 2" class="icon-check-circle iconn-x"></i>
                                   <i ng:if="qs_value.question_type == 3" class="fa iconn-x" ng:class="(qs_value.answers_format[0].ratscal_type == 0) ? 'fa-signal' :'fa-star-o' "></i> <!-- signal -->
                                   <i ng:if="qs_value.question_type == 4" class="fa fa-text-width iconn-x"></i>
                                 </span>
                                 <!-- Append question title here ! -->
                                 <span class="qs-body">
                                   {> qs_value.question_body | this_chars_only <}
                                 </span>
                               </div>
                             </div>
                         </div>
                    </li>

                    <div ng:if="questions_list.length == 0" class="qs-status">
                        <h2>
                          Drag drop questions here !
                        </h2>
                    </div>
    						</ul>
    				</div>
          </div>
          <div class="right_part col-md-7 col-sm-6 col-xs-12">
              <!-- Switch to view or editor [Handler]-->
              <div class="switched-button switch-mode">
                 <!-- <span class="swMode">
                   On <span class="action-case"> {> editor_mode <} </span>
                 </span> -->
                 <!-- <div class="mode-chs-x">
                     <input type="checkbox" class="slide-mode" ng:model="create_quiz.template_mode" id="mode-chox-option" name="check" />
                     <label  ng:click="change_mode()" for="mode-chox-option"></label>
                     <span class="image-on mode-option-x"></span>
                 </div> -->
                   <!-- <div  class="input-switch">
                        <label>
                           <i class="fa fa-paperclip"></i>
                           <span ng:bind="activated_screen_name"></span>
                        </label>
                   </div> -->
                   <div  class="input-switch" ng:class="(screen_type != 0 ) ? 'display_editor_preview_option':'dontdisplay_editor_preview_option'">
                     <label ng:if="screen_type == 3">Welcome Screen</label>
                     <label ng:if="screen_type == 2">Goodbye Screen</label>
                     <label ng:if="screen_type == 1">Result Screeen</label>
                   </div>

                   <div class="input-switch" ng:class="(screen_type == 0 ) ? 'display_editor_preview_option':'dontdisplay_editor_preview_option'">
                       <label for="switch-editor">Edit</label>
                       <input type="checkbox" id="switch-editor" ng:model="switching_editor_preview_value" ng:change="switching_editor_preview()" class="input" />
                       <label for="switch-editor" class="switch"></label>
                       <label for="switch-editor">Preview</label>
                  </div>

              </div>


              <!-- Edit Template && Preview Template  -->
              <div class="question-editor swipper-container-block">

                  <!-- Preview Page -->
                  <div class="preview-container" style="position:relative;">
                      {{> preview app = app }}
                      <!-- Loading edditor -->
                      <!-- <div class="loader-container">
                         <div class="loader">
                           <span>{</span><span>}</span>
                           <span class="loadin-editor">Loading Preview</span>
                         </div>
                      </div> -->
                    </div>
                  <!-- Editor Page -->
                  <div class="editor-container" style="position:relative; "><!-- template_mode -->
                     {{> editor app = app }}
                     <!-- Loading edditor -->
                     <div class="loader-container">
                        <div class="loader">
                          <span>{</span><span>}</span>
                          <span class="loadin-editor">Loading Editor</span>
                        </div>
                     </div>
                  </div>
              </div>







              <!--
              ++++++++++++++++++++++++++++++++++++++++
              Cropping Images
              ++++++++++++++++++++++++++++++++++++++++
             -->
              <div class="masklayer">
                <div class="box-data-cropping">
                    <div class="title">
                      <i class="fa fa-crop"></i>
                      <span>Image Cropping</span>
                    </div>
                    <div class="cropping-data">
                       <img style="width: 100%;" id="cropping-image-act" ng:src="{>cropped_media_info.image_source<}" alt="">
                    </div>
                    <!-- <div class="all-preview">
                      <div class="preview-data-cropped prev-1 preview-crp">

                      </div>
                      <div class="preview-data-cropped prev-2 preview-crp">

                      </div>
                    </div> -->

                    <div class="btn-blocker">
                      <button class="btn btn-danger" ng:click="cancel_the_cropping()" type="button" name="button">
                        Cancel
                      </button>
                      <button class="btn btn-primary" type="button" name="button" ng:click="save_cropped_images()">
                        Crop
                      </button>
                    </div>
                </div>
              </div>
              <!--
              ++++++++++++++++++++++++++++++++++++++++
              End Cropping Images
              ++++++++++++++++++++++++++++++++++++++++
             -->



          </div>
      </div>
    </div>

  </div>


  <!-- Overlay box -- w -- edit media -->
    <div class="box-overlay media-uploader media-imgvid-uploader">
      <!--
      ++++++++++++++++++++++++++++++++++++
      Box Overlay
      ++++++++++++++++++++++++++++++++++++
      -->
      <div class="box-data">
        <div class="box-data-title">
          <b>Media Uploader</b>
        </div>
        <div class="media-part-controller">
          <input ng:change="media_is_changed()" ng:model="file_object.link" type="text" class="form-control media-inputs show_media_link" placeholder="Media Link">
          <ul class="media-links">
            <li>
              <a class="video-handler" href="#">
                Add Video
              </a>
            </li>
            <li>
              <input ng:change="media_is_changed()" ng:model="file_object.file" class="image-uploader-x" type="file" name="" value="">
              <a class="image-handler" href="#">
                Add Image
              </a>
            </li>
          </ul>
        </div>
        <div class="preview-media">
          <div class="pre-title media-im-vid">
            <span>Preview</span>
          </div>
          <div class="preview-media-part media-im-vid">
            <div class="media-x-preview">
              <!-- List media part here -->
            </div>
          </div>
          <div class="preview-media-part butns-part">
            <button ng:click="close_media_box()" class="button_updates btn btn-danger btn-close-media" type="button" name="button">
              Close
            </button>
            <button ng:click="save_media_with('preview')" class="button_updates btn btn-primary mm-update" type="button" name="button">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  {{> settings_menu }}
</div>










{{> bottom }}
