{{> top }}

{{#if header_status }}
 {{> navbar }}
{{/if }}




<!-- Redacor menu -->
<div id="redactor-editor-menu" class="redactor-menu-x"></div>
<!-- Loader -->
 <div class="loader_block">
   <div class="quiver"><span class="arrows st"></span><span class="arrows nd"></span><span class="arrows rd"></span><span class="arrows th"></span><span class="arrows fth"></span><span class="loading">Loading</span></div>
 </div>

<!-- Editor Content -->
<div style="position:relative; z-index:100;" ng:controller="apps-controller">

<div class="side-left-bar">
  <div class="question-data">

    <!-- Question Types -->
     <ul id="qs-sortable" class="question-x">

       <li id="question-muliple-choices" ng:click="onclick_items('question-muliple-choices')" data-type="qst" data-question-type="0" question-data="partials/multi-choices.hbs">
           <span class="qs-type" title="Multiple Choices">
              <i class="icon-insert-template"></i>
           </span>
           <span class="titles">Choices</span>
       </li>

       <li id="question-media-choices" ng:click="onclick_items('question-media-choices')" data-type="qst" data-question-type="1" question-data="partials/media-choices.hbs">
        <span class="qs-type" title="Media Choices">
           <i class="icon-image"></i>
        </span>
        <span class="titles">Media</span>
       </li>

       <li id="question-boolean-choices" ng:click="onclick_items('question-boolean-choices')" data-type="qst" data-question-type="2" question-data="partials/true-false.hbs">
        <span class="qs-type" title="Boolean">
           <i class="icon-check-circle"></i>
        </span>
        <span class="titles">Boolean</span>
       </li>

       <li id="question-boolean-choices" ng:click="onclick_items('question-ratingscal-choices')" data-type="qst" data-question-type="3" data-asnwer-type="1" question-data="partials/rating-scale.hbs">
        <span class="qs-type" title="Ratings">
           <i class="fa fa-star-o"></i>
        </span>
        <span class="titles">Rating</span>
       </li>

       <li id="question-boolean-choices" ng:click="onclick_items('question-ratingscal-choices')" data-type="qst" data-question-type="3" data-asnwer-type="0" question-data="partials/rating-scale.hbs">
        <span class="qs-type" title="Scale">
           <i class="fa fa-signal"></i>
        </span>
        <span class="titles">Scale</span>
       </li>

       <li id="question-boolean-choices" ng:click="onclick_items('question-freetexts-choices')" data-type="qst" data-question-type="4" question-data="partials/free-texts.hbs">
        <span class="qs-type" title="Free Texts">
           <i class="fa fa-text-width"></i>
        </span>
        <span class="titles">Free Texts</span>
       </li>


     </ul>

      <!-- Messages -->
      <!--
       <ul id="msg-list" class="messages question-x">
         <li>
           <span class="titles">Welcome screen</span>
         </li>
         <li>
           <span class="titles">End screen</span>
         </li>
       </ul>
      -->

  </div>
</div>
<div class="Quizontainer-fluid update-rows">
  <!-- Title of application -->
  <div class="container-fluid">
			<div class="row">
					<div class="col-md-12">
						 <div class="area-qs-ch quiz-titles">
               <!-- Start Text Loader -->
               <div class="text-loader">
                   <span></span>
                   <span></span>
               </div>
               <!-- End Text Loader -->
							  <span class="questionnaire-title">
                  <!-- Quiz Name -->
                   <span>
                     ~>> application_settings.questionnaire_title <<~
                   </span>
                </span>
                <!-- <a class="choices-right-add btn-danger btn setting-menu-handler" href="#">
                  <i class="fa fa-cog"></i>
                </a> -->
 							  <a class="choices-right-add btn-primary preview-button btn rm-margin" href="#">Preview Survey</a>
  					 </div>
					</div>
	    </div>
	</div>
  <div class="container-fluid row-x-body">

    <div class="row">
       <!-- Question (Editor) menu -->
      <div class="left_part col-md-5 col-sm-6 col-xs-12">

          <div class="question-data qsdragged-list qs-dropped background_drag_drop">
            <div class="loading-data">
                <div class="data-loader">Loading...</div>
            </div>
            <!-- End Text Loader -->
						<ul id="docQuestions" class="dropped-qs dropped-qs-2">

               <li class="question-li-x qs-~>>qs_value._id<<~" id="questoin_tag_~>>qs_value._id<<~" data-index="~>>$index<<~" data-question-id="~>>qs_value._id<<~" ng:class="(deleted_question_id == qs_value._id) ? 'animated zoomOut':'' " ng:repeat="(qs_key , qs_value) in questions_list track by $index">
                     <div class="question-part">
                         <div class="qs-type quesiontlist_iconx">
                           <div class="drag-handler">
                             <i>...</i>
                           </div>
                           <div  ng:click="edit_this_question(qs_value._id , $index )"  class="single-question-container">
                             <span class="qs-type" title="Multiple Choices">
                               <i ng:if="qs_value.question_type == 0" class="icon-insert-template iconn-x"></i>
                               <i ng:if="qs_value.question_type == 1" class="icon-image iconn-x"></i>
                               <i ng:if="qs_value.question_type == 2" class="icon-check-circle iconn-x"></i>
                               <i ng:if="qs_value.question_type == 3" class="fa iconn-x" ng:class="(qs_value.answers_format[0].ratscal_type == 0) ? 'fa-signal' :'fa-star-o' "></i> <!-- signal -->
                               <i ng:if="qs_value.question_type == 4" class="fa fa-text-width iconn-x"></i>
                             </span>
                             <!-- Append question title here ! -->
                             <span class="qs-body" ng-bind-html="qs_value.question_body | this_chars_only"></span>
                           </div>
                         </div>
                     </div>
                </li>

                <div ng:if="questions_list.length == 0" class="qs-status">
                    <h2>
                      Drag drop questions here !
                    </h2>
                </div>
						</ul>
				</div>
      </div>
       <!-- List of questions -->
      <div class="right_part col-md-7 col-sm-6 col-xs-12">
        <!-- Switch to view or editor [Handler]-->
        <div class="switched-button switch-mode">
           <span class="swMode">
             <!-- Handel this by js -->
             On <span class="action-case"> ~>> editor_mode <<~ </span>
           </span>
           <div class="mode-chs-x">
               <input type="checkbox" class="slide-mode" ng:model="create_quiz.template_mode" id="mode-chox-option" name="check" /> <!--  checked -->
               <label  ng:click="change_mode()" for="mode-chox-option"></label>
               <span class="image-on mode-option-x"></span>
           </div>
        </div>


        <!-- Edit Template && Preview Template  -->
        <div class="question-editor swiper-container">
            <div  ng:hide="true" style="position:relative;">
               {{> preview app = app }}
            </div>
            <div ng:show="true"><!-- template_mode -->
               {{> editor app = app }}
               <!-- Loading edditor -->
               <div class="loader-container">
                  <div class="loader">
                    <span>{</span><span>}</span>
                    <span class="loadin-editor">Loading Editor</span>
                  </div>
               </div>
            </div>
            <!-- Settings Menu -->
            {{> settings_menu }}
        </div>

      </div>

    </div>
  </div>

</div>
</div>

{{> bottom }}
