<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <center>
        <h1 style="margin-top: 14%;;font-weight:bold; font-family:tahoma ,sans-serif; ">
          Welcome to Questinnaire API'S
        </h1>
        <p>
          <a href="tuts.html" style="background:tomato; font-weight:bold; font-family:tahoma ,sans-serif; border:0px solid transparent; padding:10px 16px; display:inline-block;color:#fff;cursor:pointer;border-radius:10px;" type="button" name="button">
              Go to Videos
          </a>
          <a href="downloads/quick-documentation.txt" style="background:tomato; font-weight:bold; font-family:tahoma ,sans-serif;  border:0px solid transparent; padding:10px 16px; display:inline-block;color:#fff;cursor:pointer;border-radius:10px;" type="button" name="button">
              Download Quick documentation
          </a>

          <a href="downloads/api-specifications.odt" style="background:teal; font-weight:bold; font-family:tahoma ,sans-serif;  border:0px solid transparent; padding:10px 16px; display:inline-block;color:#fff;cursor:pointer;border-radius:10px;" type="button" name="button">
              API Specifications
          </a>
        </p>
    </center>
  </body>
</html>
