/* ==> Fonts :  */

/*Roboto Family*/
@font-face {
  font-family: 'RobotoBold';
  src:url('../fonts/roboto/Roboto-Bold.ttf') ;
}

@font-face {
  font-family: 'RobotoMedium';
  src:url('../fonts/roboto/Roboto-Medium.ttf') ;
}

@font-face {
  font-family: 'RobotoRegular';
  src:url('../fonts/roboto/Roboto-Regular.ttf') ;
}

/*Open Sans*/
@font-face {
  font-family: 'OpenSansBold';
  src:url('../fonts/Open_Sans/OpenSans-Bold.ttf') ;
}
@font-face {
  font-family: 'OpenSansSemiBold';
  src:url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') ;
}
@font-face {
  font-family: 'OpenSansRegular';
  src:url('../fonts/Open_Sans/OpenSans-Regular.ttf') ;
}

/*Numans*/
@font-face {
  font-family: 'NumbansRegular';
  src:url('../fonts/Numans/Numans-Regular.ttf') ;
}


.quiz-admin-workspace {
  display: block;
  position: relative;
  overflow: hidden;
  background: #fff;
  border: 1px solid #dfdfdf;
  min-height: 200px;
  width: 100%;
}
.question-type {
  display: block;
  position: relative;
}
.app-title {
  display: block;
  padding: 20px;
  color: #666;
  font-family: 'Proxima Nova',sans-serif;
  margin: 14px 13px;
  font-weight: bold;
}
.quiz-app-iconx {
  display: inline;
  position: relative;
  overflow: hidden;
  margin: 0px 5px;
  color: #46c35f;
  font-size: 19px;
  vertical-align: baseline;
}
 .proj-page-header .title .font-icon {
   cursor: pointer;
 }
 .quiz-parts {
   background: #fff;
 }
 .questionnair-report {
   display: block;
   position: relative;
   overflow: hidden;
   width: 100%;
   padding: 0px;
   margin: 0px;
   list-style: none;
 }
  .questionnair-report > li {
    display: inline;
    float: left;
    margin: 15px;
  }
