                                                                                                                  

    <!-- The parent application -->
    <script src="{{ server_ip }}ext/js/a-application.js"></script>
    <!-- App ( attendee => quizzes or surveys) list -->
    <script ng:if="page_name == 'quizzes'" src="{{ server_ip }}ext/js/quiz-app-quizzes.js"></script>
  </body>
</html>
