
    <!-- Swiper slider -->
    <script src="{{ server_ip }}ext/frameworks/js/swiper.min.js"></script>
    <!-- <script src="{{ server_ip }}ext/frameworks/slick/slick.js"></script> -->
    <!-- The parent application -->
    <script src="{{ server_ip }}ext/js/a-application.js"></script>
    <!-- Quiz or Survey Players -->
    <script src="{{ server_ip }}ext/js/quiz-preview-apps.js" charset="utf-8"></script>
  </body>
</html>
