
    <!-- Main Applications { Angular Part } -->
    <script type="text/javascript" src="{{ server_ip }}ext/js/applications.js"></script>
    <!-- Login Page -->
    <script ng:if="page_name=='login'" type="text/javascript" src="{{ server_ip }}ext/js/app-login.js"></script>
  </body>
</html>
