
  <div class="editor-blocker">
    <ul class="tab-editor">
      <li>
         <div class="x-editor-x-title question-opener"  ng:click="expand_collapsed_items('#question-pt')" >
           Question
         </div>
         <div class="clearFix"></div>
         <div style="display:none;" class="x-editor-x-body open-this-tab" id="question-pt">
           <div id="dynamic-layer" class="col-sm-9 top-margins">
             <textarea ng:model="_questions_[question_index].question_body" placeholder="Add your question here !"  redactor = "{buttons: ['formatting', '|','html' , 'bold', 'italic' , 'underline' , 'deleted' , 'link'  ] , plugins: ['fontcolor']}" id="editor-quest-data" class="form-control quest-title-edit textarea-qs redactor-editor"></textarea>
           </div>
           <!-- Media  -->

           <div class="col-sm-4 media-uploads top-margins media-parts-x">
             <!--  Case there is no image -->
             <div ng:if="_questions_[question_index].media_question == undefined " class="case-there-is-no-img" ng:click="add_new_media_for_question()">
               <ul>
                 <li>
                   <span class="fa fa-plus"></span>
                 </li>
               </ul>
               <span class="ima-size">145 x 145</span>
             </div>

             <!-- Case it is an Image  -->
             <!-- _questions_[question_index].media_question.Media_directory  -->
             <!-- <div ng:if="_questions_[question_index].media_question != undefined  && _questions_[question_index].media_question.media_type == 0" ng:style="load_image_media()" class="question-image question-media"></div> -->
             <img ng:if="_questions_[question_index].media_question != undefined  && _questions_[question_index].media_question.media_type == 0" ng:src="{> _questions_[question_index].media_question | read_image <}" class="image-responsive" alt="Image">

             <!--  Case Video -->
             <div ng:if="_questions_[question_index].media_question != undefined  && _questions_[question_index].media_question.media_type == 1" class="question-media question-video question-editor-media" style="height:auto;">
               <!-- case it vimeo or youtube  -->
               <iframe ng:src="{> _questions_[question_index].media_question.embed_path | trust_iframe_url <}" ng:if="_questions_[question_index].media_question.video_type == 1 || _questions_[question_index].media_question.video_type == 0" width="100%" height="auto"></iframe>
               <!-- case it mp4  -->
               <video ng:if="_questions_[question_index].media_question.video_type == 2" controls>
                 <source ng:src="{> _questions_[question_index].media_question.mp4_option.mp4_url | trust_iframe_url <}" type="video/mp4">
                 <source ng:src="{> _questions_[question_index].media_question.mp4_option.ogg_url | trust_iframe_url <}" type="video/ogg">
               </video>
             </div>

             <!-- Controlling on this media  -->
             <div ng:if="_questions_[question_index].media_question != undefined " class="meddia-qs-cont">
               <ul>
                 <li ng:click="add_new_media_for_question()">
                   <span class="fa fa-pencil"></span>
                 </li>
                 <li>
                   <span ng:click="remove_question_media(_questions_[question_index]._id)" class="fa fa-close"></span>
                 </li>
               </ul>
               <span class="ima-size">145 x 145</span>
              </div>


           </div>
         </div>
      </li>
      <li>
         <div class="x-editor-x-title" ng:click="expand_collapsed_items('#Description-pt')">
           Description
         </div>
         <div style="display:none; margin-top: 12px;" class="x-editor-x-body" id="Description-pt">
           <div class="col-xs-12 col-md-12">
             <div class="enable-description-values">
               <label style="font-size:15px;" id="enable-desc-data">Enable Description</label>
               <input style="float: right; margin-bottom: 10px; margin-top: 0px; margin-left: 15px;" ng:model="_questions_[question_index].question_description.is_enabled" type="checkbox" for="enable-desc-data" class="switch_1 input-checkboxes ">
             </div>
              <!-- ng:if="_questions_[question_index].question_description.is_enabled == true" -->
             <div ng:show="_questions_[question_index].question_description.is_enabled" class="row-cols margin-top" style="padding-bottom: 5px;">
               <textarea style="background:#eee;" ng:model="_questions_[question_index].question_description.value"  id="editor-desc-data" name="name" class="form-control descriptions description-field description-field-x redactor-editor" placeholder="Description ..."  redactor = "{buttons: ['formatting', '|','html' , 'bold', 'italic' , 'underline' , 'deleted' , 'link'  ] , plugins: ['fontcolor']}"></textarea>
             </div>
           </div>
         </div>
       </li>
      <li ng:if="_questions_[question_index].question_type != 4">
         <div class="x-editor-x-title" ng:click="expand_collapsed_items('#answers-pt')">
             Answers
         </div>
         <div style="display:none;"class="x-editor-x-body" id="answers-pt">
           <!-- Multiple Choices and Media choices -->
           <div ng:if="_questions_[question_index].question_type <= 1" class="multi-answers-part">
              <ul class="choices-part" id="block-answers">
                 <li data-answer-id="{>answer_value._id<}" class="answers_x" ng:if="answer_value != null" ng:repeat="(answer_key , answer_value) in _questions_[question_index].answers_format track by $index" ng:class="make_answer_classes(answer_value , _questions_[question_index].question_type)">
                    <span class="fa fa-bars drag-tools"  data-toggle="tooltip" title="Move" ></span>
                   <!-- Answer Controlling -->
                   <ul class="answer-pt-controller">
                     <li  ng:if="answer_value.is_correct != undefined" data-toggle="tooltip" title="Correct Answer" ng:click="make_this_correct_incorrect_answer(answer_value._id)">
                       <span class="fa fa-check"></span>
                     </li>
                     <li data-toggle="tooltip" title="Delete" ng:click="delete_this_answer(answer_value._id)">
                       <span class="fa fa-trash"></span>
                     </li>
                     <li data-toggle="tooltip" title="Media Options"  ng:click="add_new_media_for_answer(answer_value._id , this)">
                       <span class="fa fa-file-image-o"></span>
                     </li>
                   </ul>
                   <!-- answer media for 0 -->
                   <div ng:if="_questions_[question_index].question_type == 0" class="media-data-answer">
                     <!-- Case it Image -->
                     <img ng:if=" answer_value.media_optional != undefined &&  answer_value.media_optional.media_type ==0" ng:src="{>answer_value.media_optional.Media_directory + '?' + answer_value.media_optional.image_updated_date <}" class="image-responsive" alt="Image">
                     <!-- Case it video  -->
                     <div ng:if="answer_value.media_optional != undefined && answer_value.media_optional.media_type ==1" class="video_case text-center">
                        <!-- Case video iframes => youtube/ vimeo -->
                        <iframe class="iframe-selector" ng:if="(answer_value.media_optional.video_type == 0 || answer_value.media_optional.video_type == 1 )" ng:src="{> answer_value.media_optional.embed_path | trust_iframe_url <}" width="100%" height="120px"></iframe>
                        <!-- Case video tags => html mp4 video -->
                        <video ng:if="answer_value.media_optional.video_type == 2 " width="100%" height="120px" controls>
                            <source ng:if="answer_value.media_optional.mp4_option != undefined" ng:src="{>answer_value.media_optional.mp4_option.mp4_url | trust_iframe_url <}" type="video/mp4">
                            <source ng:if="answer_value.media_optional.mp4_option != undefined" ng:src="{>answer_value.media_optional.mp4_option.ogg_url | trust_iframe_url <}" type="video/ogg">
                        </video>
                     </div>
                   </div>
                   <!-- answer media for 1 -->
                   <div ng:if="_questions_[question_index].question_type == 1" class="media-data-answer">
                     <!-- Case There is not any media  -->
                     <div ng:if='answer_value.media_type == undefined' ng:click="add_new_media_for_answer(answer_value._id , this)" class="not-media-there">
                        <img ng:src="{> server_ip + 'img/media-default-icone.jpg'<}" class="image-responsive" alt="Image">
                     </div>
                     <!-- Case it Image -->
                     <img ng:if="answer_value.Media_directory != undefined && answer_value.media_type == 0" ng:src="{>answer_value.Media_directory + '?' + answer_value.image_updated_date <}" alt="Image"  class="image-responsive">
                     <!-- Case it video  -->
                     <div ng:if="answer_value.embed_path != undefined && answer_value.media_type ==1" class="video_case text-center">
                        <!-- Case video iframes => youtube/ vimeo -->
                        <iframe class="iframe-selector" ng:if="(answer_value.video_type == 0 || answer_value.video_type == 1 )" ng:src="{> answer_value.embed_path | trust_iframe_url <}" width="100%" height="120px"></iframe>
                        <!-- Case video tags => html mp4 video -->
                        <video ng:if="answer_value.video_type == 2 " class="video-mp4" controls>
                            <source ng:if="answer_value.mp4_option != undefined" ng:src="{>answer_value.mp4_option.mp4_url | trust_iframe_url <}" type="video/mp4">
                            <source ng:if="answer_value.mp4_option != undefined" ng:src="{>answer_value.mp4_option.ogg_url | trust_iframe_url <}" type="video/ogg">
                        </video>
                     </div>
                   </div>
                   <!-- Answer Text -->
                   <!-- <div ng:class="(answer_value.media_optional != undefined)?'add_dashed_border':''"  ng:if="answer_value.value != undefined" class="text-answers">
                     <input ng:if="answer_value.value != 'Answer '+($index+1)" placeholder="{> answer_value.value <}" ng:model="answer_value.value" type="text" class="writanswer-input editor-all-ans-data {> 'text_'+$index+1 <}">
                     <input ng:if="answer_value.value == 'Answer '+($index+1)" placeholder="{> answer_value.value <}" ng:change="build_answer_text_value(data_answer[$index].value , answer_value._id , '.text_'+$index+1 )" ng:model="data_answer[$index].value" type="text" class="writanswer-input editor-all-ans-data {> 'text__'+$index+1 <}">
                   </div> -->

                   <div ng:class="(answer_value.media_optional != undefined)?'add_dashed_border':''"  ng:if="answer_value.value != undefined" class="text-answers">
                      <textarea class="answer-redactors" name="name"  ng:model="answer_value.value" placeholder="{> answer_value.value <}"></textarea>
                   </div>

                 </li>
              </ul>

              <div class="add-new-option" ng:click="add_new_answer(_questions_[question_index]._id)">
                     Add new option
              </div>
           </div>

           <!-- True and false choices -->
           <div ng:if="_questions_[question_index].question_type == 2" class="multi-answers-part">
             <ul class="answer-list-booleans">
               <li ng:repeat="(answer_key , answer_value) in _questions_[question_index].answers_format track by $index" ng:class="make_answer_classes(answer_value , _questions_[question_index].question_type)" class="answer-classes">
                 <!-- Answer Controlling -->
                 <ul class="answer-pt-controller">
                   <li  ng:if="answer_value.is_correct != undefined" data-toggle="tooltip" title="Correct Answer" ng:click="make_this_correct_incorrect_answer(answer_value._id)">
                     <span class="fa fa-check"></span>
                   </li>
                 </ul>
                 <input type="text" name="" value="" ng:model="answer_value.boolean_value">
               </li>
             </ul>
           </div>

           <!-- Rating Scale Answer -->
           <div ng:if="_questions_[question_index].question_type == 3" class="multi-answers-part">
              <ul class="rating-scale-list">
                <li ng:click="mark_rating_scale(_questions_[question_index].answers_format[0].ratscal_type , $index )" ng:mouseover="hover_rating_scale(_questions_[question_index].answers_format[0].ratscal_type , $index )" ng:repeat="(answer_key , answer_value ) in _questions_[question_index].answers_format[0].rating_scale_answers track by $index">
                  <span ng:if="_questions_[question_index].answers_format[0].ratscal_type == 1" class="fa fa-star-o ratings"></span>
                  <span ng:if="_questions_[question_index].answers_format[0].ratscal_type == 0" class="scales"> {> answer_value.rat_scl_value <}</span>
                </li>
              </ul>
              <ul  class="rating-scale-list text-center" ng:if="_questions_[question_index].answers_format[0].ratscal_type == 0 && _questions_[question_index].answers_format[0].show_labels == true">
                <li style="margin-left: 20px;font-size: 15px;">
                  {> _questions_[question_index].answers_format[0].started_at <}
                </li>
                <li style="margin-left: 20px;font-size: 15px;">
                  {> _questions_[question_index].answers_format[0].centered_at <}
                </li>
                <li style="margin-left: 20px;font-size: 15px;">
                  {> _questions_[question_index].answers_format[0].ended_at <}
                </li>
              </ul>
           </div>
         </div>
       </li>
      <li>
        <div class="x-editor-x-title" ng:click="expand_collapsed_items('#Settings-pt')">
           Answer Settings
        </div>
        <div style="display:none;" class="x-editor-x-body" id="Settings-pt">
          <div class="col-sm-12">
            <div class="row-cols margin-top">
              <div class="question-settings">
                <ul class="listSettings-qs">

                    <li class="required_qs">
                      <div class="checkbox-toggle answer-settins">
                         <input ng:model="_questions_[question_index].answer_settings.is_required" type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                         <span class="title-checkbox" data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                           Required
                             <i class="help-links">?</i>
                         </span>
                      </div>
                    </li>
                    <li class="single_response_qs" ng:if="_questions_[question_index].question_type <= 1">
                      <div class="checkbox-toggle answer-settins">
                         <input ng:model="_questions_[question_index].answer_settings.single_choice" ng:change="change_answer_of_single_choices(_questions_[question_index].answer_settings.single_choice)" type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                         <span class="title-checkbox"  data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                           Single Response
                           <i class="help-links">?</i>
                         </span>
                      </div>
                   </li>
                   <li class="randomize_qs" ng:if="_questions_[question_index].question_type <= 1">
                     <div class="checkbox-toggle answer-settins">
                         <input ng:model="_questions_[question_index].answer_settings.is_randomized" ng:change="is_randomized_answer_with(_questions_[question_index].answer_settings.is_randomized)" type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                         <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                           Randomize
                           <i class="help-links">?</i>
                         </span>
                      </div>
                   </li>
                   <li class="super_sizer_qs" ng:if="_questions_[question_index].question_type <= 1">
                     <div class="checkbox-toggle answer-settins">
                         <input ng:model="_questions_[question_index].answer_settings.super_size" type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                         <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                           Super Size
                           <i class="help-links">?</i>
                         </span>
                      </div>
                   </li>
                   <!-- <li class="answer_stylish_qs">
                     <div class="checkbox-toggle answer-settins">
                        <input type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                        <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                          Style of Answer
                          <i class="help-links">?</i>
                        </span>
                     </div>
                   </li> -->
                   <li class="show_lbls_qs" ng:if="_questions_[question_index].question_type == 3 && _questions_[question_index].answers_format[0].ratscal_type == 0 ">
                      <div class="scale-options">
                        <div class="checkbox-toggle answer-settins">
                          <input ng:model="_questions_[question_index].answers_format[0].show_labels" type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                          <span class="title-checkbox">Show labels</span>
                        </div>
                      </div>
                      <div class="scale-options item-labels" ng:if="_questions_[question_index].answers_format[0].show_labels == true">
                         <input ng:model="_questions_[question_index].answers_format[0].started_at" class="lab" type="text" placeholder="Left">
                         <input ng:model="_questions_[question_index].answers_format[0].centered_at" class="lab" type="text" placeholder="Center">
                         <input ng:model="_questions_[question_index].answers_format[0].ended_at" class="lab" type="text" placeholder="Right">
                      </div>
                    </li>
                   <li class="steps_qs" ng:if="_questions_[question_index].question_type == 3 ">
                         <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                           Steps ( {> _questions_[question_index].answers_format[0].step_numbers<} )
                            <i class="help-links">?</i>
                         </span>
                         <div class="rating_scale_options">
                             <input ng:model="_questions_[question_index].answers_format[0].step_numbers" ng:change="step_number_of_rating_scale(_questions_[question_index].answers_format[0].step_numbers)"  id="step_slider" min="2" max="10" type="range" name="">
                         </div> <!-- Slide Range -->
                    </li>
                    <li  ng:if="_questions_[question_index].question_type == 4 ">
                      <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                        Max characters ( ... )
                       <i class="help-links">?</i>
                     </span>
                      <div class="rating_scale_options">
                          <input id="char_max_slider" min="100" max="2000" type="range" name="">
                      </div> <!-- Slide Range -->
                     </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!--  Save Changes -->
    <div class="editor-block btn-0-container">
       <div class="buttons-container text-right">
           <button ng:click="delete_the_current_question()" style="float:left;"  class="btn btn-danger-outline" type="button" name="button">
                 Delete
           </button>
           <button ng:click="saving_this_question()" id="saving-changes" class="btn btn-primary-outline save_changes " type="button" name="button">
                 Save Changes
           </button>
       </div>
    </div>
  </div>
