
  <div class="editor-blocker">
    <ul class="tab-editor">
      <li>
         <div class="x-editor-x-title question-opener"  ng:click="expand_collapsed_items('#question-pt')" >
           Question
         </div>
         <div class="clearFix"></div>
         <div style="display:none;" class="x-editor-x-body open-this-tab" id="question-pt">
           <div id="dynamic-layer" class="col-sm-9 top-margins">
             <textarea ng:model="_questions_[question_index].question_body"  redactor id="editor-quest-data" class="form-control quest-title-edit textarea-qs redactor-editor"></textarea>
           </div>
           <!-- Media  -->

           <div class="col-sm-4 media-uploads top-margins media-parts-x">
             <!--  Case there is no image -->
             <div ng:if="_questions_[question_index].media_question == undefined " class="case-there-is-no-img" ng:click="add_new_media_for_question()">
               <ul>
                 <li>
                   <span class="fa fa-plus"></span>
                 </li>
               </ul>
               <span class="ima-size">145 x 145</span>
             </div>

             <!-- Case it is an Image  -->
             <div ng:if="_questions_[question_index].media_question != undefined  && _questions_[question_index].media_question.media_type == 0" ng:style="load_image_media()" class="question-image question-media"></div>
             <!--  Case Video -->
             <div ng:if="_questions_[question_index].media_question != undefined  && _questions_[question_index].media_question.media_type == 1" class="question-media question-video">
               <!-- case it vimeo or youtube  -->
               <iframe ng:src="{> _questions_[question_index].media_question.embed_path | trust_iframe_url <}" ng:if="_questions_[question_index].media_question.video_type == 1 || _questions_[question_index].media_question.video_type == 0" width="100%" height="120px"></iframe>
               <!-- case it mp4  -->
               <video ng:if="_questions_[question_index].media_question.video_type == 2">
                 <source ng:src="{> _questions_[question_index].media_question.mp4_option.mp4_url | trust_iframe_url <}" type="video/mp4">
                 <source ng:src="{> _questions_[question_index].media_question.mp4_option.ogg_url | trust_iframe_url <}" type="video/ogg">
               </video>
             </div>

             <!-- Controlling on this media  -->
             <div ng:if="_questions_[question_index].media_question != undefined " class="meddia-qs-cont">
               <ul>
                 <li ng:click="add_new_media_for_question()">
                   <span class="fa fa-pencil"></span>
                 </li>
                 <li>
                   <span ng:click="remove_question_media(_questions_[question_index]._id)" class="fa fa-close"></span>
                 </li>
               </ul>
               <span class="ima-size">145 x 145</span>
              </div>


           </div>
         </div>
      </li>
      <li>
         <div class="x-editor-x-title" ng:click="expand_collapsed_items('#Description-pt')">
           Description
         </div>
         <div style="display:none; margin-top: 12px;" class="x-editor-x-body" id="Description-pt">
           <div class="col-xs-12 col-md-12">
             <div class="row-cols margin-top" style="padding-bottom: 5px;">
               <textarea ng:model="description"  id="editor-desc-data" name="name" class="form-control descriptions description-field description-field-x redactor-editor" placeholder="Description ..."  redactor></textarea>
             </div>
           </div>
         </div>
       </li>
      <li>
         <div class="x-editor-x-title" ng:click="expand_collapsed_items('#answers-pt')">
             Answers
         </div>
         <div style="display:none;"class="x-editor-x-body" id="answers-pt">
           <!-- Multiple Choices and Media choices -->
           <div ng:if="_questions_[question_index].question_type <= 1" class="multi-answers-part">
             <ul ng:if="question_type <= 2" class="choices-part">
                <li>
                  
                </li>
              </ul>

              <div class="add-new-answer">
                <span>Add New Option</span>
              </div>
           </div>

         </div>
       </li>
      <li>
        <div class="x-editor-x-title" ng:click="expand_collapsed_items('#Settings-pt')">
           Question Settings
        </div>
        <div style="display:none;" class="x-editor-x-body" id="Settings-pt">
          <div class="col-sm-12">
            <div class="row-cols margin-top">
              <div class="question-settings">
                <ul class="listSettings-qs">
                   <li class="show_lbls_qs">
                      <div class="scale-options">
                        <div class="checkbox-toggle answer-settins">
                          <input type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                          <span class="title-checkbox">Show labels</span>
                        </div>
                      </div>
                      <div class="scale-options item-labels">
                         <input class="lab" type="text" placeholder="Left">
                         <input class="lab" type="text" placeholder="Center">
                         <input class="lab" type="text" placeholder="Right">
                      </div>
                    </li>
                    <li class="required_qs">
                      <div class="checkbox-toggle answer-settins">
                         <input type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                         <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                           Required
                             <i class="help-links">?</i>
                         </span>
                      </div>
                    </li>
                    <li class="single_response_qs">
                      <div class="checkbox-toggle answer-settins">
                         <input type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                         <span class="title-checkbox"  data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                           Single Response
                           <i class="help-links">?</i>
                         </span>
                      </div>
                   </li>
                   <li class="randomize_qs">
                     <div class="checkbox-toggle answer-settins">
                         <input type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                         <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                           Randomize
                           <i class="help-links">?</i>
                         </span>
                      </div>
                   </li>
                   <li class="super_sizer_qs">
                     <div class="checkbox-toggle answer-settins">
                         <input type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                         <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                           Super Size
                           <i class="help-links">?</i>
                         </span>
                      </div>
                   </li>
                   <li class="answer_stylish_qs">
                     <div class="checkbox-toggle answer-settins">
                        <input type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                        <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                          Style of Answer
                          <i class="help-links">?</i>
                        </span>
                     </div>
                   </li>
                   <li class="steps_qs">
                         <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                           Steps ( ... )
                            <i class="help-links">?</i>
                         </span>
                         <div class="rating_scale_options">
                             <input  id="step_slider" min="2" max="10" type="range" name="">
                         </div> <!-- Slide Range -->
                    </li>
                    <li>
                      <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                        Max characters ( ... )
                       <i class="help-links">?</i>
                     </span>
                      <div class="rating_scale_options">
                          <input id="char_max_slider" min="100" max="2000" type="range" name="">
                      </div> <!-- Slide Range -->
                     </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!--  Save Changes -->
    <div class="editor-block btn-0-container">
       <div class="buttons-container text-right">
           <button style="float:left;"  class="btn btn-danger-outline" type="button" name="button">
                 Delete
           </button>
           <button id="saving-changes" class="btn btn-primary-outline save_changes " type="button" name="button">
                 Save Changes
           </button>
       </div>
    </div>
  </div>
