



<!-- Tabs -->
<ul class="tab-editor">
  <li>
    <div class="x-editor-x-title" data-toggle="#question-pt">
      Question
    </div>
    <div style="display:block;" class="x-editor-x-body" id="question-pt">
      <div class="col-sm-8 top-margins">
          <!-- ============================================== -->
          <!--========= Question With Media ================= -->
          <!-- ============================================== -->
          <!-- <label class="titles-question"> Question :   </label> -->
          <div class="text-formats">
            <ul>
              <li>
                <span class="fa fa-bold"></span>
              </li>
              <li>
                <span class="fa fa-italic"></span>
              </li>
              <li>
                <span class="fa fa-underline"></span>
              </li>
              <li>
                <span class="fa fa-link"></span>
              </li>
            </ul>
          </div>

          <textarea ng:model="questions_list[questionIndex].question_body" id="editor-question-body" placeholder="Question Title ? " class="form-control quest-title-edit textarea-qs" rows="3"></textarea>


        </div>
      <div class="col-sm-4 media-uploads top-margins media-parts-x">
        <!-- No Media Cases -->
        <div ng:if="question_media == null" ng:click="show_media_uploader('question_media_type')"  style="background-image:url(~>>server_ip<<~img/media-icon.png)"  class="media-changeable media-changeable-img-case has-no-media">
          Add Media
        </div>

        <!-- Media Cases -->
        <div ng:if="question_media != null" class="media-changeable media-changeable-img-case">
            <!-- Case it an image -->
            <div ng:if="question_media.media_type == 0" style="background-image:url(~>>server_ip+question_media.media_field<<~)" class="image-case img_"></div>
            <!-- Case it Video -->
            <div ng:if="question_media.media_type == 1" class="video_">
              <!-- Case It Youtube -->
              <div ng:if="question_media.video_type == 0" style="background-image:url('~>>server_ip<<~img/vid-youtube.jpg')" class="image-case img_"></div>
              <!-- Case It Vimeo -->
              <div ng:if="question_media.video_type == 1" style="background-image:url('~>>server_ip<<~img/vid-vimeo.jpg')" class="image-case img_"></div>
              <!-- Case It mp4 -->
              <div ng:if="question_media.video_type == 2" style="background-image:url('~>>server_ip<<~img/vid-mp4.jpg')" class="image-case img_"></div>
            </div>
            <!-- Add New -->

            <span  ng:click="show_media_uploader('question_media_type')"  class="edit-preview-media"> <i class="fa fa-pencil"></i> Edit and Preview</span>
        </div>



      </div>
      <div class="clearFix"> </div>
      <div class="col-xs-12 col-md-12">
        <div class="row-cols margin-top">
           <label class="titles-question description-enable-handler">
              Description :  <input  type="checkbox" id="check_xx_data" class="switch_1 input-checkboxes enable-sc" ng:model="enable_description"> <!-- <input class="enbl-desc" id="enable_dex" type="checkbox" name="" value=""> -->
           </label>
           <textarea ng:model="question_description" id="editor-question-desc" name="name" class="form-control descriptions description-field description-field-x" placeholder="Description ..." rows="3" cols="80"></textarea>
        </div>
      </div>
    </div>
  </li>

  <li>
    <div class="x-editor-x-title" data-toggle="#answers-pt">
      Answers
    </div>
    <div style="display:block;" class="x-editor-x-body" id="answers-pt">
        <div class="multi-answers-part">
          <ul class="choices-part">

            <li ng:class="answer_value.is_correct == true ? 'highlighted-right-answers' : ''" ng:repeat="(answer_key , answer_value) in asnwers">

              <!-- text options value -->
               <div ng:if="question_type == 0" class="">
                 <ul class="answer-pt-controller">
                   <!-- is correct answer -->
                   <li ng:if="answer_value.is_correct == false" title="Make it Correct Answer">
                     <span ng:click="question_answer_mark_it_correct(answer_value._id)" class="fa fa-check"></span>
                   </li>
                   <li ng:if="answer_value.is_correct == true" title="Remove Correct Answer">
                     <span ng:click="question_answer_mark_it_correct(answer_value._id)" class="fa fa-check"></span>
                   </li>


                   <li title="Edit it with media">
                     <span class="fa fa-pencil edit-options-answer"></span>
                   </li>
                   <li ng:click="question_answer_deletion(answer_value._id)" title="Delete this answer">
                     <span class="fa fa-trash"></span>
                   </li>
                 </ul>
                 <div class="text-answers">
                   <input class="writanswer-input" type="text" name="" ng:model="answer_value.value">
                 </div>
               </div>







               <!-- Media choices value -->
                <div ng:if="question_type == 1" class="">
                  <ul class="answer-pt-controller ">
                    <li title="Make it Correct Answer">
                      <span ng:click="question_answer_mark_it_correct(answer_value._id)" class="fa fa-check"></span>
                    </li>
                    <li title="Edit it with media">
                      <span class="fa fa-pencil edit-options-answer"></span>
                    </li>
                    <li ng:click="question_answer_deletion(answer_value._id)" title="Delete this answer">
                      <span class="fa fa-trash"></span>
                    </li>
                  </ul>
                  <div class="text-answers">
                    <div style="background:url('~>>answer_value.media_src<<~')" class="media-answers">
                  </div>
                  </div>
                </div>


                <!-- true false value -->
                <div ng:if="question_type == 2" class="">

                    <ul class="answer-pt-controller ">
                      <li data-toggle="asnwers-options" title="Make it Correct Answer">
                        <span ng:click="question_answer_mark_it_correct(answer_value._id)" class="fa fa-check"></span>
                      </li>
                    </ul>
                    <div class="text-answers">
                        <span class="text-field-inpu">
                          ~>>answer_value.boolean_value<<~
                        </span>
                    </div>
                </div>


            </li>

          </ul>
          <!--  ng:if="question_type == 0" -->
          <div ng:click="create_new_answer()" ng:if="question_type == 0 || question_type == 1" class="add-new-option">
              Add new option
          </div>
        </div>
    </div>
  </li>
  <li>
    <div class="x-editor-x-title" data-toggle="#Settings-pt">
      Question Settings
    </div>
    <div class="x-editor-x-body" id="Settings-pt">
      <div class="col-sm-12">
        <div class="row-cols margin-top">
          <!-- <label class="titles-question"> Question Settings : </label> -->
          <div class="question-settings">
             <ul class="listSettings-qs">
                <li>
                   <span class="title-checkbox">Required</span>
                   <div class="slideThree on-off-checkbox-settings">
                      <input ng:model="question_settings.is_required" type="checkbox" id="required-option" name="check" checked="">
                      <label for="required-option"></label>
                      <span class="off-value"></span>
                   </div>
                </li>
                <li>

                   <span class="title-checkbox">Single Response</span>
                   <div class="slideThree on-off-checkbox-settings">
                      <input ng:model="question_settings.single_choice" type="checkbox" id="MultipleResponse-option" name="check" checked="">
                      <label for="MultipleResponse-option"></label>
                      <span class="off-value"></span>
                   </div>
                </li>
                <li>

                   <span class="title-checkbox">Randomize</span>
                   <div class="slideThree on-off-checkbox-settings">
                      <input ng:model="question_settings.is_randomized" type="checkbox" id="Randomize-option" name="check" checked="">
                      <label for="Randomize-option"></label>
                      <span class="off-value"></span>
                   </div>
                </li>
                <li>

                   <span class="title-checkbox">Super Size Media</span>
                   <div class="slideThree on-off-checkbox-settings">
                      <input ng:model="question_settings.super_size" type="checkbox"  id="SuperSize-option" name="check" checked="">
                      <label for="SuperSize-option"></label>
                      <span class="off-value"></span>
                   </div>
                </li>
                <!-- <li>

                   <span class="title-checkbox">Single Response</span>
                   <div class="slideThree on-off-checkbox-settings">
                      <input ng:model="singleResponseOption" type="checkbox" value="None" id="SingleResponse-option" name="check" checked="">
                      <label for="SingleResponse-option"></label>
                      <span class="off-value"></span>
                   </div>
                </li> -->

             </ul>
          </div>
        </div>
          </div>
    </div>
  </li>
</ul>


<!-- <div class="clearFix top-border"></div> -->
<!-- ============================================== -->
<!--========= Question Settings  ================== -->
<!-- ============================================== -->
<div class="col-sm-12 text-right dash_sep">
  <button ng:click="delete_this_question()" class="btn btn-danger-outline" type="button" name="button">
        Delete
  </button>
  <button ng:click="save_changes_in_angular_backend()" class="btn btn-primary-outline save_changes" type="button" name="button">
        Save Changes
  </button>
</div>







<!-- overlay answer -->
<!-- <div class="overlay-answer-section">
  <div class="box-answer-edit text-right">
    <div class="box-data-title">
      <b>Media Uploader</b>
    </div>
    <input placeholder="Media Url" class="media-inp-answer" type="text" name="" value="">
    <ul class="media-links">
      <li>
        <a class="answer-video-handler" href="#">
          Add Video
        </a>
      </li>
      <li>
        <input class="media-answer-up" style="display :none;" type="file" name="" value="">
        <a class="trigger-upload-answer-media" href="#">
          Add Image
        </a>
      </li>
    </ul>
    <button  class="btn btn-danger btn-close-media" type="button" name="button">
      Close
    </button>
    <button style="margin-right: 10px;" class="btn btn-primary" type="button" name="button">
      Save
    </button> -->
  </div>



</div>








<!--
==================================================
==================================================
          Question media + Answer media
==================================================
==================================================
-->

<!-- Overlay box -- w -- edit media -->
  <div class="box-overlay media-uploader media-imgvid-uploader">
    <!--
    ++++++++++++++++++++++++++++++++++++
    Box Overlay
    ++++++++++++++++++++++++++++++++++++
    -->
    <div class="box-data">
      <div class="box-data-title">
        <b>Media Uploader</b>
      </div>
      <div class="media-part-controller">
        <input ng:model="file_object.link" type="text" class="form-control media-inputs show_media_link" placeholder="Media Link">
        <ul class="media-links">
          <li>
            <a class="video-handler" href="#">
              Add Video
            </a>
          </li>
          <li>
            <input ng:model="file_object.file" class="image-uploader-x" type="file" name="" value="">
            <a class="image-handler" href="#">
              Add Image
            </a>
          </li>
        </ul>
      </div>
      <div class="preview-media">
        <div class="pre-title media-im-vid">
          <span>Preview</span>
        </div>
        <div class="preview-media-part media-im-vid">
          <div class="media-x-preview">
            <!-- List media part here -->
          </div>
        </div>
        <div class="preview-media-part butns-part">
          <button ng:click="close_media_box()" class="btn btn-danger btn-close-media" type="button" name="button">
            Close
          </button>
          <button ng:click="save_media_with('close')" class="btn btn-warning-media" type="button" name="button">
            Save and close
          </button>
          <button ng:click="save_media_with('preview')" class="btn btn-primary" type="button" name="button">
            Save and Preview
          </button>
        </div>
      </div>
    </div>
  </div>
