
  <div class="editor-blocker">
    <ul class="tab-editor">
      <li>
         <div class="x-editor-x-title question-opener"  ng:click="expand_collapsed_items('#question-pt')" >
           Question
         </div>
         <div class="clearFix"></div>
         <div style="display:none;" class="x-editor-x-body open-this-tab" id="question-pt">
           <div id="dynamic-layer" class="col-sm-9 top-margins">
             <textarea ng:model="_questions_[question_index].question_body"  redactor id="editor-quest-data" class="form-control quest-title-edit textarea-qs redactor-editor"></textarea>
           </div>
           <div ng:click="add_new_media_for_question()" class="col-sm-4 media-uploads top-margins media-parts-x">
             <span>Add media</span>
           </div>
         </div>
      </li>
      <li>
         <div class="x-editor-x-title" ng:click="expand_collapsed_items('#Description-pt')">
           Description
         </div>
         <div style="display:none; margin-top: 12px;" class="x-editor-x-body" id="Description-pt">
           <div class="col-xs-12 col-md-12">
             <div class="row-cols margin-top" style="padding-bottom: 5px;">
               <textarea ng:model="description"  id="editor-desc-data" name="name" class="form-control descriptions description-field description-field-x redactor-editor" placeholder="Description ..."  redactor></textarea>
             </div>
           </div>
         </div>
       </li>
      <li>
         <div class="x-editor-x-title" ng:click="expand_collapsed_items('#answers-pt')">
             Answers
         </div>
         <div style="display:none;"class="x-editor-x-body" id="answers-pt">
           <div class="multi-answers-part">
               <ul ng:if="_questions_[question_index].question_type <= 2" class="choices-part">
                 <li ng:repeat="( answer_key , answer_value ) in  _questions_[question_index].answers_format track by $index" class="answers_x">
                   <!-- Multiple choice type -->
                     <div ng:if="_questions_[question_index].question_type == 0" class="">
                       <ul class="answer-pt-controller">
                         <!-- is correct answer -->
                         <li ng:if="_application_.app_type == 1" ng:if="answer_value.is_correct == false" title="Make it Correct Answer">
                             <span ng:click="question_answer_mark_it_correct(answer_value._id , _questions_[question_index]._id )" class="fa fa-check"></span>
                         </li>

                         <li title="Edit it with media">
                             <span class="fa fa-file-image-o edit-options-answer"></span>
                         </li>
                               <!-- Delete This Answer -->
                          <li ng:click="question_answer_deletion(answer_value._id , _questions_[question_index]._id)" title="Delete this answer">
                             <span class="fa fa-trash"></span>
                           </li>
                       </ul>
                     </div>
                 </li>

               </ul>
               <!--  Other Types in questions here [surveys]-->
           </div>
         </div>
       </li>
      <li>
        <div class="x-editor-x-title" ng:click="expand_collapsed_items('#Settings-pt')">
           Question Settings
        </div>
        <div style="display:none;" class="x-editor-x-body" id="Settings-pt">
          <div class="col-sm-12">
            <div class="row-cols margin-top">
              <div class="question-settings">
                <ul class="listSettings-qs">
                   <li class="show_lbls_qs">
                      <div class="scale-options">
                        <div class="checkbox-toggle answer-settins">
                          <input type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                          <span class="title-checkbox">Show labels</span>
                        </div>
                      </div>
                      <div class="scale-options item-labels">
                         <input class="lab" type="text" placeholder="Left">
                         <input class="lab" type="text" placeholder="Center">
                         <input class="lab" type="text" placeholder="Right">
                      </div>
                    </li>
                    <li class="required_qs">
                      <div class="checkbox-toggle answer-settins">
                         <input type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                         <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                           Required
                             <i class="help-links">?</i>
                         </span>
                      </div>
                    </li>
                    <li class="single_response_qs">
                      <div class="checkbox-toggle answer-settins">
                         <input type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                         <span class="title-checkbox"  data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                           Single Response
                           <i class="help-links">?</i>
                         </span>
                      </div>
                   </li>
                   <li class="randomize_qs">
                     <div class="checkbox-toggle answer-settins">
                         <input type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                         <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                           Randomize
                           <i class="help-links">?</i>
                         </span>
                      </div>
                   </li>
                   <li class="super_sizer_qs">
                     <div class="checkbox-toggle answer-settins">
                         <input type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                         <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                           Super Size
                           <i class="help-links">?</i>
                         </span>
                      </div>
                   </li>
                   <li class="answer_stylish_qs">
                     <div class="checkbox-toggle answer-settins">
                        <input type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                        <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                          Style of Answer
                          <i class="help-links">?</i>
                        </span>
                     </div>
                   </li>
                   <li class="steps_qs">
                         <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                           Steps ( ... )
                            <i class="help-links">?</i>
                         </span>
                         <div class="rating_scale_options">
                             <input  id="step_slider" min="2" max="10" type="range" name="">
                         </div> <!-- Slide Range -->
                    </li>
                    <li>
                      <span class="title-checkbox"   data-toggle="tooltip" data-placement="right" title="Some Texts here Q">
                        Max characters ( ... )
                       <i class="help-links">?</i>
                     </span>
                      <div class="rating_scale_options">
                          <input id="char_max_slider" min="100" max="2000" type="range" name="">
                      </div> <!-- Slide Range -->
                     </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!--  Save Changes -->
    <div class="editor-block btn-0-container">
       <div class="buttons-container text-right">
           <button style="float:left;"  class="btn btn-danger-outline" type="button" name="button">
                 Delete
           </button>
           <button id="saving-changes" class="btn btn-primary-outline save_changes " type="button" name="button">
                 Save Changes
           </button>
       </div>
    </div>
  </div>
