<div class="col-sm-9">
  <!-- ============================================== -->
  <!--========= Question With Media ================= -->
  <!-- ============================================== -->
  <!-- <label class="titles-question"> Question : 	</label> -->
  <div class="text-formats">
    <ul>
      <li>
        <span class="fa fa-bold"></span>
      </li>
      <li>
        <span class="fa fa-italic"></span>
      </li>
      <li>
        <span class="fa fa-underline"></span>
      </li>
      <li>
        <span class="fa fa-link"></span>
      </li>
    </ul>
  </div>
  <textarea id="editor-question-body" placeholder="Question Title ? " class="form-control quest-title-edit textarea-qs" rows="3"></textarea>
</div>
<div class="col-sm-3 media-uploads">
   <ul class="media-files">



     <!-- Change element case it has media else -->
     <!-- <li class="medi-optional-selected">
       <span>
         <i class="font-icon-editor-img"></i>
       </span>
     </li>
     <li class="medi-optional-selected">
       <span>
         <i class="font-icon-editor-video"></i>
       </span>
     </li> -->











     <li class="vide-case">
       <iframe width="100%" height="auto" src="https://www.youtube.com/embed/1V6PAFHOJis" frameborder="0" allow="autoplay; encrypted-media"></iframe>
       <ul class="media-optional-list">
         <li>
           <span class="fa fa-pencil editor-media-controller"></span>
         </li>
         <li>
           <span class="fa fa-trash editor-media-controller"></span>
         </li>
         <li>
           <span class="fa fa-arrows-alt editor-media-controller"></span>
         </li>
       </ul>
     </li>
     <!-- <li class="image-case">
       <img class="img-responsive" src="http://localhost:9000/themeimages/question_5a6aece8e3902c29bbf44413.png" alt="">
       <ul class="media-optional-list">
         <li>
           <span class="fa fa-pencil editor-media-controller"></span>
         </li>
         <li>
           <span class="fa fa-trash editor-media-controller"></span>
         </li>
         <li>
           <span class="fa fa-arrows-alt editor-media-controller"></span>
         </li>
       </ul>
     </li> -->




   </ul>
</div>
<!-- ============================================== -->
<!--========= Description ================= -->
<!-- ============================================== -->
<div class="col-xs-12 col-sm-11">
  <div class="row-cols margin-top">
     <label class="titles-question description-enable-handler">
        Description :
        <div class="checkbox-bird x-gridupdatechecklist" ng:click="check_box()">
          <input id="editor-desc-enable" type="checkbox" checked> <!-- checked -->
          <label class="~>>class_checked<<~" for="editor-desc-enable">Enable</label>
        </div>
     </label>
     <textarea id="editor-question-desc" disabled="" name="name" class="form-control descriptions description-field description-field-x" placeholder="Description ..." rows="2" cols="80"></textarea>
  </div>
</div>
<!-- ============================================== -->
<!--========= Description ================= -->
<!-- ============================================== -->
<div class="col-sm-12">
  <div class="row-cols margin-top">
      <label class="titles-question"> Choices : <a class="choices-right-add" href="#">Add Choices</a></label>
      <div class="ListallChoices">
         <ul>
           <!--
           ++++++++++++++++++++++++++++++++++++++++
            Answer Part
           ++++++++++++++++++++++++++++++++++++++++
          -->
          <!--
            <li>
               <div class="choices-stylish">
                  <div class="checkbox-bird orange checkeditems">
                     <input type="checkbox" id="check-bird-13">
                     <label target="label" class="checkedboxes check_boxx" for="check-bird-13" onclick="this.contentEditable='true';" contenteditable="true">Orange</label>
                     <i class="fa fa-trash ficonix-bar"></i>
                     <i class="fa fa-bars iconex-movable ficonix-bar"></i>
                  </div>
               </div>
            </li>
          -->

         </ul>
      </div>
   </div>
</div>
<!-- ============================================== -->
<!--========= Question Settings  ================== -->
<!-- ============================================== -->
<div class="col-sm-12">
  <div class="row-cols margin-top">
    <label class="titles-question"> Question Settings : </label>
    <div class="question-settings">
       <ul class="listSettings-qs">
          <li>
             <span class="title-checkbox">Required</span>
             <div class="slideThree on-off-checkbox-settings">
                <input type="checkbox" value="None" id="required-option" name="check" checked="">
                <label for="required-option"></label>
                <span class="off-value"></span>
             </div>
          </li>
          <li>

             <span class="title-checkbox">Multiple Response</span>
             <div class="slideThree on-off-checkbox-settings">
                <input type="checkbox" value="None" id="MultipleResponse-option" name="check" checked="">
                <label for="MultipleResponse-option"></label>
                <span class="off-value"></span>
             </div>
          </li>
          <li>

             <span class="title-checkbox">Randomize</span>
             <div class="slideThree on-off-checkbox-settings">
                <input type="checkbox" value="None" id="Randomize-option" name="check" checked="">
                <label for="Randomize-option"></label>
                <span class="off-value"></span>
             </div>
          </li>
          <li>

             <span class="title-checkbox">Super Size Media</span>
             <div class="slideThree on-off-checkbox-settings">
                <input type="checkbox" value="None" id="SuperSize-option" name="check" checked="">
                <label for="SuperSize-option"></label>
                <span class="off-value"></span>
             </div>
          </li>
          <li>

             <span class="title-checkbox">Single Response</span>
             <div class="slideThree on-off-checkbox-settings">
                <input type="checkbox" value="None" id="SingleResponse-option" name="check" checked="">
                <label for="SingleResponse-option"></label>
                <span class="off-value"></span>
             </div>
          </li>

       </ul>
    </div>
 </div>
    </div>









              <div class="clearFix top-border"></div>
              <!-- ============================================== -->
              <!--========= Question Settings  ================== -->
              <!-- ============================================== -->


            <div class="col-sm-12 text-right dash_sep">
              <button class="btn btn-primary-outline" type="button" name="button">
                Save Changes
              </button>
            </div>
