



<!-- Tabs -->
<ul class="tab-editor">
  <li>
    <div class="x-editor-x-title question-opener"  ng:click="expand_collapsed_items('#question-pt')" >
      Question
    </div>
    <div style="display:none;" class="x-editor-x-body" id="question-pt">
      <div id="dynamic-layer" class="col-sm-8 top-margins">
          <!-- ============================================== -->
          <!--========= Question With Media ================= -->
          <!-- ============================================== -->
          <!-- <label class="titles-question"> Question :   </label> -->
          <!-- <div class="text-formats">
            <ul>
              <li>
                <span ng:click="text_bold_option(questionIndex)" class="fa fa-bold"></span>
              </li>
              <li>
                <span ng:click="text_italic_option(questionIndex)" class="fa fa-italic"></span>
              </li>
              <li>
                <span ng:click="text_underline_option(questionIndex)" class="fa fa-underline"></span>
              </li>
              <li>
                <span ng:click="text_anchor_option(questionIndex)" class="fa fa-link"></span>
              </li>

              <li class="ri">
                <input id="text-anchor-link" type="text" name="" value="">
                <i ng:click="save_text_anchor_option(questionIndex)"  style="margin-left:2px; cursor:pointer;" class="fa fa-check"></i>
              </li>
            </ul>
          </div> -->
          <!-- questions_list[questionIndex].question_body -- ng:model="questions_list[questionIndex].question_body" -->
          <!-- <textarea id="editor-question-body-hidden" placeholder="Question Title ?" ng:model="questions_list[questionIndex].question_body" class="form-control quest-title-edit textarea-qs" rows="3"></textarea> -->
          <textarea id="editor-question-body" placeholder="Question Title ?" ng:model="questions_list[questionIndex].question_body" class="form-control quest-title-edit textarea-qs redactor-editor"></textarea>
        </div>
      <div class="col-sm-4 media-uploads top-margins media-parts-x">

          <div class="ques-media-container">
            <!-- No Media Cases -->
            <div ng:if="quest_media_parts == null" ng:click="show_media_uploader('question_media_type')"  style="background-image:url(~>>server_ip<<~img/media-icon.png)"  class="media-changeable media-changeable-img-case has-no-media">
              Add Media
            </div>

            <!-- Image Cases -->
            <div ng:if="quest_media_parts.media_type == 0" style="background-image:url('~>>server_ip+quest_media_parts.media_field<<~')" class="image_case">
                <!-- Load image here -->
            </div>

            <!-- Video Cases -->
            <div ng:if="quest_media_parts.media_type == 1" ng-bind-html="quest_media_parts | set_iframe"  class="video_cases">
              <!-- Loading videos here -->
            </div>
          </div>
          <!-- Media controller -->
          <div ng:if="quest_media_parts != null" class="media-controller">
              <ul>
                <li>
                  <!-- ng:click="show_media_uploader('question_media_type')" -->
                  <span ng:click="show_media_uploader('question_media_type')" class="fa fa-pencil"></span>
                </li>
                <li>
                  <span ng:click="remove_media_from_target_model('question')" class="fa fa-close"></span>
                </li>
              </ul>
          </div>
      </div>
    </div>
  </li>

  <li>
    <div class="x-editor-x-title" ng:click="expand_collapsed_items('#Description-pt')">
      Description
    </div>
    <div style="display:none;" class="x-editor-x-body" id="Description-pt">
      <div class="col-xs-12 col-md-12">
        <div class="row-cols margin-top">
           <textarea ng:model="question_description" id="editor-question-desc" name="name" class="form-control descriptions description-field description-field-x redactor-editor" placeholder="Description ..." rows="3" cols="80"></textarea>
        </div>
      </div>
    </div>
  </li>
   <!-- ng:if="questions_list[questionIndex].question_type == 0" ng:if="questions_list[questionIndex].question_type == 1" ng:if="questions_list[questionIndex].question_type == 2" ng:if="questions_list[questionIndex].question_type == 3" -->
  <li ng:if="questions_list[questionIndex].question_type == 0 || questions_list[questionIndex].question_type ==1 || questions_list[questionIndex].question_type ==2 || questions_list[questionIndex].question_type ==3">
    <div class="x-editor-x-title" ng:click="expand_collapsed_items('#answers-pt')">
      Answers
    </div>
    <div style="display:none;"class="x-editor-x-body" id="answers-pt">
        <div class="multi-answers-part">
          <!-- Repeating answers -->
          <ul ng:if="question_type <= 2" class="choices-part">
            <li ng:class="class_data_func( answer_value.is_correct , question_settings.choice_style )" ng:repeat="(answer_key , answer_value) in asnwers track by $index" class="answers_x" data-answer-id="answer_id_~>>answer_value._id<<~" data-answer-index="~>>$index<<~">

                <!-- text options value -->
                <div ng:if="question_type == 0" class="">
                   <ul class="answer-pt-controller">
                     <!-- is correct answer -->
                     <li ng:if="{{app.app_type }} == 1" ng:if="answer_value.is_correct == false" title="Make it Correct Answer">
                       <span ng:click="question_answer_mark_it_correct(answer_value._id)" class="fa fa-check"></span>
                     </li>
                     <!-- <li ng:if="{{app.app_type }} == 1" ng:if="answer_value.is_correct == true" title="Remove Correct Answer">
                       <span ng:click="question_answer_mark_it_correct(answer_value._id)" class="fa fa-check"></span>
                     </li> -->
                     <!-- Edit This Answer -->
                     <li ng:click="show_media_uploader('answers' ,  answer_value._id  )" title="Edit it with media">
                       <span class="fa fa-file-image-o edit-options-answer"></span>
                     </li>
                     <!-- Delete This Answer -->
                     <li ng:click="question_answer_deletion(answer_value._id)" title="Delete this answer">
                       <span class="fa fa-trash"></span>
                     </li>
                   </ul>

                   <div class="text-answers">
                     <!-- Answer Texts -->
                     <!-- <input class="writanswer-input" type="text" name="" ng:model="answer_value.value"> -->
                     <textarea class="writanswer-input answer-redactor-editors" ng:model="answer_value.value"></textarea>

                     <div ng:if="answer_value.media_optional != null" class="media-options">
                       <!-- Case it an image -->
                       <div ng:if="answer_value.media_optional.media_type == 0" style="background-image:url('~>>server_ip+answer_value.media_optional.media_src<<~')"  class="image_case"></div>
                       <!-- Case it Video -->

                       <div ng-bind-html="answer_value.media_optional | set_iframe" ng:if="answer_value.media_optional.media_type == 1"  class="video_case answer_video_case">
                          <!-- Append answer media here -->
                          Loading Media
                       </div>
                     </div>
                   </div>
                 </div>

                <!-- Media choices value -->
                <div ng:if="question_type == 1" class="">

                  <ul class="answer-pt-controller ">
                    <li  ng:if="{{app.app_type }} == 1"  title="Make it Correct Answer">
                      <span ng:click="question_answer_mark_it_correct(answer_value._id)" class="fa fa-check"></span>
                    </li>
                    <li ng:click="show_media_uploader('answers' ,  answer_value._id)" title="Edit it with media">
                      <span class="fa fa-pencil edit-options-answer"></span>
                    </li>
                    <li ng:click="question_answer_deletion(answer_value._id)" title="Delete this answer">
                      <span class="fa fa-trash"></span>
                    </li>
                  </ul>

                  <div class="text-answers">
                    <div class="media-answers">
                      <div class="media-options">
                        <!-- ~>>answer_value<<~ -->
                        <!-- Case it a defaultimage -->
                        <div ng:if="answer_value.media_type == null" style="background-image:url('~>>answer_value.media_src<<~')"  class="image_case"></div>

                        <div ng:if="answer_value.media_type != null" style="background-image:url('~>>answer_value.media_src<<~')"  class="image_case">
                          <div ng:if="answer_value.media_type == 0" style="background-image:url('~>>server_ip + answer_value.media_src<<~')"  class="image_case"></div>

                          <!-- Case it Video -->
                          <div ng-bind-html="answer_value | set_iframe" ng:if="answer_value.media_type == 1"  class="video_case answer_video_case">
                             <!-- Append answer media here -->
                             Loading Media
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <!-- true false value -->
                <div ng:if="question_type == 2" class="">
                    <ul  ng:if="{{app.app_type }} == 1"  class="answer-pt-controller ">
                      <li data-toggle="asnwers-options" title="Make it Correct Answer">
                        <span ng:click="question_answer_mark_it_correct(answer_value._id)" class="fa fa-check"></span>
                      </li>
                    </ul>
                    <div class="text-answers">
                        <span class="text-field-inpu">
                          ~>>answer_value.boolean_value<<~
                        </span>
                    </div>
                  </div>

            </li>
          </ul>
          <!-- Only one row answer -->
          <div ng:if="question_type > 2" class="survey-answers">

              <div class="survey-answer">
                <!-- Rating Case -->
                <div class=""> <!--  -->
                  <!-- Ratings  -->
                  <ul ng:if="questions_list[questionIndex].answers_format[0].ratscal_type == 1 " class="start-o" >
                    <li data-index='0' ng:repeat="(key_ , val_) in rating_scale_elements">
                      <span ng:click="select_rating_scale__($index , 1)" href="#">
                          <i class="fa fa-star-o"></i>
                      </span>
                    </li>
                  </ul>
                  <!-- Scale -->
                  <center>
                    <div class="scale-optn" ng:if="questions_list[questionIndex].answers_format[0].ratscal_type == 0 ">
                      <ul class="scalet-o" >
                        <li data-index='0' ng:repeat="(key_ , val_) in rating_scale_elements">
                          <span ng:click="select_rating_scale__($index , 0 )" href="#">
                              ~>> $index + 1 <<~
                          </span>
                        </li>
                      </ul>
                      <div class="clearFix"></div>

                      <div class="block-labels text-center">
                        <span class="first-lbl">
                          ~>>questions_list[questionIndex].answers_format[0].started_at | show_chars<<~
                        </span>
                        <span class="second-lbl">
                          ~>>questions_list[questionIndex].answers_format[0].centered_at | show_chars <<~
                        </span>
                        <span class="third-lbl">
                          ~>>questions_list[questionIndex].answers_format[0].ended_at | show_chars <<~
                        </span>
                      </div>
                    </div>
                  </center>
                </div>
              </div>
          </div>
           <!-- <pre ng:if="question_type > 2">
            ~>> questions_list[questionIndex] <<~
          </pre> -->
          <!--  ng:if="question_type == 0" -->
          <div ng:click="create_new_answer()" ng:if="question_type == 0 || question_type == 1" class="add-new-option">
              Add new option
          </div>
        </div>
    </div>
  </li>

  <li>
    <div class="x-editor-x-title" ng:click="expand_collapsed_items('#Settings-pt')">
      Question Settings
    </div>
    <div style="display:none;" class="x-editor-x-body" id="Settings-pt">
      <div class="col-sm-12">
        <div class="row-cols margin-top">
          <!-- <label class="titles-question"> Question Settings : </label> -->
          <div class="question-settings">
             <ul class="listSettings-qs">
               <!-- Max characters -->
               <li ng:if="questions_list[questionIndex].question_type == 4">
                 <span class="title-checkbox"> Max characters ( ~>>questions_list[questionIndex].answer_settings.answer_char_max<<~ ) </span>
                 <div class="rating_scale_options">
                     <input ng:model="questions_list[questionIndex].answer_settings.answer_char_max" id="char_max_slider" min="100" max="2000" type="range" name="">
                 </div> <!-- Slide Range -->
               </li>

                <li class="steps_qs" ng:if="questions_list[questionIndex].question_type == 3">
                    <span class="title-checkbox"> Steps ( ~>>questions_list[questionIndex].answers_format[0].step_numbers<<~ )</span>
                    <div class="rating_scale_options">
                        <input ng:change="change_rating_scale_value(questions_list[questionIndex].answers_format[0].step_numbers)" ng:model="questions_list[questionIndex].answers_format[0].step_numbers" id="step_slider" min="2" max="10" type="range" name="">
                    </div> <!-- Slide Range -->
                </li>

                <li class="show_lbls_qs" ng:if="questions_list[questionIndex].question_type == 3">
                    <div class="scale-options">
                      <span class="title-checkbox">Show labels</span>
                      <div class="slideThree on-off-checkbox-settings">
                         <input type="checkbox" id="show-labels" name="check" ng:model="questions_list[questionIndex].answers_format[0].show_labels">
                         <label for="show-labels"></label>
                         <span class="off-value"></span>
                      </div>
                    </div>
                    <div class="scale-options item-labels">
                        <input class="lab" type="text" ng:model="questions_list[questionIndex].answers_format[0].started_at" placeholder="Left">
                        <input class="lab" type="text" ng:model="questions_list[questionIndex].answers_format[0].centered_at" name="" value="" placeholder="Center">
                        <input class="lab" type="text" ng:model="questions_list[questionIndex].answers_format[0].ended_at" name="" value="" placeholder="Right">
                    </div>
                 </li>
                <li class="required_qs">
                   <span class="title-checkbox">Required</span>
                   <div class="slideThree on-off-checkbox-settings">
                      <input ng:model="question_settings.is_required" type="checkbox" id="required-option" name="check" checked="">
                      <label for="required-option"></label>
                      <span class="off-value"></span>
                   </div>
                </li>
                <li class="single_response_qs">
                   <span class="title-checkbox">Single Response</span>
                   <div class="slideThree on-off-checkbox-settings">
                      <input ng:model="question_settings.single_choice" type="checkbox" id="MultipleResponse-option" name="check" checked="">
                      <label for="MultipleResponse-option"></label>
                      <span class="off-value"></span>
                   </div>
                </li>
                <li class="randomize_qs">
                   <span class="title-checkbox">Randomize</span>
                   <div class="slideThree on-off-checkbox-settings">
                      <input ng:model="question_settings.is_randomized" type="checkbox" id="Randomize-option" name="check" checked="">
                      <label for="Randomize-option"></label>
                      <span class="off-value"></span>
                   </div>
                </li>
                <li class="super_sizer_qs">
                   <span class="title-checkbox">Super Size</span>
                   <div class="slideThree on-off-checkbox-settings">
                      <input ng:model="question_settings.super_size" type="checkbox"  id="SuperSize-option" name="check" checked="">
                      <label for="SuperSize-option"></label>
                      <span class="off-value"></span>
                   </div>
                </li>
               <li class="answer_stylish_qs">
                  <span class="title-checkbox">Style of Answer ( ~>>(question_settings.choice_style ) ? "Two columns per row" : "One column per row"<<~ )</span>
                   <div class="slideThree on-off-checkbox-settings">
                      <input ng:model="question_settings.choice_style" type="checkbox" id="SingleResponse-option" name="check" checked="">
                      <label for="SingleResponse-option"></label>
                      <span class="off-value"></span>
                   </div>
                </li>

             </ul>
          </div>
        </div>
       </div>
    </div>
  </li>
</ul>

<!-- <div class="clearFix top-border"></div> -->
<!-- ============================================== -->
<!--========= Question Settings  ================== -->
<!-- ============================================== -->

<div class="col-sm-12 text-right dash_sep">
  <button style="float:left;" ng:click="delete_this_question()" class="btn btn-danger-outline" type="button" name="button">
        Delete
  </button>
  <button ng:click="save_changes_in_angular_backend()" class="btn btn-primary-outline save_changes" type="button" name="button">
        Save Changes
  </button>
</div>


<!-- overlay answer -->
<!-- <div class="overlay-answer-section">
  <div class="box-answer-edit text-right">
    <div class="box-data-title">
      <b>Media Uploader</b>
    </div>
    <input placeholder="Media Url" class="media-inp-answer" type="text" name="" value="">
    <ul class="media-links">
      <li>
        <a class="answer-video-handler" href="#">
          Add Video
        </a>
      </li>
      <li>
        <input class="media-answer-up" style="display :none;" type="file" name="" value="">
        <a class="trigger-upload-answer-media" href="#">
          Add Image
        </a>
      </li>
    </ul>
    <button  class="btn btn-danger btn-close-media" type="button" name="button">
      Close
    </button>
    <button style="margin-right: 10px;" class="btn btn-primary" type="button" name="button">
      Save
    </button> -->
  </div>


</div>








<!--
==================================================
==================================================
          Question media + Answer media
==================================================
==================================================
-->

<!-- Overlay box -- w -- edit media -->
  <div class="box-overlay media-uploader media-imgvid-uploader">
    <!--
    ++++++++++++++++++++++++++++++++++++
    Box Overlay
    ++++++++++++++++++++++++++++++++++++
    -->
    <div class="box-data">
      <div class="box-data-title">
        <b>Media Uploader</b>
      </div>
      <div class="media-part-controller">
        <input ng:model="file_object.link" type="text" class="form-control media-inputs show_media_link" placeholder="Media Link">
        <ul class="media-links">
          <li>
            <a class="video-handler" href="#">
              Add Video
            </a>
          </li>
          <li>
            <input ng:model="file_object.file" class="image-uploader-x" type="file" name="" value="">
            <a class="image-handler" href="#">
              Add Image
            </a>
          </li>
        </ul>
      </div>
      <div class="preview-media">
        <div class="pre-title media-im-vid">
          <span>Preview</span>
        </div>
        <div class="preview-media-part media-im-vid">
          <div class="media-x-preview">
            <!-- List media part here -->
          </div>
        </div>
        <div class="preview-media-part butns-part">
          <button ng:click="close_media_box()" class="button_updates btn btn-danger btn-close-media" type="button" name="button">
            Close
          </button>
          <button ng:click="save_media_with('preview')" class="button_updates btn btn-primary" type="button" name="button">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
