<li>
      <span class="qs-type quesiontlist_iconx" title="Multiple Choices">
       <i class="icon-insert-template"></i>
     </span>
      <span>Multiple Choices</span>
      <i onClick="highlighted_question('QS-IDs');"  class="fa fa-pencil iconex-movable line_editor edit-this-qs"></i>
      <i class="fa fa-trash iconx-trashable"></i>
</li>
