 <link rel="stylesheet" href="{> default_player | trust_iframe_url <}">
 <link rel="stylesheet" href="{> default_theme | trust_iframe_url <}">
 <style>
   .x-widther{
      width: 95%;
      margin-top: 16px;
   }
 </style>
 <!--
---------------------------------------------------------
=============================>>> Welcome Screen
---------------------------------------------------------
 -->
<div class="swiper-wrapper quiz-contents keep-it-padding" ng:if="_settings_.enable_screens == true">
    <div class="swiper-slide welcoming-screen-x">
      <div data-selected-block="question-slide" class="container  x-widther screen-container screen-ending-starting screen_opg_editor welcome-screen select_box_brd welcome-screen-block box-welcome-screen">
         <div>
             <div class="description-body redactor-styles select_texts welcome-screen-text-block welcome-screen-text" ng:bind:html="_settings_.titles.title_start_with | apply_html"></div>
             <div class="qusu-details text-right">
                <button class="button-take-this select_button welcome-screen-button-block welcome-screen-button" type="button" name="button">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                      {> _settings_.label_btns.lbl_start_with <}
                </button>
             </div>
         </div>
      </div>
    </div>
</div>
