<div class="builing_new_qs">
  Building New Question ...
</div>
<iframe src='{{server_ip}}{{app._id}}/live_preview/{{user.id}}' id="live-preview-iframe"></iframe>
<!-- <div render-iframely ng-bind-html="iframelyHtml"></div> -->
