<!-- Menu Navugation -->
<div class="nav-container">
    <div class="nav-wrapper">
        <!-- Close Open  -->
        <div ng:click="nav_container_manager(nav_status)" class="close_open_navbar_handler">
          <span class="fa fa-cog"></span>
        </div>
        <!-- Nav header -->
        <div class="navbar-header">
          <span class="setting-title-x">
            Settings
          </span>
        </div>
        <!-- Sections -->
        <ul class="second-nav">
          <li class="nav-parent">
            <a href="#" class="head-items">
              General
              <span class="nav-next"></span>
            </a>
            <div class="items">
              <ul>
                <li>
                  <span>Quiz Title</span>
                  <input ng:model="_application_.questionnaire_title" type="text" name="" value="">
                </li>
                <li>
                  <input ng:model="_settings_.grade_settings.is_graded" type="checkbox" id="passing-grade" class="switch_1 input-checkboxes">
                  <label for="passing-grade" style=" margin-left: 10px;" >Passing Grade</label>
                  <input ng:model="_settings_.grade_settings.value" min="40" max="100" type="number" name="" value="" style="width:80px; float:right;">
                </li>
                <li class="righ-check-box">
                  <label for="show-qs-resulat" style=" margin-left: 10px;" >Show Result on each question</label>
                  <input ng:model="_settings_.show_results_per_qs" type="checkbox" id="show-qs-resulat" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box">
                  <label for="buttons-enable" style=" margin-left: 10px;" >Enable navigation buttons</label>
                  <input ng:model="_settings_.navigation_btns" type="checkbox" id="buttons-enable" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box">
                  <label for="auto-slide-answer" style=" margin-left: 10px;" >Auto slide when select answer</label>
                  <input ng:model="_settings_.auto_slide" type="checkbox" id="auto-slide-answer" class="switch_1 input-checkboxes">
                </li>
                <!--  ... -->
                <li class="righ-check-box">
                  <label for="touch-move-sliding" style=" margin-left: 10px;" >Enable touch move(sliding)</label>
                  <input ng:model="_settings_.allow_touch_move" type="checkbox" id="touch-move-sliding" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box">
                  <label for="enable-retake" style=" margin-left: 10px;" >Enable Retake</label>
                  <input ng:model="_settings_.retake_setting" type="checkbox" id="enable-retake" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box">
                  <label for="enable-review" style=" margin-left: 10px;" >Enable Review</label>
                  <input ng:model="_settings_.review_setting" type="checkbox" id="enable-review" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box">
                  <label for="rendomize-question" style=" margin-left: 10px;" >Randomize Questions</label>
                  <input ng:model="_settings_.randomize_settings" ng:change="randomize_sorting_questions(_settings_.randomize_settings)" type="checkbox" id="rendomize-question" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box">
                  <label for="goodby-screen-we-enable" style=" margin-left: 10px;" >Enable Goodby and welcome screen</label>
                  <input ng:model="_settings_.enable_screens" type="checkbox" id="goodby-screen-we-enable" class="switch_1 input-checkboxes">
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-parent">
            <a href="#">
              Progress bar Options
              <span class="nav-next"></span>
            </a>
            <div class="items">
              <ul>
                <li class="righ-check-box">
                  <label for="enable-progress-bar" style=" margin-left: 10px;" >Enable Progress bar</label>
                  <input ng:model="_settings_.progression_bar.is_available" type="checkbox" id="enable-progress-bar" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box">
                  <label style=" margin-left: 10px;" >Styles</label>
                  <i class="fa fa-caret-down i-icons" aria-hidden="true"></i>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-parent">
            <a href="#">
              Timer Options
              <span class="nav-next"></span>
            </a>
            <div class="items">
              <ul>
                <li>
                  <div class="time-frames">
                    <input ng:hide="(_settings_.time_settings.timer_type == false)" ng:disabled="( _settings_.time_settings.timer_type == false || _settings_.time_settings.is_with_time == false)" ng:model="_settings_.time_settings.hours" ng:change="time_hrs_is_changed(_settings_.time_settings.hours)" type="number" min="00" max="9" name="" value="00">
                    <span  ng:hide="(_settings_.time_settings.timer_type == false)">:</span>
                    <input ng:disabled="_settings_.time_settings.is_with_time == false" ng:model="_settings_.time_settings.minutes"ng:change="time_mins_is_changed(_settings_.time_settings.minutes)" type="number" min="00" max="59" name="" value="00">
                    <span>:</span>
                    <input ng:disabled="_settings_.time_settings.is_with_time == false" ng:model="_settings_.time_settings.seconds" ng:change="time_hrs_is_changed(_settings_.time_settings.seconds)" type="number" min="00" max="59" name="" value="00">
                  </div>
                </li>
                <li class="righ-check-box">
                  <label for="enable-timer" style=" margin-left: 10px;" >Enable Timer</label>
                  <input ng:model="_settings_.time_settings.is_with_time" type="checkbox" id="enable-timer" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box">
                  <label for="time-types" style=" margin-left: 10px;" >Enable Hours</label>
                  <input ng:model="_settings_.time_settings.timer_type" type="checkbox" id="time-types" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box">
                  <label style=" margin-left: 10px;" >Styles</label>
                  <i class="fa fa-caret-down i-icons" aria-hidden="true"></i>
                </li>

              </ul>
            </div>
          </li>
          <li class="nav-parent">
            <a href="#">
              Expiration Options
              <span class="nav-next"></span>
            </a>
            <div class="items">
              <ul>
                <li class="righ-check-box">
                  <label for="allow-expiration-date" style=" margin-left: 10px;" >Enable Expiration Date</label>
                  <input ng:model="_settings_.expiration.is_set" type="checkbox" id="allow-expiration-date" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box">
                  <label style=" margin-left: 10px;" >Number Of Days</label>
                  <input ng:model="_settings_.expiration.through_time" type="number" name="" value="" style="width:80px; float:right;">
                </li>
                <li class="righ-check-box">
                  <label style=" margin-left: 10px;">Expiration Message</label>
                  <textarea ng:model="_settings_.expiration.title" class="text-area-style" name="name"></textarea>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-parent">
            <a href="#">
              Messages and Texts
              <span class="nav-next"></span>
            </a>
            <div class="items">
              <ul>
                <li class="righ-check-box">
                  <label style=" margin-left: 10px;">Welcome Page:</label>
                  <textarea ng:model="_settings_.titles.title_start_with" class="text-area-style" name="name"></textarea>
                </li>
                <li class="righ-check-box">
                  <label  style=" margin-left: 10px;">Goodbye and Thank you Page :</label>
                  <textarea ng:model="_settings_.titles.title_end_with" class="text-area-style" name="name"></textarea>
                </li>
                <li class="righ-check-box">
                  <label  style=" margin-left: 10px;">Quiz Pass Page :</label>
                  <textarea  ng:model="_settings_.titles.title_success_with" class="text-area-style" name="name"></textarea>
                </li>
                <li class="righ-check-box">
                  <label style=" margin-left: 10px;">Quiz Fail Page: :</label>
                  <textarea ng:model="_settings_.titles.title_failed_with" class="text-area-style" name="name"></textarea>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-parent">
            <a href="#">
              Labels
              <span class="nav-next"></span>
            </a>
            <div class="items">
              <ul>
                <li class="righ-check-box input-x">
                  <div class="label-manger">
                    <label style=" margin-left: 10px;">Question Labels</label>
                    <ul class="labels_">
                      <li>
                        <span>
                          A<i>b</i><b>c</b>
                        </span>
                      </li>
                      <li>
                        <span>
                          1<i>2</i><b>3</b>
                        </span>
                      </li>
                    </ul>
                  </div>
                  <div class="label-manger">
                    <label style=" margin-left: 10px;">Answer Labels</label>
                    <ul class="labels_">
                      <li>
                        <span>
                          A<i>b</i><b>c</b>
                        </span>
                      </li>
                      <li>
                        <span>
                          1<i>2</i><b>3</b>
                        </span>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Quiz Start Button</label>
                  <input ng:model="_settings_.label_btns.lbl_start_with" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Review Button</label>
                  <input ng:model="_settings_.label_btns.lbl_review_with" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Restart Button</label>
                  <input ng:model="_settings_.label_btns.lbl_retake_with" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Continue Button</label>
                  <input ng:model="_settings_.label_btns.lbl_continue_with" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Back Button</label>
                  <input ng:model="_settings_.label_btns.lbl_back_with" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Finish Button</label>
                  <input ng:model="_settings_.label_btns.lbl_finish_with" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Submit Quiz Button</label>
                  <input ng:model="_settings_.label_btns.lbl_submit_quiz_with" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Score Text</label>
                  <input ng:model="_settings_.label_btns.lbl_score_with" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Grade Text</label>
                  <input ng:model="_settings_.label_btns.lbl_grade_with" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Warning Message when no questions has been attempted</label>
                  <input ng:model="_settings_.label_btns.didnot_yet" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Unsolved questions</label>
                  <input ng:model="_settings_.label_btns.unsolved_question" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">When you solve this question next one will come( Note )</label>
                  <input ng:model="_settings_.label_btns.when_you_solve" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">You have many answers in this question( Note )</label>
                  <input ng:model="_settings_.label_btns.there_are_many_options" type="text" name="" value="">
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-parent">
            <a href="#">
              Stylesheet
              <span class="nav-next"></span>
            </a>
            <div class="items">
              <ul>
                <li class="righ-check-box">
                  <label for="enable-css-mode" style=" margin-left: 10px;">Enable Css Mode</label>
                  <input type="checkbox" id="enable-css-mode" class="switch_1 input-checkboxes">
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <div class="button-container">
          <!-- <span class="title-editor-option">Editor Saving Option</span>
          <input type="checkbox" id="passing-grade" class="switch_1 input-checkboxes">
          <label for="passing-grade" style=" margin-left: 10px;">Auto save</label> -->
          <button ng:click="saving_quiz_settings();" type="button" class="btn btn-primary" name="button"> Apply Changes</button>
        </div>
    </div>
</div>
