<!-- Menu Navugation -->
<div class="nav-container">
    <div class="nav-wrapper">
        <!-- Close Open  -->
        <div ng:click="nav_container_manager(nav_status)" class="close_open_navbar_handler">
          <span class="fa fa-cog"></span>
        </div>
        <!-- Nav header -->
        <div class="navbar-header">
          <span class="setting-title-x">
            Settings
          </span>
        </div>
        <!-- Sections -->
        <ul class="second-nav">

          <li class="nav-parent">
            <a href="#" class="head-items">
              General
              <span class="nav-next"></span>
            </a>
            <div class="items">
              <ul>
                <li>
                  <span ng:if="_application_.app_type == 1">Quiz Title</span>
                  <span ng:if="_application_.app_type == 0">Survey Title</span>
                  <input ng:model="_application_.questionnaire_title" type="text" name="" value="">
                </li>
                <li ng:show="_application_.app_type == 1">
                  <input ng:change="change_in_view( 2 )" ng:model="_settings_.grade_settings.is_graded" type="checkbox" id="passing-grade" class="switch_1 input-checkboxes">
                  <label for="passing-grade" style=" margin-left: 10px;" >Passing Grade</label>
                  <div class="passgrade_block">
                    <input ng:model="_settings_.grade_settings.value" min="40" max="100" type="number" name="" value="" >
                    <span style="float:right;">%</span>
                  </div>
                </li>
                <li ng:show="_application_.app_type == 1" class="righ-check-box">
                  <label for="show-qs-resulat" style=" margin-left: 10px;" >Show Result on each question</label>
                  <input ng:model="_settings_.show_results_per_qs" type="checkbox" id="show-qs-resulat" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box">
                  <label for="buttons-enable" style=" margin-left: 10px;" >Enable navigation buttons</label>
                  <input ng:change="change_in_view( 3 )" ng:model="_settings_.navigation_btns" type="checkbox" id="buttons-enable" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box">
                  <label for="auto-slide-answer" style=" margin-left: 10px;" >Auto slide when select answer</label>
                  <input ng:change="change_in_view( 3 )" ng:model="_settings_.auto_slide" type="checkbox" id="auto-slide-answer" class="switch_1 input-checkboxes">
                </li>
                <!--  ... -->
                <li class="righ-check-box">
                  <label for="touch-move-sliding" style=" margin-left: 10px;" >Enable touch move(sliding)</label>
                  <input ng:change="change_in_view( 3 )" ng:model="_settings_.allow_touch_move" type="checkbox" id="touch-move-sliding" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box">
                  <label for="enable-retake" style=" margin-left: 10px;" >Enable Retake</label>
                  <input ng:change="change_in_view( 2 )" ng:model="_settings_.retake_setting" type="checkbox" id="enable-retake" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box">
                  <label for="enable-review" style=" margin-left: 10px;" >Enable Review</label>
                  <input ng:change="change_in_view( 2 )" ng:model="_settings_.review_setting" type="checkbox" id="enable-review" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box">
                  <label for="rendomize-question" style=" margin-left: 10px;" >Randomize Questions</label>
                  <input ng:change="change_in_view( 3 , null , 'randomize' , _settings_.randomize_settings )" ng:model="_settings_.randomize_settings" ng:change="randomize_sorting_questions(_settings_.randomize_settings)" type="checkbox" id="rendomize-question" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box">
                  <label for="goodby-screen-we-enable" style=" margin-left: 10px;">Enable Welcome and Thank you page</label>
                  <input ng:model="_settings_.enable_screens" ng:change="changing_into_we_screen( _settings_.enable_screens )" type="checkbox" id="goodby-screen-we-enable" class="switch_1 input-checkboxes">
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-parent">
            <a href="#">
              Progress bar Options
              <span class="nav-next"></span>
            </a>
            <div class="items">
              <ul>
                <li class="righ-check-box">
                  <label for="enable-progress-bar" style=" margin-left: 10px;" >Enable Progress bar</label>
                  <input ng:model="_settings_.progression_bar.is_available" type="checkbox" id="enable-progress-bar" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box dropdown" ng:show="_settings_.progression_bar.is_available">
                  <label style=" margin-left: 10px;" >Styles</label>
                  <i class="fa fa-caret-down i-icons" data-toggle="dropdown" aria-hidden="true"></i>

                  <ul class="dropdown-menu">
                    <li ng:class="( _settings_.progression_bar.progression_bar_layout == 1 ) ? 'selected-style' : ''" ng:click ="set_model_type(1 , 0)">
                      <a href="#" class="text-center" style="padding: 10px 20px;">
                        <div class="progress-bx" style="outline-color: transparent;">
                           <span box-target-type="box-texts" box-target-class="progress-bar-txt" class="progress-bar-txt selector" contenteditable="false" style="outline: transparent solid 3px; outline-offset: 4px;" onkeydown="if(event.metaKey) return true; return false;">50%</span>
                           <div style="width: 140px;" class="progress-ctmain selector" box-target-type="box-containers" box-target-class="progress-ctmain" contenteditable="false" style="outline: transparent solid 3px; outline-offset: 4px;" onkeydown="if(event.metaKey) return true; return false;">
                             <div box-target-type="box-containers" box-target-class="highlighted-progress" class="highlighted-progress selector" contenteditable="false" style="outline-color: transparent;"></div>
                           </div>
                         </div>
                      </a>
                    </li>
                    <li ng:class="( _settings_.progression_bar.progression_bar_layout == 2 ) ? 'selected-style' : ''" ng:click ="set_model_type(2 , 0)">
                      <a href="#" class="text-center" style="float: none;">
                        <div class="progress-container option-container text-left" style="margin:0px auto; float:none;">
                          <div class="progress-bx">
                            <span box-target-type="box-texts" box-target-class="progress-text2" class="progress-text2">
                              <i class="fa fa-sliders"></i>
                              <span class="marsds">{> (question_index + 1) + " / "+ _questions_.length <}</span>
                            </span>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </li>
          <li ng:hide="_application_.app_type == 0"  class="nav-parent">
            <a href="#">
              Timer Options
              <span class="nav-next"></span>
            </a>
            <div class="items">
              <ul>
                <li ng:show="_settings_.time_settings.is_with_time">
                  <div class="time-frames">
                    <input style="color:#b3b3b3;" ng:hide="(_settings_.time_settings.timer_type == false)" ng:disabled="( _settings_.time_settings.timer_type == false || _settings_.time_settings.is_with_time == false)" ng:model="_settings_.time_settings.hours" ng:change="time_hrs_is_changed(_settings_.time_settings.hours)" type="number" min="00" max="9" name="" value="00">
                    <span  style="color:#b3b3b3;" ng:hide="(_settings_.time_settings.timer_type == false)">:</span>
                    <input style="color:#b3b3b3;" ng:disabled="_settings_.time_settings.is_with_time == false" ng:model="_settings_.time_settings.minutes"ng:change="time_mins_is_changed(_settings_.time_settings.minutes)" type="number" min="00" max="59" name="" value="00">
                    <span style="color:#b3b3b3;" >:</span>
                    <input style="color:#b3b3b3;" ng:disabled="_settings_.time_settings.is_with_time == false" ng:model="_settings_.time_settings.seconds" ng:change="time_hrs_is_changed(_settings_.time_settings.seconds)" type="number" min="00" max="59" name="" value="00">
                  </div>
                </li>
                <li class="righ-check-box">
                  <label for="enable-timer" style=" margin-left: 10px;" >Enable Timer</label>
                  <input ng:change="timer_is_enabled(_settings_.time_settings.is_with_time)" ng:model="_settings_.time_settings.is_with_time" type="checkbox" id="enable-timer" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box" ng:show="_settings_.time_settings.is_with_time">
                  <label for="time-types" style=" margin-left: 10px;" >Enable Hours</label>
                  <input ng:model="_settings_.time_settings.timer_type" type="checkbox" id="time-types" class="switch_1 input-checkboxes">
                </li>
                <li class="righ-check-box dropdown" ng:show="_settings_.time_settings.is_with_time">
                 <label style=" margin-left: 10px;" >Styles</label>
                 <i class="fa fa-caret-down i-icons" data-toggle="dropdown" aria-hidden="true"></i>
                 <ul class="dropdown-menu popover">
                   <li ng:class="( _settings_.time_settings.timer_layout == 1 ) ? 'selected-style' : ''" ng:click ="set_model_type(1 , 1)">
                     <a href="#" class="text-center" style="padding: 10px 20px;">
                       <div>
                           <div ng:hide="(_settings_.time_settings.timer_type == false)" ng:disabled="( _settings_.time_settings.timer_type == false )" class="tick-group">
                               <span ng:bind="_settings_.time_settings.hours"></span>
                               <sub>h</sub>
                           </div>
                           <div class="tick-group">
                             <span ng:bind="_settings_.time_settings.minutes"></span>
                             <sub>m</sub>
                           </div>
                           <div class="tick-group">
                             <span ng:bind="_settings_.time_settings.seconds"></span>
                             <sub>s</sub>
                           </div>
                       </div>
                     </a>
                   </li>
                   <li ng:class="( _settings_.time_settings.timer_layout == 2 ) ? 'selected-style' : ''">
                     <a    ng:click ="set_model_type(2 , 1)" href="#" class="text-center" style="float: none;">
                       <div class="time-container option-container text-right"  style="overflow: hidden;width: auto;padding: 9px 0px; float:none;">
                           <div class="time-models-act selector" box-target-class="time-models-act" box-target-type="box-labels">
                             05
                           </div>
                           <span box-target-class="dotted-hrs" box-target-type="box-texts" class="dotted-hrs selector">:</span>
                           <div class="time-models-act selector" box-target-class="time-models-act" box-target-type="box-labels">
                             30
                           </div>
                           <span box-target-class="dotted-hrs" box-target-type="box-texts" class="dotted-hrs selector">:</span>
                           <div class="time-models-act selector" box-target-class="time-models-act" box-target-type="box-labels">
                             45
                           </div>
                         </div>
                     </a>
                   </li>
                 </ul>
               </li>
              </ul>
            </div>
          </li>
          <li  ng:hide="_application_.app_type == 0"  class="nav-parent">
            <a href="#">
              Expiry Options
              <span class="nav-next"></span>
            </a>
            <div class="items">
              <ul>
                <li class="righ-check-box">
                  <label for="allow-expiration-date" style=" margin-left: 10px;" >
                    Enable Expiry System
                  </label>
                  <input ng:model="_settings_.expiration.is_set" type="checkbox" id="allow-expiration-date" class="switch_1 input-checkboxes">
                </li>
                <li  class="righ-check-box" ng:show="_settings_.expiration.is_set">
                  <label style="margin-left: 10px;" >
                    Number Of Days
                  </label>
                  <input ng:disabled="!_settings_.expiration.is_set" ng:change="changed_day_numbers(_settings_.expiration.through_time)" max="50" min="1" ng:model="_settings_.expiration.through_time" type="number" name="" value="" style="width:80px; float:right;">
                </li>
                <li  class="righ-check-box marked_instructions"  ng:show="_settings_.expiration.is_set">
                  <label style="margin-left: 10px;">
                    Expiry Warning
                  </label>
                  <div class="msg-redactors" ng:custom:message:editors></div>
                  <!-- <textarea ng:disabled="!_settings_.expiration.is_set" ng:change="change_in_view( 4 )"  style="min-height: 100px; resize: vertical;" ng:model="_settings_.expiration.expire_warning" class="text-area-style set_redactor" name="name"></textarea> -->
                </li>
                <li class="righ-check-box marked_instructions"  ng:show="_settings_.expiration.is_set">
                  <label style=" margin-left: 10px;">Expiry Message</label>
                  <textarea ng:disabled="!_settings_.expiration.is_set" ng:change="change_in_view( 5 )" style="min-height: 100px; resize: vertical;" ng:model="_settings_.expiration.expire_message" class="text-area-style set_redactor" name="name"></textarea>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-parent">
            <a href="#">
              Messages and Texts
              <span class="nav-next"></span>
            </a>
            <div class="items">
              <ul>
                <li ng:show="_settings_.enable_screens" class="righ-check-box">
                  <label class="redactor-xxxx" style=" margin-left: 10px;">Welcome Page </label>
                  <textarea ng:keyup="go_to_screen_number(0)" ng:model="_settings_.titles.title_start_with" class="text-area-style set_redactor" name="name"></textarea>
                </li>
                <li ng:show="_settings_.enable_screens" class="righ-check-box">
                  <label class="redactor-xxxx"  style=" margin-left: 10px;">Thank you Page </label>
                  <textarea ng:keyup="go_to_screen_number(1)" ng:model="_settings_.titles.title_end_with" class="text-area-style set_redactor" name="name"></textarea>
                </li>
                <li ng:show="_application_.app_type == 1" class="righ-check-box">
                  <label class="redactor-xxxx"  style=" margin-left: 10px;">Quiz Pass Page  </label>
                  <textarea  ng:keyup="go_to_screen_number(2)" ng:model="_settings_.titles.title_success_with" class="text-area-style set_redactor" name="name"></textarea>
                </li>
                <li ng:show="_application_.app_type == 1" class="righ-check-box">
                  <label class="redactor-xxxx"  style=" margin-left: 10px;">Quiz Fail Page </label>
                  <textarea ng:keyup="go_to_screen_number(2)" ng:model="_settings_.titles.title_failed_with" class="text-area-style set_redactor" name="name"></textarea>
                </li>
                <li class="righ-check-box">
                  <label class="redactor-xxxx"  style=" margin-left: 10px;">Resume Page</label>
                  <textarea ng:keyup="go_to_screen_number(4)" ng:model="_settings_.titles.title_resume"  class="text-area-style set_redactor" name="name"></textarea>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-parent">
            <a href="#">
              Labels and Buttons
              <span class="nav-next"></span>
            </a>
            <div class="items">
              <ul>
                <li class="righ-check-box input-x list-of-labels" style="    padding-bottom: 30px;">
                  <div class="label-manger">
                    <label style=" margin-left: 10px;">Question Labels</label>
                    <ul class="labels_">
                      <li ng:click="active_this_label(0)" ng:class="( _settings_.indexes.questions == 0) ? 'selected_labels' :''">
                        <span>
                          A<i>b</i><b>c</b>
                        </span>
                      </li>
                      <li ng:click="active_this_label(1)"  ng:class="( _settings_.indexes.questions == 1) ? 'selected_labels' :''">
                        <span>
                          1<i>2</i><b>3</b>
                        </span>
                      </li>
                    </ul>
                    <!-- <div class="style-block">
                      Styles
                      <span class="fa fa-caret-down"></span>
                    </div> -->
                  </div>
                  <div class="label-manger">
                    <label style=" margin-left: 10px;">Answer Labels</label>
                    <ul class="labels_">
                      <li ng:click="active_this_answer_label(0)" ng:class="( _settings_.indexes.answers == 0) ? 'selected_labels' :''">
                        <span>
                          A<i>b</i><b>c</b>
                        </span>
                      </li>
                      <li ng:click="active_this_answer_label(1)" ng:class="( _settings_.indexes.answers == 1) ? 'selected_labels' :''">
                        <span>
                          1<i>2</i><b>3</b>
                        </span>
                      </li>
                    </ul>
                    <!-- <div class="style-block">
                      Styles
                      <span class="fa fa-caret-down"></span>
                    </div> -->
                  </div>
                </li>
                <li class="righ-check-box input-x">
                  <label  ng:if="_application_.app_type == 1" style=" margin-left: 10px;">Quiz Start Button</label>
                  <label  ng:if="_application_.app_type == 0" style=" margin-left: 10px;">Survey Start Button</label>
                  <input ng:change="change_in_view( 0 )" ng:model="_settings_.label_btns.lbl_start_with" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Review Button</label>
                  <input ng:change="change_in_view( 2 )" ng:model="_settings_.label_btns.lbl_review_with" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Restart Button</label>
                  <input ng:change="change_in_view( 2 )" ng:model="_settings_.label_btns.lbl_retake_with" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Continue Button</label>
                  <input ng:change="change_in_view( 3 )" ng:model="_settings_.label_btns.lbl_continue_with" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Back Button</label>
                  <input ng:change="change_in_view( 3 )" ng:model="_settings_.label_btns.lbl_back_with" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Finish Button</label>
                  <input ng:change="change_in_view( 3  , (  _questions_.length - 1 )  )" ng:model="_settings_.label_btns.lbl_finish_with" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Resume Button</label>
                  <input ng:change="change_in_view( 4 )" ng:model="_settings_.label_btns.lbl_resume_with" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label ng:if="_application_.app_type == 1" style=" margin-left: 10px;">Submit Quiz Button</label>
                  <label ng:if="_application_.app_type == 0" style=" margin-left: 10px;">Submit Survey Button</label>
                  <input ng:change="change_in_view( 1 )" ng:model="_settings_.label_btns.lbl_submit_quiz_with" type="text" name="" value="">
                </li>
                <li ng:show="_application_.app_type == 1" class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Score Text</label>
                  <input ng:change="change_in_view( 2 )"  ng:model="_settings_.label_btns.lbl_score_with" type="text" name="" value="">
                </li>
                <li ng:show="_application_.app_type == 1" class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Grade Text</label>
                  <input ng:change="change_in_view( 2 )" ng:model="_settings_.label_btns.lbl_grade_with" type="text" name="" value="">
                </li>
                <li ng:show="_application_.app_type == 1" class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Warning Message when no questions has been attempted</label>
                  <input ng:change="change_in_view( 3 )" ng:model="_settings_.label_btns.didnot_yet" type="text" name="" value="">
                </li>
                <li ng:show="_application_.app_type == 1" class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">Unsolved questions</label>
                  <input ng:change="change_in_view( 3 )" ng:model="_settings_.label_btns.unsolved_question" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">When you solve this question next one will come( Note )</label>
                  <input ng:change="change_in_view( 3 )" ng:model="_settings_.label_btns.when_you_solve" type="text" name="" value="">
                </li>
                <li class="righ-check-box input-x">
                  <label style=" margin-left: 10px;">You have many answers in this question( Note )</label>
                  <input ng:change="change_in_view( 3 )" ng:model="_settings_.label_btns.there_are_many_options" type="text" name="" value="">
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-parent">
            <a href="#">
              Styles
              <span class="nav-next"></span>
            </a>
            <div class="items">
              <ul>
                <li class="righ-check-box">
                  <label for="enable-css-mode" style=" margin-left: 10px;">Edit Styles</label>
                  <input ng:change="enable_css_mode_func(enable_css_mode)" ng:model="enable_css_mode" type="checkbox" id="enable-css-mode" class="switch_1 input-checkboxes">
                </li>
              </ul>
              <div class="container-of-classes">
                <code>Hover over element you want to change the style and you can then edit them</code>
              </div>
              <div class="pellet-containerz">
                <h4 class="element_types" ng:if="selecotor_name == '.Answers'">Basic</h4>
                <ul>
                  <li ng:show="css_pellet_mode.radial_text_color == true">
                    <span>Text Color</span>
                    <input ng:change="apply_stylesheet_in_views( 'fill', radial_text_colors)" ng:model="radial_text_colors" class="radial_text_colors" type="text" name="" value="">
                  </li>
                  <li ng:show="css_pellet_mode.radial_fill == true">
                    <span>Track Progress Color</span>
                    <input ng:change="apply_stylesheet_in_views('fill', radial_fill_colors)" ng:model="radial_fill_colors" class="radial_fill_colors" type="text" name="" value="">
                  </li>
                  <li ng:show="css_pellet_mode.radial_strock == true">
                    <span>Track Stroke Color</span>
                    <input ng:change="apply_stylesheet_in_views('stoke', radial_storck_colors)" ng:model="radial_storck_colors" class="radial_storck_colors" type="text" name="" value="">
                  </li>

                  <li  ng:show="css_pellet_mode.background == true">
                    <span>Background</span>
                    <input  ng:change="apply_stylesheet_in_views('background-color',background_models)"  ng:model="background_models" class="background_models" type="text" name="" value="">
                  </li>
                  <li ng:show="css_pellet_mode.color == true">
                    <span>Color</span>
                    <input  ng:change="apply_stylesheet_in_views('color' , color_models)" ng:model="color_models" class="color_models" type="text" name="" value="">
                  </li>
                  <li ng:show="css_pellet_mode.fontSize == true">
                    <span>Font Size</span>
                    <input ng:change="apply_stylesheet_in_views('font-size' , font_size_models)" ng:model="font_size_models" style="width:60px; color:#999;" value="15" type="number" min="15" max="25" name="">
                  </li>
                  <li ng:show="css_pellet_mode.fontFamily == true">
                    <span>Font Family</span>
                    <select  ng:change="apply_stylesheet_in_views('font-family' , font_family_models)" ng:model="font_family_models" class="select_borders">
                      <option value="arial">Arial</option>
                      <option value='"helvetica neue", helvetica, arial, sans-serif'>Helvetica</option>
                      <option value="RobotoRegular">Roboto Regular</option>
                      <option value="opensansregular">Open Sans Regular</option>
                      <option value="OpenSansSemiBold">Open Sans Semi Bold</option>
                    </select>
                  </li>
                  <li ng:show="css_pellet_mode.width == true">
                    <span>Width</span>
                    <input style="width:60px; color:#999;" ng:change="apply_stylesheet_in_views('width' , media_container)" ng:model="media_container" type="number" min="180" max="500" name="" value="">
                  </li>
                  <li ng:show="css_pellet_mode.border == true">
                    <span>Border</span>
                    <input ng:change="apply_stylesheet_in_views('border-color' , border_models_color)" ng:model="border_models_color" class="border_models_color" type="text" name="" value="">
                    <select style="margin-right:10px;" ng:change="apply_stylesheet_in_views('border-style' , border_style_models)"  ng:model="border_style_models">
                      <option value="none">None</option>
                      <option value="solid">Solid</option>
                      <option value="dashed">Dashed</option>
                      <option value="dotted">Dotted</option>
                    </select>
                      <ul class="border-lists">
                        <li>
                          <span>Left</span>
                          <select ng:change="apply_stylesheet_in_views('border-left-width' , border_left_models)" ng:model="border_left_models" class="select_borders">
                            <option value="0px">None</option>
                            <option value="1px">1px</option>
                            <option value="2px">2px</option>
                            <option value="3px">3px</option>
                            <option value="4px">4px</option>
                            <option value="5px">5px</option>
                          </select>
                        </li>
                        <li>
                          <span>Right</span>
                          <select ng:change="apply_stylesheet_in_views('border-right-width' , border_right_models)" ng:model="border_right_models" class="select_borders">
                            <option value="0px">None</option>
                            <option value="1px">1px</option>
                            <option value="2px">2px</option>
                            <option value="3px">3px</option>
                            <option value="4px">4px</option>
                            <option value="5px">5px</option>
                          </select>
                        </li>
                        <li>
                          <span>Top</span>
                          <select ng:change="apply_stylesheet_in_views('border-top-width' , border_top_models)"  ng:model="border_top_models" class="select_borders">
                            <option value="0px">None</option>
                            <option value="1px">1px</option>
                            <option value="2px">2px</option>
                            <option value="3px">3px</option>
                            <option value="4px">4px</option>
                            <option value="5px">5px</option>
                          </select>
                        </li>
                        <li>
                          <span>Bottom</span>
                          <select ng:change="apply_stylesheet_in_views('border-bottom-width' , border_bottom_models)" ng:model="border_bottom_models" class="select_borders">
                            <option value="0px">None</option>
                            <option value="1px">1px</option>
                            <option value="2px">2px</option>
                            <option value="3px">3px</option>
                            <option value="4px">4px</option>
                            <option value="5px">5px</option>
                          </select>
                        </li>
                      </ul>
                  </li>
                </ul>
                <!--  Hover Cases -->
                <h4 class="element_types" ng:if="selecotor_name == '.Answers'">Hover Cases</h4>
                <ul>
                  <li ng:show="css_pellet_mode.hover_background == true">
                    <span>Background</span>
                    <input ng:change="apply_stylesheet_in_views('background-color' , hover_background_models , 'hover')" ng:model="hover_background_models" class="hover_background_models" type="text" name="" value="">
                  </li>
                  <li ng:show="css_pellet_mode.hover_color == true">
                    <span>Color</span>
                    <input ng:change="apply_stylesheet_in_views('color' , hover_color_models , 'hover')" ng:model="hover_color_models" class="hover_color_models" type="text" name="" value="">
                  </li>
                  <li ng:show="css_pellet_mode.hover_border == true">
                    <span>Border</span>
                    <input ng:change="apply_stylesheet_in_views('border-color' , hover_border_models_color  , 'hover')" ng:model="hover_border_models_color" class="hover_border_models_color" type="text" name="" value="">
                    <select style="margin-right:10px;" ng:change="apply_stylesheet_in_views('border-style' , hover_border_style_models  , 'hover')" ng:model="hover_border_style_models">
                      <option value="none">None</option>
                      <option value="solid">Solid</option>
                      <option value="dashed">Dashed</option>
                      <option value="dotted">Dotted</option>
                    </select>
                      <ul class="border-lists">
                        <li>
                          <span>Left</span>
                          <select  ng:change="apply_stylesheet_in_views('border-left-width' , hover_border_left_models , 'hover')" ng:model="hover_border_left_models" class="select_borders">
                            <option value="0px">None</option>
                            <option value="1px">1px</option>
                            <option value="2px">2px</option>
                            <option value="3px">3px</option>
                            <option value="4px">4px</option>
                            <option value="5px">5px</option>
                          </select>
                        </li>
                        <li>
                          <span>Right</span>
                          <select ng:change="apply_stylesheet_in_views('border-right-width' , hover_border_right_models , 'hover')" ng:model="hover_border_right_models" class="select_borders">
                            <option value="0px">None</option>
                            <option value="1px">1px</option>
                            <option value="2px">2px</option>
                            <option value="3px">3px</option>
                            <option value="4px">4px</option>
                            <option value="5px">5px</option>
                          </select>
                        </li>
                        <li>
                          <span>Top</span>
                          <select ng:change="apply_stylesheet_in_views('border-top-width' , hover_border_top_models , 'hover')" ng:model="hover_border_top_models" class="select_borders">
                            <option value="0px">None</option>
                            <option value="1px">1px</option>
                            <option value="2px">2px</option>
                            <option value="3px">3px</option>
                            <option value="4px">4px</option>
                            <option value="5px">5px</option>
                          </select>
                        </li>
                        <li>
                          <span>Bottom</span>
                          <select ng:change="apply_stylesheet_in_views('border-bottom-width' , hover_border_bottom_models , 'hover')" ng:model="hover_border_bottom_models" class="select_borders">
                            <option value="0px">None</option>
                            <option value="1px">1px</option>
                            <option value="2px">2px</option>
                            <option value="3px">3px</option>
                            <option value="4px">4px</option>
                            <option value="5px">5px</option>
                          </select>
                        </li>
                      </ul>
                  </li>
                </ul>
                <!--  Selected Cases -->
                <h4 class="element_types" ng:if="selecotor_name == '.Answers'">Selected Answer Cases</h4>
                <ul>
                  <li ng:show="css_pellet_mode.selected_background == true">
                    <span>Background</span>
                    <input ng:change="apply_stylesheet_in_views('background-color' , selected_background_models , null , 'selected_answer')" ng:model="selected_background_models" class="selected_background_models" type="text" name="" value="">
                  </li>
                  <li ng:show="css_pellet_mode.selected_color == true">
                    <span>Color</span>
                    <input ng:change="apply_stylesheet_in_views('color' , selected_color_models, null , 'selected_answer')" ng:model="selected_color_models" class="selected_color_models" type="text" name="" value="">
                  </li>
                  <li ng:show="css_pellet_mode.selected_border == true">
                    <span>Border</span>
                    <input  ng:change="apply_stylesheet_in_views('border-color' , selected_border_models_color, null , 'selected_answer')" ng:model="selected_border_models_color" class="selected_border_models_color" type="text" name="" value="">
                    <select style="margin-right:10px;" ng:change="apply_stylesheet_in_views('border-style' , selected_border_style_models, null , 'selected_answer')" ng:model="selected_border_style_models">
                      <option value="none">None</option>
                      <option value="solid">Solid</option>
                      <option value="dashed">Dashed</option>
                      <option value="dotted">Dotted</option>
                    </select>
                      <ul class="border-lists">
                        <li>
                          <span>Left</span>
                          <select ng:change="apply_stylesheet_in_views( 'border-left-width', selected_border_left_models, null , 'selected_answer')" ng:model="selected_border_left_models" class="select_borders">
                            <option value="0px">None</option>
                            <option value="1px">1px</option>
                            <option value="2px">2px</option>
                            <option value="3px">3px</option>
                            <option value="4px">4px</option>
                            <option value="5px">5px</option>
                          </select>
                        </li>
                        <li>
                          <span>Right</span>
                          <select ng:change="apply_stylesheet_in_views('border-right-width' , selected_border_right_models, null , 'selected_answer')" ng:model="selected_border_right_models" class="select_borders">
                            <option value="0px">None</option>
                            <option value="1px">1px</option>
                            <option value="2px">2px</option>
                            <option value="3px">3px</option>
                            <option value="4px">4px</option>
                            <option value="5px">5px</option>
                          </select>
                        </li>
                        <li>
                          <span>Top</span>
                          <select  ng:change="apply_stylesheet_in_views('border-top-width' , selected_border_top_models, null , 'selected_answer')" ng:model="selected_border_top_models" class="select_borders">
                            <option value="0px">None</option>
                            <option value="1px">1px</option>
                            <option value="2px">2px</option>
                            <option value="3px">3px</option>
                            <option value="4px">4px</option>
                            <option value="5px">5px</option>
                          </select>
                        </li>
                        <li>
                          <span>Bottom</span>
                          <select ng:change="apply_stylesheet_in_views('border-bottom-width' , selected_border_bottom_models, null , 'selected_answer')" ng:model="selected_border_bottom_models" class="select_borders">
                            <option value="0px">None</option>
                            <option value="1px">1px</option>
                            <option value="2px">2px</option>
                            <option value="3px">3px</option>
                            <option value="4px">4px</option>
                            <option value="5px">5px</option>
                          </select>
                        </li>
                      </ul>
                  </li>
                </ul>
                <!-- <h4 class="element_types" ng:if="selecotor_name == '.Answers'">Correct Answer Cases</h4>
                <h4 class="element_types" ng:if="selecotor_name == '.Answers'">Wrong Answer Cases</h4> -->
              </div>
            </div>
          </li>
        </ul>
        <div class="button-container">
          <!-- <span class="title-editor-option">Editor Saving Option</span>
          <input type="checkbox" id="passing-grade" class="switch_1 input-checkboxes">
          <label for="passing-grade" style=" margin-left: 10px;">Auto save</label> -->
          <button ng:if="enable_css_mode == false" id="save_setting_change" ng:click="saving_quiz_settings();" type="button" class="btn btn-primary" name="button"> Apply Changes</button>
          <button ng:if="enable_css_mode == true"  id="save_css_change" ng:click="saving_quiz_stylesheet();" type="button" class="btn btn-danger" name="button"> Apply Changes</button>
        </div>
    </div>
</div>
