<!-- Redactor for texts  -->
<div class="setting-text-redactor" id="redactor-editor-menu"></div>
<div class="settings_menu">
              <div class="setting-title">
                  <span class="setting-iconx">
                    <i class="fa fa-times close-menu-icon"></i>
                  </span>
                  <!-- <span class="setting-title-x">
                    Settings
                  </span> -->
              </div>
               <div class="right-menu-settings">

                         <ul class="app-settings">
                          <li class="tasks">
                             <div class="control-item-header">
                                <a href="#" class="icon-toggle">
                                  <span class="caret-down fa fa-caret-down"></span>
                                </a>
                                <span class="text">General</span>
                             </div>
                             <div class="control-item-content open" style="height: auto;">
                                <!-- <div class="control-item-content-text">
                                   <span>Quiz Name</span>
                                   <input class="quiz-titlex " type="text" name="" value="" placeholder="Quiz Title">
                                   </div> -->
                                <div class="control-item-content-text">
                                  <div class="passing-grad-block">
                                    <div class="checkbox-toggle">
                                        <label class="labels-options lblxoption"> {> (application_settings.app_type == 0 ) ? "Survey" :"Quiz" <} Title</label>
                                        <input class="checkbox-toggle input-app-title" type="text" placeholder="App title" name="" ng:model="application_settings.questionnaire_title">
                                    </div>
                                  </div>
                                   <div class="passing-grad-block">
                                      <div class="checkbox-toggle">
                                         <input ng:model="application_settings.settings.grade_settings.is_graded" type="checkbox" id="check-toggle-2" class="switch_1 input-checkboxes">
                                         <label class="labels-options" for="check-toggle-2">Passing Grade</label>
                                      </div>
                                   </div>
                                   <div class="form-group">
                                      <div class="input-group bootstrap-touchspin xbootstrap-touchspin">
                                         <span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
                                         <input ng:model="application_settings.settings.grade_settings.value" id="demo1" type="text" value="" name="demo1" class="form-control" placeholder="Ex. 85%" style="display: block;">
                                         <!-- <span class="input-group-addon bootstrap-touchspin-postfix">%</span> -->
                                      </div>
                                   </div>
                                </div>
                                <div class="control-item-content-text">
                                   <div class="passing-grad-block">
                                      <div class="checkbox-toggle">
                                         <input ng:model="application_settings.settings.show_results_per_qs" type="checkbox" id="show-qs-pr" checked="" class="switch_1 input-checkboxes">
                                         <label for="show-qs-pr" class="show-qs-pr labels-options">Show result on each question</label>
                                      </div>
                                   </div>
                                   <div class="passing-grad-block">
                                      <div class="checkbox-toggle">
                                         <input ng:model="application_settings.settings.navigation_btns" type="checkbox" id="navigation-buttons" class="input-checkboxes switch_1">
                                         <label for="navigation-buttons" class="show-qs-pr labels-options">
                                           Enable navigation buttons
                                         </label>
                                      </div>
                                   </div>
                                   <div class="passing-grad-block">
                                       <div class="checkbox-toggle">
                                          <input ng:model="application_settings.settings.auto_slide" type="checkbox" id="check-toggle-e2" class="switch_1 input-checkboxes">
                                          <label class="labels-options" for="check-toggle-e2">Auto slide when select answers</label>
                                       </div>
                                   </div>
                                   <div class="passing-grad-block">
                                       <div class="checkbox-toggle">
                                          <input ng:model="application_settings.settings.allow_touch_move" type="checkbox" id="check-toggle-e2xx" class="switch_1 input-checkboxes">
                                          <label class="labels-options" for="check-toggle-e2xx">Allow touch move (Sliding) </label>
                                       </div>
                                   </div>
                                   <div class="passing-grad-block">
                                      <div class="checkbox-toggle">
                                         <input ng:model="application_settings.settings.retake_setting" class="input-checkboxes switch_1" type="checkbox" id="enable-button-retak">
                                         <label for="enable-button-retak" class="labels-options show-qs-pr">
                                         Enable Retake
                                         </label>
                                      </div>
                                   </div>
                                   <div class="passing-grad-block">
                                      <div class="checkbox-toggle">
                                         <input ng:model="application_settings.settings.review_setting" class="input-checkboxes switch_1" type="checkbox" id="enable-button-Review">
                                         <label for="enable-button-Review" class="show-qs-pr labels-options">
                                         Enable Review
                                         </label>
                                      </div>
                                   </div>
                                   <div class="passing-grad-block">
                                      <div class="checkbox-toggle">
                                         <input ng:model="application_settings.settings.randomize_settings" class="input-checkboxes switch_1" type="checkbox" id="Randomize-Questions">
                                         <label for="Randomize-Questions" class="show-qs-pr labels-options">
                                         Randomize Questions
                                         </label>
                                      </div>
                                   </div>
                                   <div class="passing-grad-block">
                                      <div class="checkbox-toggle">
                                         <input ng:model="application_settings.settings.progression_bar.is_available" class="input-checkboxes switch_1" type="checkbox" id="Randomize-Progress">
                                         <label for="Randomize-Progress" class="show-qs-pr labels-options">
                                           Use Progress bar
                                         </label>
                                      </div>
                                   </div>
                                </div>

                             </div>
                          </li>
                          <li class="tasks">
                             <div class="control-item-header">
                                <a href="#" class="icon-toggle">
                                <span class="caret-down fa fa-caret-down"></span>
                                </a>
                                <span class="text">Quiz Timer</span>
                             </div>
                             <div class="control-item-content" >
                                <div class="control-item-content-text">
                                   <div class="passing-grad-block">
                                      <div class="checkbox-toggle">
                                         <input ng:model="application_settings.settings.time_settings.is_with_time" class="input-checkboxes switch_1" type="checkbox" id="check-Timer-2" checked="">
                                         <label class="labels-options" for="check-Timer-2">Require Timeframe</label>
                                      </div>
                                   </div>
                                   <div class="time-fram-slidest">
                                     <span class="labels-options">Time Type :</span>
                                      <div class="checkbox-slide xheckbox-timframe">
                                        <label class="labels-options" for="time-type-slide">mins</label>
                                         <input ng:model="application_settings.settings.time_settings.timer_type" class="input-checkboxes switch_1" type="checkbox" id="time-type-slide">
                                         <label class="labels-options" for="time-type-slide">hrs</label>
                                      </div>
                                   </div>
                                   <div class="form-group input-group input-groupx">
                                      <input ng:show="application_settings.settings.time_settings.timer_type" ng:model="application_settings.settings.time_settings.hours" id="time-mask-input" type="number" class="form-control time-tracker-elem" aria-label="Text input with dropdown button" placeholder="hrs">
                                      <input ng:model="application_settings.settings.time_settings.minutes" id="time-mask-inputx" type="number" class="form-control time-tracker-elem" aria-label="Text input with dropdown button" placeholder="mins">
                                      <input ng:model="application_settings.settings.time_settings.seconds" id="time-mask-inputxsd" type="number" class="form-control time-tracker-elem" aria-label="Text input with dropdown button" placeholder="secs">
                                   </div>

                                </div>

                             </div>
                          </li>
                          <li class="tasks">
                             <div class="control-item-header">
                                <a href="#" class="icon-toggle">
                                <span class="caret-down fa fa-caret-down"></span>
                                </a>
                                <span class="text">Expiration</span>
                             </div>
                             <div class="control-item-content" >
                                <div class="control-item-content-text">
                                   <div class="passing-grad-block">
                                      <div class="checkbox-toggle">
                                         <input ng:model="application_settings.settings.expiration.is_set" class="input-checkboxes switch_1" type="checkbox" id="check-Timer-2xxf" checked="">
                                         <label class="labels-options" for="check-Timer-2xxf">Allow expiration date</label>
                                      </div>
                                   </div>
                                   <div class="form-group input-group input-groupx text-left for-x-daf">
                                      <input ng:model="application_settings.settings.expiration.through_time"   type="text" class="expire-though form-control " aria-label="Text input with dropdown button" placeholder="3 days">
                                      <span class="equal-this">days</span>
                                   </div>
                                   <div class="form-group input-group input-groupx text-left for-x-daf">
                                      <span class="equal-this">Expiration message</span>
                                      <input ng:model="application_settings.settings.expiration.title"   type="text" class="expire-title form-control " aria-label="Text input with dropdown button">
                                   </div>
                                </div>

                             </div>
                          </li>
                          <li class="tasks">
                             <div class="control-item-header">
                                <a href="#" class="icon-toggle">
                                <span class="caret-down fa fa-caret-down"></span>
                                </a>
                                <span class="text">Message and Texts</span>
                             </div>
                             <div class="control-item-content" >
                                <div class="control-item-content-text">
                                   <span class="screen-texts">Quiz Start text</span>
                                   <textarea ng:model="application_settings.settings.titles.title_start_with" class="quiz-titlex screen-redactors-strt-txt">Writ start Quiz</textarea>
                                </div>
                                <div class="control-item-content-text">
                                   <span class="screen-texts">Quiz End text</span>
                                   <!-- <input  type="text" name="" value="" placeholder=""> -->
                                   <textarea ng:model="application_settings.settings.titles.title_end_with" class="quiz-titlex screen-redactors-end-txt">You have successfully completed the this quizs</textarea>
                                </div>
                                <div class="control-item-content-text">
                                   <span class="screen-texts">Quiz Pass text:</span>
                                   <textarea ng:model="application_settings.settings.titles.title_success_with" class="quiz-titlex screen-redactors-scs-txt">You have passed this quiz</textarea>
                                </div>
                                <div class="control-item-content-text">
                                   <span class="screen-texts">Quiz Fail text:</span>
                                   <textarea ng:model="application_settings.settings.titles.title_failed_with" class="quiz-titlex screen-redactors-fld-txt">You have failed this quiz</textarea>
                                 </div>

                             </div>
                          </li>
                          <li class="tasks">
                             <div class="control-item-header">
                                <a href="#" class="icon-toggle">
                                <span class="caret-down fa fa-caret-down"></span>
                                </a>
                                <span class="text">Labels</span>
                             </div>
                             <div class="control-item-content" >
                                <div class="control-item-content-text">
                                   <span>Quiz Start Button:</span>
                                   <input ng:model="application_settings.settings.label_btns.lbl_start_with" class="quiz-titlex " type="text" name="" value="" placeholder=" Start Quiz">
                                </div>
                                <div class="control-item-content-text">
                                   <span>Restart Button</span>
                                   <input ng:model="application_settings.settings.label_btns.lbl_retake_with" class="quiz-titlex " type="text" name="" value="" placeholder="Retake Quiz">
                                </div>
                                <div class="control-item-content-text">
                                   <span>Continue Button</span>
                                   <input ng:model="application_settings.settings.label_btns.lbl_continue_with" class="quiz-titlex " type="text" name="" value="" placeholder="Continue">
                                </div>

                                <div class="control-item-content-text">
                                   <span>Review Button</span>
                                   <input ng:model="application_settings.settings.label_btns.lbl_review_with" class="quiz-titlex " type="text" name="" value="" placeholder="Continue">
                                </div>

                             </div>
                          </li>
                         </ul>
                         <div class="quiz-setting-handler">
                           <button ng:click="application_save_settings()" class="btn btn-primary btn-primary-outline saving-settings-changes" type="button" name="button">Save Changes</button>
                         </div>


                   <!-- +++++++++++++++++++++++ -->
               </div>
</div>
