<!-- Time Template 0  -->

     <span class="time-tracker">
       <span class="time-status">
         <!-- <span class="fa fa-clock-o"></span> -->
          <b>
            Time remaining :
          </b>
          <!--
            We don't know what does time format !
            is it minutes or hours ! ?
          -->

          <time class="hrs-timer time-obj">
            <span ng:if="__player_object.settings.time_settings.timer_type == true" class="hr">{>hours<}</span><span ng:if="__player_object.settings.time_settings.timer_type == true">:</span><span class="min">{>minutes<}</span>:<span class="sec">{>seconds<}</span>
          </time>

          <span>
            {> (__player_object.settings.time_settings.timer_type == 0 )? 'min(s)' : (hours <= 1 ) ?'min(s)' : 'hr(s)'<}
          </span>
        </span>
     </span>
