<!--  Progress bar -->
<span class="progression-bar select_texts" ng:mouseover="show_hovred_element('select_texts' , this )">
   Question <span class="current-question">{>curren_question_slide<}</span> of {> __player_object.questions.length <}
</span>

<div class="progress-bar select_box">
     <div class="progress-highlighted select_box"></div>
</div>


<!-- Time Template 0  -->
 <span class="time-tracker" style="float:right;">
       <span class="time-status select_texts" ng:mouseover="show_hovred_element('select_texts')">
          <b>
            Time remaining :
          </b>
          <time class="hrs-timer time-obj select_numbers">
            <span ng:if="__player_object.settings.time_settings.timer_type == true" class="hr">{>__player_object.settings.time_settings.hours<}</span><span ng:if="__player_object.settings.time_settings.timer_type == true">:</span><span class="min">{>__player_object.settings.time_settings.minutes<}</span>:<span class="sec">{>__player_object.settings.time_settings.seconds<}</span>
          </time>
          <span>
            {> (__player_object.settings.time_settings.timer_type == 0 )? 'min(s)' : (hours <= 1 ) ?'min(s)' : 'hr(s)'<}
          </span>
        </span>
 </span>



     <!-- <div class="timeframe-container">
                 <div id='time-frame-pie'>
                    <div class='outer-shadow'></div>
                    <div class='inner-shadow'>
                       <span>
                       <span>15</span><span class="sec-min">:00</span>
                       </span>
                       <span>min</span>
                    </div>
                    <div class='timer'>
                       <div class='dot'>
                          <span></span>
                       </div>
                       <div class='hold' id='left'>
                          <div class='pie'></div>
                       </div>
                       <div class='hold' id='right'>
                          <div class='pie'></div>
                       </div>
                    </div>
                 </div>
      </div> -->
