<!-- <span class="progression-bar select_texts" ng:mouseover="show_hovred_element('select_texts' , this )">
   Question <span class="current-question">{>curren_question_slide<}</span> of {> __player_object.questions.length <}
</span>

<div class="progress-bar select_box">
     <div class="progress-highlighted select_box"></div>
</div> -->
