<!-- progression_bar Template 0  -->
     <span class="progression-bar">
       Question {> curren_question_slide <} of {> __player_object.questions.length <}
     </span>

     <!-- Progress bar -->
     <div class="progress-bar">
       <div class="progress-highlighted"></div>
     </div>
